<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">
	 <table>
	 <thead>
	 		<tr>
				<th width="15%" class="tableheader">Institution Name</th>
				<th width="15%" class="tableheader">Lib./Dept. Name</th>
				<th width="7%" class="tableheader">Country</th>
				<th width="10%" class="tableheader">Primary Contact Name</th>
				<th width="10%" class="tableheader">Status</th>
				<th width="10%" class="tableheader">New IP Requests</th>
				<th width="25%" align="center" class="tableheader">Actions</th>
	 		</tr>
	 </thead>
	 <tbody>
			<% @res.each do |f| %>
	 	<tr>
				<td bgcolor="#ffe5db"><%= f.institution_name %></td>
				<td bgcolor="#ffe5db"><%= f.libary_name %></td>
				<td bgcolor="#ffe5db"><% @country %></td>
				<td bgcolor="#ffe5db">
						<%= @ins.first_name %>
				</td>
				<% byebug %>
				<td bgcolor="#ffe5db"><%= f.status %></td>
				<td bgcolor="#ffe5db">
					<%if @chec.present? %>
							yes
					<%else%>
						 no
					<%end%>
				</td>
				<td bgcolor="#ffe5db">
					<%= image_tag("IP.gif")%>
					<%= image_tag("Library_User.png")%>
					<%= image_tag("User_Subscription.png")%><br>
					<%= image_tag("license.gif")%>
					<%= image_tag("Referral_URL.png")%>
					<%= image_tag("managins_user.gif")%>
				</td>
		</tr>
			<%end%>

			

	 </tbody> 
	</table>
		</div>
</body>


