<body class="body1"></body>
<%= render :partial => '/layouts/header' %>
<div class="div1">
  <table border="0" cellpadding="0" cellspacing="0" width="860">
    <tr>
      <td class="page_head">Search License</td>
    </tr>
    <tr>
      <td align="left"></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <%= form_tag search_licenses_path, :id => "search_license" ,:method => 'get' do %>
        <td>
          <table align="left" border="0" cellpadding="10" cellspacing="0">
            <tbody>
              <tr>
                <td height="25" width="171">Publisher</td>
                <td height="25" width="414">
                  <%= collection_select(nil, :id, Publisher.all, :id, :pub_name) %>
                </td>
              </tr>
              <tr>
                <td height="25" width="149">License ID</td>
                <td height="25">
                  <%= text_field_tag :lic_id %>
                </td>
              </tr>
              <tr>
                <td height="25">License Name</td>
                <td height="25" width="436">
                  <%= text_field_tag :lic_name %>
                </td>
              </tr>
              <tr>
                <td height="25">License Type</td>
                <td height="25">
                  <%= text_field_tag :lic_type %>
                </td>
              </tr>
              <tr>
                <td height="25">Content Identifier</td>
                <td height="25">
                  <%= text_field_tag :ISBN %>
                </td>
              </tr>
              <!-- %tr
              -->
              <!--   %td{:height => "25"} Created By
              -->
              <!--   %td{:height => "25"}
              -->
              <!--     = text_field_tag :created_by
              -->
              <!-- %tr
              -->
              <!--   %td{:height => "25"} Saleability
              -->
              <!--   %td{:height => "25"}
              -->
              <!--     %select#select2{:name => "LIC_FOR_SALE"}
              -->
              <!--       %option{:selected => "selected", :value => ""} Select
              -->
              <!--       %option{:value => "Y"} For Sale
              -->
              <!--       %option{:value => "N"} Not For Sale
              -->
              <tr>
                <td height="25">Search License to Apply Discounts</td>
                <td height="25">
                  <%= check_box_tag(:apply_discount) %>
                </td>
              </tr>
              <tr>
                <td align="right" class="GBoldText"></td>
                <td align="left" class="GBoldText">
                  <%= submit_tag "Search" %>
                  <input class="submit_btn" type="reset" value="Reset"></input>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      <% end %>
    </tr>
  </table>
</div>
