%body{:class => "body1"}
= render :partial => '/layouts/header'
%div{:class=>"div1"}
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "860"}
    %tr
      %td.page_head Search License
    %tr
      %td{:align => "left"}  
    %tr
      %td
    %tr
      = form_tag search_licenses_path, :id => "search_license" ,:method => 'get' do
        %td
          %table{:align => "left", :border => "0", :cellpadding => "10", :cellspacing => "0"}
            %tbody
              %tr
                %td{:height => "25", :width => "171"} Publisher
                %td{:height => "25", :width => "414"}
                  = collection_select(nil, :PUB_PUBLISHER_ID, Publisher.all, :id, :PUB_NAME)
              %tr
                %td{:height => "25", :width => "149"} License ID
                %td{:height => "25"}
                  = text_field_tag :LIC_LICENSE_CODE
              %tr
                %td{:height => "25"} License Name
                %td{:height => "25", :width => "436"}
                  = text_field_tag :LIC_LICENSE_NAME
              %tr
                %td{:height => "25"} License Type
                %td{:height => "25"}
                  //= collection_select(nil, :lic_type, TransactionDetail.all, :id, :LIC_LICENSE_TYPE)
              %tr
                %td{:height => "25"} Content Identifier
                %td{:height => "25"}
                  = text_field_tag :LIC_ISBN_IDENTIFIER
              %tr
                %td{:height => "25"} Created By
                %td{:height => "25"}
                  = text_field_tag :CREATED_BY
              %tr
                %td{:height => "25"} Saleability
                %td{:height => "25"}
                  %select#select2{:name => "LIC_FOR_SALE"}
                    %option{:selected => "selected", :value => ""} Select
                    %option{:value => "Y"} For Sale
                    %option{:value => "N"} Not For Sale
              %tr
                %td{:height => "25"} Search License to Apply Discounts
                %td{:height => "25"}
                  = check_box_tag(:apply_discount)
              %tr
                %td.GBoldText{:align => "right"}  
                %td.GBoldText{:align => "left"}
                  = submit_tag "Search"
                  %input.submit_btn{:type => "reset", :value => "Reset"} 