<body class="body1"></body>
<div class="div1">
  <tr>
    <td colspan="2">
      <table bgcolor="#cccccc" border="0" cellpadding="10" cellspacing="1" width="100%">
        <tbody>
          <tr>
            <td class="tableheader">Publisher</td>
            <td class="tableheader">Id</td>
            <td class="tableheader">Name</td>
            <td class="tableheader">Type</td>
            <td class="tableheader">Saleable</td>
            <td class="tableheader">Linkable From</td>
            <td class="tableheader">Linkable To</td>
            <td class="tableheader">Created By</td>
          </tr>    
          <% if @license .present? %>
            <% @license.each do |lic| %>
              <tr>
                <td bgcolor="#FBFBFB">
                  <%= lic.publisher_id %>
                </td>
                <td bgcolor="#FBFBFB" id="40521Code">wtbooks-LIC-6HRYX1E5P8</td>
                <td bgcolor="#FBFBFB">
                  <%= link_to lic.license_name %>
                </td>
                <td bgcolor="#FBFBFB" id="40521Type">Downloadable Content</td>
                <td bgcolor="#FBFBFB">
                  <%= lic.license_for_sale %>
                </td>
                <td bgcolor="#FBFBFB">
                  <%= lic.from %>
                </td>
                <td bgcolor="#FBFBFB">
                  <%= lic.to%>
                </td>
                <td bgcolor="#FBFBFB">
                  <%= lic.created_by %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
              <td bgcolor="#FBFBFB">-</td>
            </tr>
          <% end %>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </div>
</body>