<body>
  <%= render :partial => '/layouts/header' %>
  <div class="div1">
    <tr>
      <td colspan="2">
        <table bgcolor="#cccccc" border="0" cellpadding="10" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td class="tableheader">Publisher</td>
              <td class="tableheader">Id</td>
              <td class="tableheader">Name</td>
              <td class="tableheader">Type</td>
              <td class="tableheader">Saleable</td>
              <td class="tableheader">Linkable From</td>
              <td class="tableheader">Linkable To</td>
              <td class="tableheader">Created By</td>
            </tr>
            <tr>
              <% if @license.present? %>
                <% @license.each do |lic| %>
                  <td bgcolor="#FBFBFB">
                    <%= lic.PUB_PUBLISHER_ID %>
                  </td>
                  <td bgcolor="#FBFBFB" id="40521Code">wtbooks-LIC-6HRYX1E5P8</td>
                  <td bgcolor="#FBFBFB">
                    <%= link_to lic.LIC_LICENSE_NAME,("") %>
                  </td>
                  <td bgcolor="#FBFBFB" id="40521Type">Downloadable Content</td>
                  <td bgcolor="#FBFBFB">
                    <%= lic.LIC_FOR_SALE %>
                  </td>
                  <td bgcolor="#FBFBFB">
                    <%= lic.LIC_LINK_FROM_DATE %>
                  </td>
                  <td bgcolor="#FBFBFB">
                    <%= lic.LIC_LINK_TO_DATE %>
                  </td>
                  <td bgcolor="#FBFBFB">
                    <%= lic.CREATED_BY %>
                  </td>
                <% end %>
              <% else %>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
                <td bgcolor="#FBFBFB">-</td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </div>
</body>