<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%> 

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-4 col-md-3 ">
          <%= render :partial => "subject_sidebar"%>
        </div>

        <div class="col-sm-8 col-md-9 mar-b50" > 
          <div class="col-sm-12 no-lr-pad">
            <div id= 'pub_book'>
              
              <div class="row">
    <div class="col-sm-12 ">
      <div class="border_wrapper padding10px">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="sectionHeading">CONTACT US </h1>
            <div class="col-sm-12 form_bg no-pad">
              <div class="col-sm-8">
                <p><em>Fields marked with<sup class="mandatory">*</sup>are compulsory</em> </p>
                <br>
                <form action="search.do" method="get" id="advanceSearchForm" class="form-horizontal ">
                  <fieldset>
                    <div class="form-group  ">
                      <label class="col-md-3" for=""> Your name: <sup class="mandatory">*</sup></label>
                      <div class="col-md-6">
                        <input name="title" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="form-group  mt-20">
                      <label class="col-md-3" for=""> Your email: <sup class="mandatory">*</sup></label>
                      <div class="col-md-6">
                        <input name="title" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="form-group  mt-20">
                      <label class="col-md-3" for=""> Subject:</label>
                      <div class="col-md-6">
                        <input name="title" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="form-group  mt-20">
                      <label class="col-md-3" for=""> Your message: <sup class="mandatory">*</sup> </label>
                      <div class="col-md-6">
                        <textarea class="form-control" type="textarea" id="message" maxlength="140" rows="7"></textarea>
                      </div>
                    </div>
                    
                    <div class="form-group  mt-20">
                      <label class="col-md-3" > &nbsp;</label>
                      <div class="col-md-6">
                        <button class="btn btn-primary">Send Message</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="col-sm-4">
                <h1 class="text_uppercase contact_heading">Address</h1>
                <p><%= @publisher.publisher_address.presence || "" %> <br>
                  <%= link_to @publisher.domain_name, "http://www.#{@publisher.domain_name}"%><br>
                <b>Email-</b><%= link_to @publisher.contact_email, "mailto:#{@publisher.contact_email}"%>
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6044.328639547161!2d-74.003225!3d40.7584105!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259b352d8f061%3A0x86c598ed2f832442!2s612+W+37th+St%2C+New+York%2C+NY+10018%2C+USA!5e0!3m2!1sen!2sin!4v1408957590195" width="100%" height="350" frameborder="0" style="border:0"></iframe>
                <!-- <img src="./templates/template1/haylmed/images/contactus-img.png" alt="" title="" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


            </div>
          </div>
        </div>



      </div>
    </div>

    <footer>
      <%= render :partial => "homes/publisher_footer"%>
    </footer>

</section>        