<div class="row">
  <div class="col-md-12">
    <div class="mt10 table-demo">Search Result 
      <span class="pull-right">
        <div class="dropdown">
          <ul class="nav">
            <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul class="dropdown-menu-right">
                <li><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                <li><a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <th>Book Title</th>
            <th>ISBN</th>
            <th>Language</th>
            <th>Publisher ID</th>
            <th>Images</th>
          </tr>
        </thead>
        <tbody>
          <% if @books_search.present? %>
            <% @books_search.each do |f| %>
              <tr>
                <td><%= f.book_title %></td>
                <td><%= f.isbn %></td>
                <td><%= f.language %></td>
                <td><%= f.publisher_id %></td>
                <td><%= link_to image_tag(f.logo.url(:thumb)), site_setting_new_path(f) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td bgcolor="#FBFBFB">
                <p> Record Not Found </p> 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>