<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%>

  <div class="container mt20">

    <div class='row'>
      <div class="col-sm-12">
        <div id='pub_book'>  
          
          <!--book title -->
          
           <!-- / breadcrumb_bar -->
<div class="breadcrumb_bar clearfix">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Books By Title</li>
    </ol>
  </div>
  <!-- /container --> 
</div> 
 
<!-- / breadcrumb_bar -->

<!-- / main_content_section -->

<div class="main_content_section">
  <div class="container">
    <div class="common_tittle clearfix"> Books By <span>Title</span> </div>
    <div class="content_wrapper">
      <ul class='pagination'>
      <% ('A'..'Z').each do |letter| %> 
        <li>
          <%= link_to letter, books_by_title_homes_path(:letter=>letter)%>
        </li>
      <%end%>
    </ul>
      <!-- / showing_records_bar -->
      <div class="showing_records_bar">
        <div class="row">
        <div class="col-md-12 col-xs-12 mt-20">
        
          <div class="bg-gray">
            <div class="col-md-12  bg-gray mt20">
              <div class="pull-left mt5">
               <%= page_entries_info @books %>
              </div>
              <div class="pull-right bottomUl">
               <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
              </div>
            </div>

          <div class="clearfix"></div>
        </div>
        
      </div>
          </div>
      </div>
<!-- / showing_records_bar_end -->
           
           <!-- / list_of_records -->
           
      <div>
        <div class="row">
            <% if @books.present? %>
              <% @books.each do |f| %>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="product_list_box">
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                         <%= link_to image_tag("http://www.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{f.isbn}-T-FC.jpg",class: "img-responsive center-block img_border margin_bottom_10px"), books_description_homes_path(:book_id => f.id) %>
                         </div>
                        <div class="col-xs-12 col-sm-8 col-md-8">
                          <div class="product_detail">
                            <div class="product_tittle">
                            <%= link_to f.book_title, books_description_homes_path(:book_id => f.id) %>
                            </div>
                            <h4><strong>By :</strong> <%= (f.books_contributor.first_name.presence || "")+" "+(f.books_contributor.last_name.presence || "") %></h4>
                            <p><strong>Description :</strong>
                            <% if f.book_blurb.length > 2 %>
                              <%= truncate(f.book_blurb, length: 182) %>
                              <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
                              <script>
                                $('.read-more-<%= f.id %>').on('click', function(e) {
                                  e.preventDefault()
                                  $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
                                })
                              </script>
                            <% end %>
                            </p>
                           </div>
                        </div>
                      </div>
                    </div>
                </div>
              <% end %>
            <% end %>
        </div>                   
      </div>
       
       <!-- / list_of_records_end -->
       
       <!-- / showing_records_bar -->
      

      <div class="showing_records_bar">
              
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 pd_top7">
              Showing 1 to <%= @books.count%>
           </div>
          <div class="col-xs-12 col-sm- text-right col-md-6">
           <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
          </div>
        </div>
       
      </div>

       <!-- / showing_records_bar_end -->
     </div>
  </div>
</div>
</div>

<!-- / clients_section end --> 
 
          
          <!--book title end-->
          
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <%= render :partial => "larsen_and_keller_footer"%>
  </footer>

</section>
<script>
  $('ul.pagination li').each(function() {
    if($(this).text().trim()== "<%= @letter%>"){
     $(this).addClass("active");
    }
  });
</script>