<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%>

  <div class="container mt20">

    <div class='row'>
      <div class="col-sm-12">
        <div id='pub_book'>  
          
          <!-- Book DEScription-->

          <!-- / breadcrumb_bar -->
<div class="breadcrumb_bar clearfix">
  <div class="container">
    <ol class="breadcrumb">
      <li>Home</li>
      <li class="active"><%= @book_information.book_title %></li>
    </ol>
  </div>
  <!-- /container --> 
</div> 

<!-- / breadcrumb_bar -->

<!-- / main_content_section -->
<div class="main_content_section">
  <div class="container">
    <div class="content_wrapper">
      <div class="detail_common_tittle clearfix"> 
        <span><%= @book_information.book_title %></span> 
      </div>
      <div class="">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3"><a href="#"> 
            <%= image_tag "http://www.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{@book_information.isbn}-T-FC.jpg", class: 'img-responsive center-block img_border margin_bottom_10px' %> 
             </a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="product_detail">
              <h4><strong>ISBN :</strong> <%= @book_information.isbn.presence || "" %></h4>
              <h4><strong>Publisher :</strong> <%= @publisher.publisher_name.presence || "" %></h4>
              <h4><strong>Language :</strong><%= @book_information.language.presence || "" %></h4>
              <% unless @book_information.subject_groups.blank? %>
                <h4><strong>Category :</strong> <%= @book_information.subject_groups.first.subject_group_name.presence || "" %>
                </h4>
              <% end %>
              <% unless @book_information.publication_date.blank? %> 
                <h4><strong>Publication Year :</strong> <%= @book_information.publication_date.to_date.year.presence || "" %></h4>
              <%end%>
              <h4><strong>Price :</strong> USD  <%=number_with_precision(@book_information.book_price, :precision => 2) %></h4>
              <% if @book_information.books_content_pricing.present? %>
                <h4><strong>Format :</strong>  <%=@book_information.books_content_pricing.format.presence || "" %></h4>
              <% end %>
              <h4><strong>Description :</strong> <br>
                <%= @book_information.book_blurb.presence || "" %>
              </h4>
              <h4><strong>Author/Editor :</strong><% @book_information.books_contributors.uniq.each do |book_contributor| %>
                  <%= book_contributor.first_name.presence || ""%>&nbsp<%= book_contributor.last_name.presence || ""%>
                <%end%> <br>
              <%= @book_information.books_contributors.first.description.presence || "" %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- / clients_section end --> 



          
          <!--Book DEScription END-->
          
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <%= render :partial => "larsen_and_keller_footer"%>
  </footer>

</section>    