<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%>

  <div class="container mt20">

    <div class='row'>
      <div class="col-sm-12">
        <div id='pub_book'>  
          
          <div  style="padding-bottom:90px;">
            <div class="row">
              <section class="col-md-12  mt30">
                <div class="border_wrapper padding10px ">
                  <div id="bodydivs">
                    <h2 class="heading1 border_bottom mb20">
                      Contact Us
                    </h2>
                    <div class="clearfix"></div>
                      <%= form_tag send_mail_homes_path , :class => "col-md-8 col-sm-7 form-horizontal grayContainer padding10px margin_top10px nomargin" do %>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>  
                        <p class="margin_bottom10px pull-left">
                          <em>Fields marked with&nbsp;<span class="red">*</span>&nbsp;are compulsory</em>
                        </p>
                        <span class="clearfix"> </span>
                        <div class="control-group margin_bottom10px">
                          <label class="control-label" for="inputName">Your name:<span class="red">*</span></label>
                        <div class="controls">
                          <%= text_field_tag :name,"", :class => "form-control input-lg" %>
                        </div>
                      </div>
              <div class="control-group">
                <label class="control-label">Your email:<span class="red">*</span></label>
                <div class="controls">
                  <%= text_field_tag :email,"", :required => true ,:class => "form-control input-lg" %>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Subject:</label>
                <div id="defaultDiv" style="display: block">
                  <div class="controls">
                    <%= text_field_tag :subject,"", :class => "form-control input-lg" %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Your message:<span class="red">*</span></label>
                <div class="controls">
                <%= text_area_tag :message,"", :class => "form-control input-lg", :style => "resize:none;", :cols => "40", :rows => "5" %>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for=""></label>
                <div class="controls">
                  <input name="submit" value="Send Message" class="btn btn-primary btn-inverse pull-right" type="submit">
                  <p></p>
                </div>
              </div>
            <% end %>

            <div class="add_text2 col-md-4 col-sm-5 text-center">
              <%= image_tag("http://www.#{@publisher.domain_name}.com/templates/template1/#{@publisher.publisher_code}/images/contact_us.jpg", :style => "width:75%;")%>
              <p>
                <strong>Address</strong>
              </p>
              <p> <%= @publisher.publisher_address.presence || "" %> </p>
              <p>
                <strong>Email</strong><br>
               <span class="clr_red"><i class="glyphicon glyphicon-envelope"></i> </span> <%= link_to @publisher.contact_email, "mailto:#{@publisher.contact_email}"%></p>
            </div>
            <div class="clearfix"></div>
           </div>
        </div>
      </section>
    </div>
  </div>


          
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <%= render :partial => "larsen_and_keller_footer"%>
  </footer>

</section>    