<html>
  <body class = "body1">
		<table>
      <tr>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Primary Content Information</td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Contributors        </td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Pricing        </td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Access Rules        </td>
        <td align="center" background="images/step_bg_over.gif" bgcolor="#FFFFFF"><strong>SEO Configuration</strong>        </td>
      </tr>
    </table>
	  <tr><td class="page_head">Content Access Rules</td></tr>
	  <tr><td align="left"></td></tr>
	  <tr><td align="right">&nbsp;</td></tr>
		<%= form_for  @book_content_access_rule, url: books_content_access_rules_create_path do |f| %>
	    <table border="0" cellspacing="0" cellpadding="10">
	      <tr>
	        <td>Territorial List Type</td>
	        <td><%= f.select(:territorial_list_type, options_for_select([['INC','INC'],[' EXC','EXC']]))  %></td>
	      </tr>
	      <tr>
	        <td valign="top">Territorial List</td>
	        <td><%= f.text_area :territorial_list %></td>
	      </tr>
	      <tr>
	        <td colspan="4" valign="top"><strong>ContentStore Viewing Rules</strong></td>
	      </tr>
	      <tr>
	        <td valign="top">Landing Page</td>
	        <td><%= f.text_area :landing_page %></td>
	        <td valign="top">Viewability Percentage</td>
	        <td><%= f.text_area :viewability_percentage %></td>
	      </tr>
	      <tr>
	        <td valign="top">Exclude Pages from Display</td>
	        <td><%= f.text_area :exclude_pages_from_display %></td>
	        <td valign="top">Total Free Page Before Purchase</td>
	        <td><%= f.text_area :total_free_pages_before_purchase %></td>
	      </tr>
	      <tr>
	        <td valign="top">Total Free Page Before Login</td>
	        <td><%= f.text_area :total_free_page_before_login %></td>
	        <td valign="top">&nbsp;</td>
	        <td valign="top">&nbsp;</td>
	      </tr>
	      <tr>
	        <td colspan="4" valign="top"><strong>Book Search Index Rules</strong></td>
	      </tr>
	      <tr>
	        <td valign="top">Exclude Pages from External Index</td>
	        <td><%= f.text_area :exclude_pages_from_external_index %></td>
	        <td valign="top">Percentage of Pages or Actual Pages Index-able</td>
	        <td><%= f.text_area :actual_pages_indexable %></td>
	      </tr>
	      <tr>
	        <td colspan="4" valign="top"><strong>ContentStore Search Partner Rules</strong></td>
	      </tr>
	      <tr>
	        <td valign="top">Percentage of Pages or Actual Browsable Pages</td>
	        <td><%= f.text_area :actual_browsable_pages %></td>
	        <td valign="top">Percentage of Pages or Actual Printable Pages</td>
	        <td><%= f.text_area :actual_printable %></td>
	      </tr>
	      <tr>
	        <td valign="top">Percentage of Pages or Actual Allowed Copying Pages</td>
	        <td><%= f.text_area :actual_allowed_copying_pages %></td>
	        <td valign="top">&nbsp;</td>
	        <td valign="top">&nbsp;</td>
	      </tr>
	      <tr>
	        <td valign="top">Subject Group</td>
	        <td><%= f.text_area :subject_group %></td>
					<td><%= f.button "Add" %></td>
					<td><%= f.button "Remove" %></td>
	      </tr>
	      <tr>
	        <td colspan="4" valign="top"><strong>Page Access Information</strong></td>
	      </tr>
	      <tr>
	        <td valign="top">Number of Page</td>
	        <td><%= f.text_area :number_of_page %></td>
	        <td valign="top">Free Matter</td>
	        <td><%= f.text_area :free_matter %></td>
	      </tr>
	      <tr>
	        <td valign="top">First Page of Full Text</td>
	        <td><%= f.text_area :first_page_of_full_text %></td>
	        <td valign="top">Last Page of Full Text</td>
	        <td><%= f.text_area :last_page_of_full_text %></td>
	      </tr>
	      <tr>
	       <td><%= f.submit "Finish" %></td>
	      </tr>
    	</table>
  	<% end %>
  </body>
</html>
