<!doctype html>
<html>
<head>
<title>Content Store :: Library Users </title>
<!-- Latest compiled and minified CSS -->

    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
           <li><a href="#">Home</a></li>
         <li><a> Manage User Account </a></li>
      </ol>

      <h2 class="H2-L1">Registration For Library User</h2>
      <h6>* All Fields are Mandatory</h6>
      <%= form_for(@library_user) do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">First Name<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :first_name , :class => "form-control",:required => true, :placeholder => "First Name"  %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">Last Name<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :last_name ,:required => true, :class => "form-control", :placeholder => "Last Name"  %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">Email<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.email_field :email ,:required => true, :class => "form-control", :placeholder => "Email"  %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">Member Id/User Name<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :user_name ,:required => true, :class => "form-control", :placeholder => "User Name"  %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">Password<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.password_field :password ,:required => true, :class => "form-control", :placeholder => "Password"  %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">Password Confirmation<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.password_field :password_confirmation , :class => "form-control", :placeholder => "Confirm Password"  %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
             <label for="bookISBN" class="col-sm-4 nopadding">Country</label>
            <span class="col-sm-8">
              <% country_name %>
              <%=  f.select "country_code", options_from_collection_for_select(@country, "country_code", "country_name"),{prompt: "Select Country"}, {:class => "form-control", style: "background-color: #eee;"} %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 nopadding">Status<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.select 'status',options_for_select(['active', 'inactive', 'pending']), {:prompt => "Select Status"}, {:class => "form-control", style: "background-color: #eee;"} %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">

            <%= button_tag fa_icon("search", text: "Submit"), :class => "btn btn-sm", type: :submit %>

            <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-sm" ,type: :reset%>
          </div>
        </div>
      <% end %>
    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>
