<!doctype html>        
<html>
<head>
<title>Content Store :: Institutional Account </title>
<!-- Latest compiled and minified CSS -->

    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <div class="row" id="searchResultGrid">
  <div class="col-md-12">
    <div class="mt10 table-demo">Search Result
    	<span class="pull-right">
	      <div class="dropdown">
	        <ul class="nav">
	          <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
	            <ul class="dropdown-menu-right">
	              <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
	              <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
	              <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
	            </ul>
	          </li>
	        </ul>
	      </div>
      </span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <th>Member Id/Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
					<% if @library_users.present? %>
					<% @library_users.each do |f| %>
 					<tr>
						<td class="tabledata" >						
							<%= link_to (f.user_name), edit_library_user_path(f) %>
						</td>
						<td class="tabledata">						
							<%= f.first_name %>
						</td>
						<td class="tabledata">						
							<%= f.last_name %>
						</td>
						<td class="tabledata">						
							<%= f.email %>
						</td>
					</tr>
					<% end %>
				<% else %>
					<tr>
						<td>
							Records not found
						</td>
					</tr>
				<% end %>
    		</tbody>
      </table>
			<%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i>Create New User'.html_safe, new_library_user_path(@institution_id), :id => "button_id", :class => "btn btn-sm pull-left", method: "get"  %>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>

    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>
