<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @library_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @library_user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @library_user.email %>
</p>

<p>
  <strong>User name:</strong>
  <%= @library_user.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @library_user.password %>
</p>

<p>
  <strong>Confirm password:</strong>
  <%= @library_user.password_confirmation %>
</p>

<p>
  <strong>Country:</strong>
  <%= @library_user.country %>
</p>

<p>
  <strong>Status:</strong>
  <%= @library_user.status %>
</p>

<%= link_to 'Edit', edit_library_user_path(@library_user) %> |
<%= link_to 'Back', library_users_path %>
