<div class="row">
  <div class="col-md-12">
    <div class="mt10 table-demo">Books 
      <span class="pull-right">
        <!-- <div class="dropdown">
          <ul class="nav">
            <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul class="dropdown-menu-right">
                <li><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                <li><a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
              </ul>
            </li>
          </ul>
        </div> -->
      </span>
    </div>
    <div class="table-responsive">
      <% if @books_search.present? %>

        <%= form_tag simple_search_site_settings_path, :method => 'get', :remote => true, :class => "form-horizontal form-bg" do |f| %>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskName" class="col-sm-4 control-label">ISBN</label>
              <div class="col-sm-8">
                <%= text_field_tag :isbn,"", :class => "form-control"%>
              </div>
              <% @books_search.each do |f| %>
                <%= hidden_field_tag :publisher_id,  f.publisher_id %>
              <% end %>
            </div>
          </div>
          <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit, :id => "submit" %>
        <% end %>
        <table class="table table-bordered">
          <thead>
            <tr style="font-size:13px">
              <th>Book Title</th>
              <th>ISBN</th>
              <th>Language</th>
              <th>Images</th>
            </tr>
          </thead>
          <tbody>
            <% @books_search.each do |f| %>
              <tr>
                <td><%= f.book_title %></td>
                <td><%= f.isbn %></td>
                <td><%= f.language %></td>
                <td><%= link_to image_tag(f.logo.url(:thumb)), new_site_setting_path(f) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <tr>
          <td bgcolor="#FBFBFB">
            <p> Record Not Found </p> 
          </td>
        </tr>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>