<!doctype html>
<html>
<head>
<title>Content Store :: Site Settings</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
  <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a>Publisher Setup</a></li>
        <li><a>Site Settings</a> </li>
        <div class="pull-right hidden">
          <li><a href="#">Browse by Chapter</a></li>
          <li><a href="#">Browse by Book </a></li>
        </div>
      </ol>  
      <h2 class="H2-L1">Book Details</h2>
      <%= link_to "Back", :back, :class => "btn btn-sm"%>
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <div class="pageHeading"><th>Book Title</th></div>
            <th>ISBN</th>
            <th>Language</th>
            <th>Publisher Name</th>
            <th>Book Image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @books_details.book_title %></td>
            <td><%= @books_details.isbn %></td>
            <td><%= @books_details.language %></td>
            <td><%= @books_details.publisher.publisher_name %></td>
            <% if @books_details.publisher.id == 10 %>
              <td><%= image_tag("http://ebooks.#{@books_details.publisher.domain_name}.com/static/templates/template1/#{@books_details.publisher.publisher_code}/thumbnails/#{ @books_details.isbn}-T-FC.jpg",class: "ownBookImg") %></td>
            <%else%>
              <td><%= image_tag("http://www.#{@books_details.publisher.domain_name}.com/static/templates/template1/#{@books_details.publisher.publisher_code}/thumbnails/#{ @books_details.isbn}-T-FC.jpg",class: "ownBookImg") %></td>
            <%end%>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="clearfix m-b-30"></div>
      <div id="search_result"></div>
    </div>
      <!-- Page Content Ends --> 
      <!-- ================== --> 
    
      <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section>
</body>
</html>
