<html>
<body class = "body1">
<div class="div1">
	<table>
	 	<thead>
	 		<th class="page_head">Site Settings: <%= @pubname.PUB_NAME %></th>
	 	</thead>
	</table>
	<div class="center">
		<table>
			<tr>
				<td class="gindexborder">
					<%= image_tag("homepage.gif") %><br>
					<%= link_to "Homepage Management",printhouse_setup_search_path%>
				</td>
				<td class="gindexborder">
					<%= image_tag("content_classification.gif") %><br>
					<%= link_to "Homepage Content Classification",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%= image_tag("viewing_limit.gif") %><br>
					<%= link_to "Viewing Limit",printhouse_setup_search_path %>
				</td>
			</tr>
			<tr>
				<td class="gindexborder">
					<%=  image_tag("country_pref.gif") %><br>
					<%= link_to "Country Preferences",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%= image_tag("license_home.gif") %><br>
					<%= link_to "License and License groups",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%=  image_tag("publisher_static.png") %><br>
					<%= link_to "Publisher Static Data setting",printhouse_setup_search_path %>
				</td>
			</tr>
			<tr>
				<td class="gindexborder">
					<%=  image_tag("email_temp.gif") %><br>
					<%= link_to "Email Template",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%= link_to image_tag("ecommerce.gif") %><br>
					<%= link_to "Ecommerce",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%= image_tag("metadata_options.gif") %><br>
					<%= link_to "Metadata Options",printhouse_setup_search_path %>
				</td>
			</tr>
			<tr>
				<td class="gindexborder">
					<%=  image_tag("basic_setting.gif") %><br>
					<%= link_to "Basic Settings",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%=  image_tag("register.gif") %><br>
					<%= link_to "Registration Fields",printhouse_setup_search_path %>
				</td>
				<td class="gindexborder">
					<%= image_tag("uploadStaticFiles.gif")%><br>
					<%= link_to "Static Content",printhouse_setup_search_path %>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>

