%body.body1
%div.div1
= render :partial => '/layouts/header'
%table.center
  %tr
    %td.page_head Institution Account
  %tr
    %td  
  %tr
    %td  
  %tr
    = form_tag institution_index_path, :method => 'get' do |f|
      %td{:align => "left"}
        %table{:border => "0", :cellpadding => "10", :cellspacing => "0"}
          %tbody
            %tr
              %td{:height => "25"} Select Publisher
              %td{:align => "left"}
                = select_tag 'PUB_PUBLISHER_ID',options_from_collection_for_select(@pub, 'id', 'PUB_NAME')
              %td{:align => "left", :height => "25"} Institution ID
              %td{:align => "left", :height => "25"}
                = text_field_tag :INS_INSTITUTION_ID
            %tr
              %td{:align => "left", :height => "25"} Lib./Dept. Name
              %td{:align => "left"}
                = text_field_tag :INS_LIB_DEPT_NAME
              %td{:align => "left", :height => "25"} Institution Name
              %td{:align => "left"}
                = text_field_tag :INS_INSTITUTION_NAME
            %tr
              %td{:align => "left", :height => "25"} IP Address
              %td{:align => "left"}
                = text_field_tag :name,params[:ipadd]
              %td{:align => "left", :height => "25"} City
              %td{:align => "left"}
                = text_field_tag :INS_CITY
            %tr
              %td{:align => "left", :height => "25"} State/Province
              %td{:align => "left"}
                = text_field_tag :INS_STATE
              %td{:align => "left", :height => "25"} Country
              %td{:align => "left"}
                = select_tag 'PUY_PUBLISHER_COUNTRY_ID',options_from_collection_for_select(@country, 'id', 'CON_COUNTRY_NAME')
            %tr
            %td{:height => "25"} Status
            %td{:height => "25"}
              = collection_select(:INS_INSTITUTION_STATUS, 0, Institution.all, :id, :INS_INSTITUTION_STATUS) 
            %tr
              %td{:align => "left", :height => "25"} Contact First Name
              %td{:align => "left"}
                = text_field_tag :INS_FIRST_NAME
              %td{:align => "left", :height => "25"} Contact Last Name
              %td{:align => "left"}
                = text_field_tag :INS_LAST_NAME
            %tr
              %td{:align => "left", :height => "25"} Contact Email
              %td{:align => "left"}
                = text_field_tag :INS_EMAIL_ID
              %td{:align => "left", :height => "25"} New IP Request
              %td{:align => "left"}
                = check_box_tag(:ip_address) 
              
          %tbody
            %tr
              %td{:align => "left"}  
              %td{:align => "left"}
                = submit_tag "Submit"
                = submit_tag "Reset" 
  %tr
    %td  
  %tr
    %td 


