<%= render :partial => '/layouts/header'%>

<table>
 	<thead>
 		<th class="page_head">PrintHouse Setup</th>
 	</thead>
 </table>

<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("group_license_home.gif")%><br>
		Print House
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("campaign.gif")%><br>
		Print Order
	</td>
	
</tr>
</table>