<!--Header-->
<%= render :partial => "#{@publisher.theme_name}"%> 
<!--HeaderEnd-->
<div class="container-fluid wrapper" > 
  <div class="row ">
    <%= render :partial => "fosteracademics_subject_sidebar"%>

    <div class="col-sm-9 col-md-9 margin_top5px">
      <div class="border_wrapper padding10px">
        <div id= 'pub_book'>
          <div class="row ">
            <div class="col-sm-12 ">
              <div>
                <h1 class="text_uppercase border_bottom padding_bottom12px nomargin"> Author(s): </h1>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 ">
              <div class="text_uppercase  padding_bottom12px">
                <div class="col-sm-12 no-pad">
                  <div class="ln-letters">
                    <ul class="pagination pagination-sm">
                      <li class="active">
                        <%= link_to "All", books_by_title_homes_path %>
                      </li> 
                      <% ('A'..'Z').each do |letter| %> 
                        <li>
                          <%= link_to letter, books_by_title_homes_path(:letter=>letter)%>
                        </li>
                      <%end%>
                    </ul>
                    <div class="clearfix ln-last"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <% if @books.count >= 10 %>
                  <div class="alpha_category margin_bottom10px text-capitalize">
                    <div class="pull-left">
                      <h3><%= page_entries_info @books %></h3>
                    </div>
                    <div class="pull-right">
                      <h3>
                        <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
                      </h3>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix"></div>
            <% @books.each do |f| %>
              <div class="col-md-12">
                <div class="searchtitle-list">
                  <ul class="list-unstyled">
                    <li> &nbsp;<%= link_to f.book_title, books_description_homes_path(:book_id => f.id) %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "fosteracademics_footer"%>
<script>
  $('ul.pagination li').each(function() {
    if($(this).text().trim()== "<%= @letter%>"){
     $(this).addClass("active");
    }
  });
</script>      