<%= render :partial => '/layouts/header'%>

<table>
 	<thead>
 		<th class="page_head">Manage User Access</th>
 	</thead>
 </table>

<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
	<%= image_tag("end_user.gif")%><br>
	Retailer</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("end_user.gif")%><br>
		End User
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("admin_user.gif")%><br>
		Admin User
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="center">
		<%= image_tag("institution.gif")%><br>
		Institutional Account
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("institutional-user.gif")%><br>
		Institutional Admin User Account
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
</tr>
</table>