<html>
<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class="div1">

	<table>
	 	<thead>
	 		<th class="page_head">Manage User Access</th>
	 	</thead>
	 </table>

	<table width="100%" class="center">
	<tr>
		<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("end_user.gif"),cs_retailers_path%><br>
		Retailer</td>
		<td class="gindexborder" colspan="2" valign="top">
			<%= image_tag("end_user.gif")%><br>
			End User
				<table>
					<tr>
						<td class="gindexborder">
							<%= image_tag("search.gif")%>
						</td>
						<td class="gindexborder">
							<%= image_tag("create.gif")%>
						</td>
					</tr>
				</table>
		</td>
		<td class="gindexborder" colspan="2" valign="top">
			<%= image_tag("admin_user.gif")%><br>
			Admin User
				<table>
					<tr>
						<td class="gindexborder">
							<%= image_tag("search.gif")%>
						</td>
						<td class="gindexborder">
							<%= image_tag("create.gif")%>
						</td>
					</tr>
				</table>
		</td>
		<td class="gindexborder" colspan="2" valign="center">
			<%= link_to image_tag("institution.gif"), institution_index_path%><br>
			Institutional Account
				<table>
					<tr>
						<td class="gindexborder">
							<%= link_to image_tag("search.gif"), institution_index_path%>
						</td>
						<td class="gindexborder">
							<%= link_to image_tag("create.gif"), new_institution_path%>
						</td>
					</tr>
				</table>
		</td>
		<td class="gindexborder" colspan="2" valign="top">
			<%= link_to image_tag("institutional-user.gif"), search_institution_user_index_path%><br>
			Institutional Admin User Account
				<table>
					<tr>
						<td class="gindexborder">
							<%= link_to image_tag("search.gif"), search_institution_user_index_path%>
						</td>
						<td class="gindexborder">
							<%= image_tag("create.gif")%>
						</td>
					</tr>
				</table>
		</td>
	</tr>
	</table>
</div>