<html>
	<body class = "body1">
		<div class="row">
			<div class="col-md-12">
				<h4 class="borderBottom">Manage User Access</h4>	 
			</div>
		</div>
		<div class="row mt10">
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("end_user.gif"),retailers_path%>
					</div>
						<div class="card-block">
              <h4 class="card-title">Retailer</h4>
          	</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="custCard">
						<div class="cardUp dkBlurBg"></div>
						<div class="aviater"><%= link_to image_tag("end_user.gif"), end_user_index_path %></div>
						<div class="card-block">
              <!--Name-->
              <h4 class="card-title">End User</h4>
              <p><%= link_to image_tag("search.gif"), end_user_index_path %>
									<%= link_to image_tag("create.gif"), end_user_new_path %></p>		
          	</div>
					</div>
				</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("admin_user.gif"), admin_user_index_path %></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Admin User</h4>
            <p><%= link_to image_tag("search.gif"), admin_user_index_path %>
								<%= link_to image_tag("create.gif"), admin_user_new_path %></p>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("institution.gif"), institution_account_index_path%><br></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Institutional Account</h4>
            <p><%= link_to image_tag("search.gif"), institution_account_index_path%>
								<%= link_to image_tag("create.gif"), new_institution_account_path%></p>
        	</div>
				</div>
			</div>
		</div>
		<!--end of row 1-->
		<div class="row mt20">
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("institutional-user.gif"), institution_admin_user_index_path%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Institutional Admin User Account</h4>
            <p><%= link_to image_tag("search.gif"), institution_admin_user_index_path%>
								<%= link_to image_tag("create.gif"), new_institution_admin_user_path %></p>
        	</div>
				</div>
			</div>
		</div>
		<div class="row mt20">
			&nbsp;
		</div>
	</body>
</html>
