<html>
<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class="div1">

	<table>
	 	<thead>
	 		<th class="page_head">Manage User Access</th>
	 	</thead>
	 </table>

	<table width="100%" class="center">
	<tr>
		<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("end_user.gif"),csretailers_path%><br>
		Retailer</td>
		<td class="gindexborder" colspan="2" valign="top">
			<%= link_to image_tag("end_user.gif"), end_user_search_path %><br>
			End User
				<table>
					<tr>
						<td class="gindexborder">
							<%= link_to image_tag("search.gif"), end_user_search_path %>
						</td>
						<td class="gindexborder">
							<%= link_to image_tag("create.gif"), end_user_new_path %>
						</td>
					</tr>
				</table>
		</td>
		<td class="gindexborder" colspan="2" valign="top">
			<%= link_to image_tag("admin_user.gif"), admin_user_search_path %><br>
			Admin User
				<table>
					<tr>
						<td class="gindexborder">
							<%= link_to image_tag("search.gif"), admin_user_search_path %>
						</td>
						<td class="gindexborder">
							<%= link_to image_tag("create.gif"), admin_user_new_path %>
						</td>
					</tr>
				</table>
		</td>
		<td class="gindexborder" colspan="2" valign="center">
			<%= link_to image_tag("institution.gif"), institution_account_index_path%><br>
			Institutional Account
				<table>
					<tr>
						<td class="gindexborder">
							<%= link_to image_tag("search.gif"), institution_account_index_path%>
						</td>
						<td class="gindexborder">
							<%= link_to image_tag("create.gif"), new_institution_account_path%>
						</td>
					</tr>
				</table>
		</td>
		<td class="gindexborder" colspan="2" valign="top">
			<%= link_to image_tag("institutional-user.gif"), search_institution_user_index_path%><br>
			Institutional Admin User Account
				<table>
					<tr>
						<td class="gindexborder">
							<%= link_to image_tag("search.gif"), search_institution_user_index_path%>
						</td>
						<td class="gindexborder">
							<%= link_to image_tag("create.gif"), new_institution_user_path %>
						</td>
					</tr>
				</table>
		</td>
	</tr>
	</table>
</div>
<%= render :partial => '/layouts/footer'%>
