<!doctype html>
<html>

<head>
  <title>Content Store :: Create PromoCode</title>
  <!-- Latest compiled and minified CSS -->
   <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
 </head>

<body>
  <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content">
    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
       <li><a href="#">Home</a></li>
     <li><a> Manage Access</a></li>
      <li><a>Create Publisher</a></li>
       <div class="pull-right hidden">
        <li><a href="#">Browse by Chapter</a></li>
        <li><a href="#">Browse by Book </a></li>
       </div>
      </ol>
      <%if @promo_codes.new_record?%>
        <h2 class="H2-L1">Create PromoCode</h2>
      <%else%>
        <h2 class="H2-L1">Create PromoCode Details</h2>
      <%end%>
      <%= form_for @promo_codes, :class => "form-horizontal form-bg" do |f|%>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Publisher<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.select 'publisher_id',options_from_collection_for_select(Publisher.all.order('publisher_name asc'),, 'id', 'publisher_name'),{ :prompt => "select publisher"},{:class => "form-control"} %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Campaign<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.select 'campaign_id',options_from_collection_for_select(Campaign.all, 'id', 'campaign_name'),{ :prompt => "select campaign"},{:class => "form-control"} %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Number Of Promo Codes</label>
            <span class="col-sm-8">
            <%= f.text_field :number_of_promo_code , :class => "form-control" %>
            </span> 
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Applicable Discount%</label>
            <span class="col-sm-8">
            <%= f.text_field :applicable_discount , :class => "form-control" %>
            </span>
            <div class="clearfix"></div> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="License" class="col-sm-5 control-label">Valid From<sup class="mandatory">*</sup></label>
            <div class="col-sm-7">
              <%= f.text_field :valid_from , :class => "form-control", :id => 'from' %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="License" class="col-sm-5 control-label">Valid To</label>
            <div class="col-sm-7">
              <%= f.text_field :valid_to , :class => "form-control", :id => 'to' %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix m-b-30"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
          <%= button_tag fa_icon("save", text: "Save"), :class => "btn btn-sm", type: :submit %>
          <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
        </div>
      <%end%>
    </div>
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section> 
</body>
</html>