<html>
  <head>
    <title>Content Store :: Search Articles</title>
      <!-- Header -->
      <%= render :partial => "layouts/top_header"%>
      <!-- Header Ends --> 
  </head>

  <body>
    <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends--> 
    <!--Main Content Start -->
    <section class="content"> 
      <!-- Page Content Start --> 
      <!-- ================== -->
      <div class="wrapper container-fluid">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li> <a> Publisher Setup</a></li>
          <li><a> Search Articles</a></li>
        </ol>
        
      <h2 class="H2-L1">Search Articles</h2>
      <%= form_tag search_article_index_path, :method => 'get', :remote => true do %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label">Journal Title<span class="red">*</span>:</label>
              <span class="col-sm-8">
              <%= text_field_tag :journal_title, params[:journal_title] ,:required => true, placeholder: "Journal Title"%>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Title<span class="red">*</span>:</label>
              <span class="col-sm-8">
              <%= text_field_tag :title, params[:title], :required => true ,placeholder: "Title" %>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label">Content Code<span class="red">*</span>:</label>
              <span class="col-sm-8">
              <%= text_field_tag :code, params[:code],:required => true, placeholder: "Content Code" %>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >DOI</label>
              <span class="col-sm-8">
              <%= text_field_tag :doi, params[:doi], placeholder: "DOI" %>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Volume Number</label>
              <span class="col-sm-8">
              <%= text_field_tag :volume, params[:volume], placeholder: "Volume Number" %>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Issue Number</label>
              <span class="col-sm-8">
              <%= text_field_tag :issue, params[:issue], placeholder: "Issue Number" %>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Article Section <span class="red">*</span>:</label>
              <span class="col-sm-8">
              <%= text_field_tag :article, params[:article],:required => true, placeholder: "Article" %>
              </span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Author First Name</label>
              <span class="col-sm-8">
              <%= text_field_tag :author_first_name, params[:author_first_name], placeholder: "First Name" %>
              </span>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Author Last Name</label>
              <span class="col-sm-8">
              <%= text_field_tag :author_last_name, params[:author_last_name], placeholder: "Last Name" %>
            </span>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
          <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
          <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
        </div>
      <%end%>
      <div class="clearfix m-b-30"></div>
      <div id="search_result"></div>
      <!-- Page Content Ends --> 
      <!-- ================== --> 
    
      <!-- Footer Start -->
      <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
    </section>
  </body>
</html>