<!doctype html>
<html>
<head>
<title>Content Store :: Search Result</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
 </head>
<body>
  <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
  	   <li><a> Site Settings</a></li>
        <li><a> Change Theme</a></li>
        </ol> 
      <h2 class="H2-L1">Change Theme</h2>
      <%= form_for(:publisher, url: save_theme_for_publisher_themes_path, :method => 'post') do |f|%>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Publisher<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.select 'id',options_from_collection_for_select(publisher_names, 'id', 'publisher_name'),{ :prompt => "select publisher"},{:required => true,:class => "form-control"} %>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      <div class="clearfix m-b-30"></div>
      <% @themes.each do |theme|%>
        <div class="form-group">
          <div class="col-sm-2 text-center ChangeThemeThumbnail">
              <%= image_tag theme.template.url(:original) , :class => "imgPopover"%><br>
              <%= f.radio_button :theme_name, theme.theme_name %>
              <p><%= theme.theme_name%></p>
          </div>
        <%end%>
        </div>
      </div>
        <div class="clearfix"></div>
      <div class="clearfix m-b-30"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
        <%= button_tag fa_icon("save", text: "Save"), :class => "btn btn-sm", type: :submit %>
      <%end%>
      </div>
    </div>
    <!-- Page Content Ends --> 
    <!-- ================== --> 
  
    <!-- Footer Start -->
  <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
</section>
    <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-left:-300px; left: 50%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <img src="" class="enlargeImageModalSource" style="width: 100%;">
        </div>
      </div>
    </div>
</div>
</body>
</html>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script>
  $(function() {
    $('.imgPopover').on('click', function() {
    $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
      $('#enlargeImageModal').modal('show');
    });
  });
</script>

