%body.body1
= render :partial => '/layouts/header'
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "860", :class => "center"}
  %tr
    %td.page_head Search Publisher
  %tr
    %td  
  %tr
    %td  
  %tr
    = form_tag search_csretailers_path, :method => 'get' do
      %td{:align => "left"}
        %table{:border => "0", :cellpadding => "10", :cellspacing => "0"}
          %tbody
            %tr
              %td{:align => "left", :height => "25"} Select Publisher:
              %td{:align => "left", :height => "25"}
                = select_tag(:retailer_name, options_for_select(@publishers, prompt = nil))
                //%input.text_field{:name => "code", :size => "30"}/
            
          %tbody
            %tr
              %td{:align => "left"}  
              %td{:align => "left"}
                = submit_tag "Search", :name => nil 
               
  %tr
    %td  
  %tr
    %td 
= render :partial => '/layouts/footer'



 

 