Your details are:
<p>
	<h1>Subject:</h1>
	<%= @contact_us.subject %>
</p>

<p>
	<h1>Topic:</h1>
	<%= @contact_us.topic %>
</p>

<p>
	<h1>Phone Number:</h1>
	<%= @contact_us.phone_number %>
</p>

<p>
	<h1>Fax Number:</h1>
	<%= @contact_us.fax_number %>
</p>

<p>
	<h1>Questions/Comments:</h1>
	<%= @contact_us.comments %>
</p>