<%= form_for(contact_u)  do |f| %> 
<div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <%= f.text_field :subject , autofocus: true, :class => "form-control", :placeholder => "Enter your Subject" %>
</div> 
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label"> Subject<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :subject ,:class => "form-control" %></td>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Topic</label>
            <span class="col-sm-8">
            <%= f.text_field :topic ,:class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Telephone Number</label>
            <span class="col-sm-8">
            <%= f.number_field :phone_number ,:class => "form-control" %>
            (Please include country and city codes)
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Fax Number</label>
            <span class="col-sm-8">
              <%= f.number_field :fax_number ,:class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Comments</label>
            <span class="col-sm-8">
              <%= f.text_area :comments ,:class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
            <%= button_tag fa_icon("plus-square-o", text: "Submit"), :class => "btn btn-sm", type: :submit %>

            <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-sm" ,type: :reset%>
          </div>
        </div>
      <% end %>