 <h2 class="H2-L1">Create Retailers</h2>
<%= form_for(:retailer, url: retailers_path ,  :class => "form-horizontal form-bg", :html => {:id => "form"}, remote: true)  do |f| %>
  <div class="col-md-6">
    <div class="form-group">
      <label for="taskName" class="col-sm-4 control-label">Retailer Code</label>
      <div class="col-sm-8">
        <%= f.text_field :retailer_code,:class => "form-control"  %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="bookISBN" class="col-sm-4 control-label">Retailer Name</label>
      <span class="col-sm-8">
      <%= f.text_field :retailer_name, :value => @publisher.publisher_code, :class => "form-control", readonly: true  %>
      </span> 
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="bookISBN" class="col-sm-4 control-label">Publisher Id</label>
      <span class="col-sm-8">
      <%= f.text_field :publisher_id , :value => @publisher.id ,:class => "form-control", readonly: true %>
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="bookISBN" class="col-sm-4 control-label">Low IP</label>
      <span class="col-sm-8">
      <%= f.text_field :low_ip ,:class => "form-control" %>
      </span>
      <div class="clearfix"></div> 
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="bookISBN" class="col-sm-4 control-label">High IP</label>
      <span class="col-sm-8">
      <%= f.text_field :high_ip ,:class => "form-control" %>
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="bookISBN" class="col-sm-4 control-label">IP List</label>
      <span class="col-sm-8">
      <%= f.text_field :ip_list ,:class => "form-control" %>
      </span> 
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
      <%= button_tag fa_icon("plus-square-o", text: "Submit"), :class => "btn btn-sm", type: :submit, :id => "submit" %>
      <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-sm" ,type: :reset%>
    </div>
  </div>
<% end %>
<div id="result"></div>
<div class="clearfix"></div>
<div class="clearfix m-b-30"></div>
