<html>
<body class = "body1">
<%= render :partial => '/layouts/header' %>
<table class = "center">
<thead  style="text-decoration: underline; color:  #89bde7 ">
  <tr>
    <td class = "page_head" > Create Retailer</td>
    <td class="tab_sel" >
      <a><%= image_tag("btsr_ico.gif")%><%= link_to "Back",retailers_path %></a>
    </td>
  </tr>
</thead>
  <tr>
  <td class = "page_head" align = "right", valign = "bottom">
  <table border = "0", cellpadding = "6", cellspacing = "0", width = "100%", class = "center">
    <tr>
      <td>
        <table border = "0", cellpadding = "10", cellspacing = "0">
          <tbody>
            <tr>
              <td align = "right", id= "addAction">
                <a href = "#">
                  <%= image_tag("add.gif") %>
                </a>
              </td>
              <td align = "right", id= "addForm">
                <a href = "#">
                  <%= image_tag("add.gif") %>
                </a>
              </td>
            </tr>
            <div id = "ret">
                <%= @retailer.retailer_name %>
                <%= link_to 'Destroy', @retailer, method: :delete, data: { confirm: 'Are you sure?' }
            </div>
            <tr id = "items">
              <td>
                <table  border = "1", cellpadding = "0", cellspacing = "0", width = "100%">
                    <tr>
                      <td class = "tableheader" align = "center", height = "30"> Retailer Code</td>
                      <td class = "tableheader" align = "center", height = "30"> Retailer Name</td>
                      <td class = "tableheader" align = "center", height = "30"> Publisher Id</td>
                      <td class = "tableheader" align = "center", height = "30"> Low Ip</td>
                      <td class = "tableheader" align = "center", height = "30"> High Ip</td>
                      <td class = "tableheader" align = "center", height = "30"> IP List</td>
                      <td class = "tableheader" align = "center", height = "30"> Operation</td>
                    </tr>
                    
                  <%= form_for(:retailer, url: retailers_path)  do |f| %>
                    <tr id="form">
                      <td align = "left", height = "25">
                        <%= f.text_field :retailer_code %>
                      </td>
                     <td align = "left", height = "25" >
                        <%=  f.select(:retailer_name, options_for_select([[@re.publisher_code ,@re.publisher_code]])) %>
                      </td> 
                      <td align = "left", height = "25">
                        <%= f.text_field :publisher_id , :value => @re.id%>
                      </td>
                      <td align = "left", height = "25">
                        <%= f.text_field :low_ip %>
                      </td>
                      <td align = "left", height = "25">
                        <%= f.text_field :high_ip %>
                      </td>
                      <td align = "left", height = "25">
                        <%= f.text_field :ip_list %>
                      </td>
                    </tr> 
                </table>
                <td>
                  <%= f.submit %>
                </td>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
  <div id = "div3"></div>
</td> 
</tr>
</table>
<%= render :partial => '/layouts/footer'%>
</body>
</html>    
            
<script>
  $(document).ready(function(){
    $("#ret").hide();
    $("#addAction").hide();
    $("#form").hide();
    $("#addForm").click(function(e) {
      $("#form").show();
      $("#addForm").hide();
      $("#addAction").show();
    });
  });
  jQuery('#addAction').click( function () {
       $("#ret").show();
       $("#items").hide();
       $('#div3').append("<%= j render partial: 'retailers/test' %>");
  });
</script>


  
