 <div class="row" id="searchResultGrid">
  <div class="col-md-12">
    <div class="mt10 table-demo">Search Result
    	<span class="pull-right">
	      <div class="dropdown">
	        <ul class="nav">
	          <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
	            <ul class="dropdown-menu-right">
	              <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
	              <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
	              <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
	            </ul>
	          </li>
	        </ul>
	      </div>
      </span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <th>Retailer Code</th>
            <th>Retailer Name</th>
            <th>Publisher ID</th>
            <th>Low IP</th>
						<th>High IP</th>
            <th>IP List</th>
          </tr>
        </thead>
         <tbody>
					<% if @retailer.present?   %>
				 		<tr>
				 			<td class="tabledata"><%= @retailer.retailer_code %></td>
							<td class="tabledata">
								<%= @retailer.retailer_name %>
							</td>
							<td class="tabledata"><%= @retailer.publisher_id %></td>
							<td class="tabledata">
								<%= @retailer.low_ip %>
							</td>
							<td class="tabledata">
									<%= @retailer.high_ip %>
							</td>
							<td class="tabledata"><%= @retailer.ip_list %></td>
						</tr>
					<% else %>
						<tr>
							<td>
								Records not found
							</td>
						</tr>
					<% end %>
    		</tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>