<%= form_for(:retailer, url:  csretailers_path)  do |f| %>
	<div class="field">
		<%= f.label :ret_code %>
		<%= f.text_field :ret_code%>
	</div>
	<div class="field">
		<%= f.label :ret_name %>
		<%= f.text_field :ret_name%>
	</div>
	<div class="field">
		<%= f.label :pub_id %>
		<%= f.text_field :pub_id%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

