<%= form_for(:csretailer, url:  csretailers_path)  do |f| %>
	<div class="field">
		<%= f.label :RETAILER_CODE %>
		<%= f.text_field :RETAILER_CODE%>
	</div>
	<div class="field">
		<%= f.label :REATILER_NAME %>
		<%= f.text_field :REATILER_NAME%>
	</div>
	<div class="field">
		<%= f.label :PUB_PUBLISHER_ID %>
		<%= f.text_field :PUB_PUBLISHER_ID%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

