<body class="body1"></body>
<%= render :partial => '/layouts/header' %>
<div class="div1">
  <table bgcolor="#cccccc" border="0" cellpadding="8" cellspacing="1" width="70%"></table>
  <table bgcolor="#cccccc" border="0" cellpadding="8" cellspacing="1" class="center" width="100%">
    <tbody>
      <tr>
        <td class="tableheader">Publisher Code</td>
        <td class="tableheader">Publisher Name</td>
        <td class="tableheader">Contact Name</td>
        <td class="tableheader">Contact Email</td>
      </tr>
      <% if @publisher.present? %>
        <tr>
          <td>
            <%= @publisher.first.pub_code %>
          </td>
          <td>
            <%= @publisher.first.pub_name %>
          </td>
          <td>
            <%= @publisher.first.contact_first_name %>
          </td>
          <td>
            <%= @publisher.first.contact_email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render :partial => '/layouts/footer' %>