<div class="row">
  <div class="col-md-12">
    <div class="mt10 table-demo">Search Result
      <span class="pull-right">
        <!-- <div class="dropdown">
          <ul class="nav">
            <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul class="dropdown-menu-right">
                <li><%= link_to '<i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel'.html_safe, search_publishers_path(format: :xlsx) %></li>
                <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
              </ul>
            </li>
          </ul>
        </div> -->
      </span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <th>Publisher Code</th>
            <th>Publisher Name</th>
            <th>Contact Name</th>
            <th>Contact Email</th>
            <th>Domain Name </th>
            <th>Action </th>
          </tr>
        </thead>
        <tbody>
          <%if @publisher.present? %>
            <% @publisher.each do |publisher| %>
  	          <tr>
                <td><%= link_to publisher.publisher_code,edit_publisher_path(publisher) %></td>
                <td ><%= publisher.publisher_name %></td>
                <td ><%= publisher.contact_first_name %></td>
                <td ><%= publisher.contact_email %></td>
                <td><%= publisher.domain_name %></td>
                <td><%= link_to "Delete", publisher_path(publisher), :data => { :confirm => "Are you sure you want to delete this Publisher?"},:class => "btn btn-sm",:method => :delete %></td>
              </tr>
            <%end%>
          <% else %>
            <tr>
              <td>
                Records not found
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>