<!doctype html>
<html>
<head>
<title>Content Store :: Search Result</title>
<!-- Latest compiled and minified CSS -->
<%= render :partial => "layouts/header"%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/styles/flaticon.css">
<!-- Internal CSS -->
<!--Animation css-->
<link href="assets/css/animate.css" rel="stylesheet">
<!--Icon-fonts css-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<script src="https://use.fontawesome.com/9575fa9c22.js"></script>
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "helper.css" %>
<%= stylesheet_link_tag "style-old.css" %>
<%= stylesheet_link_tag "accessedit.css" %>
<%= stylesheet_link_tag "ui.jqgrid-bootstrap.css" %>
<!-- javascript files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<%= javascript_include_tag('jquery.slimscroll.min.js') %>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
<script src="https://www.gstatic.com/charts/loader.js"></script> 
<%= javascript_include_tag('pace.min.js') %>
<%= javascript_include_tag('modernizr.min.js') %>
<%= javascript_include_tag('jquery.app.js') %>
<%= javascript_include_tag('grid.locale-en.js') %>
<%= javascript_include_tag('jquery.jqGrid.min.js') %>
</head>

<body>
  <!-- Aside Start-->

  <!-- Aside Ends--> 
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
  	   <li><a><%= link_to "Publisher Setup",publisher_setup_index_path%></li>
  	   <li><%= link_to "Search Result",publishers_path%></li>
         <div class="pull-right hidden">
          <li><a href="#">Browse by Chapter</a></li>
          <li><a href="#">Browse by Book </a></li>
         </div>
        </ol>
      
      <h2 class="H2-L1">Search Publisher</h2>
      <%= form_tag search_publishers_path, :method => 'get',:remote => true do %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher Code:</label>
            <div class="col-sm-8">
              <%= text_field_tag :publisher_code %>
    		    </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Publisher Name:</label>
            <span class="col-sm-8">
            <%= text_field_tag :publisher_name %>
            </span> </div>
        </div>
        <div class="clearfix"></div>
      
      <div class="clearfix m-b-30"></div>
  	 <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
  		<%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
          <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
        </div>
      <%end%>
  	  <div class="clearfix m-b-30"></div>
      
      <div id="search_result"></div>
    </div>
      <!-- Page Content Ends --> 
      <!-- ================== --> 
    
      <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section>
</body>
</html>
<!--for popup page all popup comes from this page-->

<!-- Main Content Ends --> 
<!-- Latest compiled and minified JavaScript --> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="assets/scripts/jquery.slimscroll.min.js"></script> 
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
<script src="https://www.gstatic.com/charts/loader.js"></script> 
<script src="assets/scripts/js/pace.min.js"></script> 
<script src="assets/scripts/modernizr.min.js"></script> 
<script src="assets/scripts/jquery.app.js"></script> 
<script src="jqgrid/js/i18n/grid.locale-en.js"></script> 
<script src="jqgrid/js/jquery.jqGrid.min.js"></script> 


