
<!doctype html>
<html>
<head>
<title>Content Store :: Search Result</title>
<!-- Latest compiled and minified CSS -->
<%= render :partial => "layouts/header"%>
</head>
<body>
  <!-- Aside Start-->

  <!-- Aside Ends--> 
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
  	   <li><a><%= link_to "Publisher Setup",publisher_setup_index_path%></li>
  	   <li><%= link_to "Search Result",publishers_path%></li>
         <div class="pull-right hidden">
          <li><a href="#">Browse by Chapter</a></li>
          <li><a href="#">Browse by Book </a></li>
         </div>
        </ol>
      
      <h2 class="H2-L1">Search Publisher</h2>
      <%= form_tag search_publishers_path, :method => 'get',:remote => true do %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher Code:</label>
            <div class="col-sm-8">
              <%= text_field_tag :publisher_code %>
    		    </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Publisher Name:</label>
            <span class="col-sm-8">
            <%= text_field_tag :publisher_name %>
            </span> </div>
        </div>
        <div class="clearfix"></div>
      
      <div class="clearfix m-b-30"></div>
  	 <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
  		<%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
      <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
        </div>
      <%end%>
  	  <div class="clearfix m-b-30"></div>
      
      <div id="search_result"></div>
    </div>
      <!-- Page Content Ends --> 
      <!-- ================== --> 
    
      <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section>
</body>
</html>