%body.body1
%div.div1
= render :partial => '/layouts/header'
= form_for @publisher do |f|
  %input{:name => "RequestAction", :type => "hidden", :value => "Create"}/
  %input{:name => "contactType", :type => "hidden", :value => "1234"}/
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "860", :class => "center"}
    %tr
      %td.page_head Create Publisher
    %tr
      %td  
    %tr
      %td
        %table{:border => "0", :cellpadding => "6", :cellspacing => "0", :width => "100%", :class => "center"}
          %tr
            %td
              %table{:border => "0", :cellpadding => "10", :cellspacing => "0"}
                %tbody
                  %tr
                    %td{:height => "25"}
                      Publisher Code
                      %span.mandtory *
                    %td{:height => "25"}
                      = f.text_field :PUB_CODE 
                    %td
                      Publisher Name
                      %span.mandtory *
                    %td
                      = f.text_field :PUB_NAME
                  %tr
                    %td{:height => "25"} Publisher Status
                    %td{:height => "25"}
                      = f.select :PUB_STATUS, options_for_select([ "Live", "Staging"]), :class => 'genForm_dropBox'
                    %td
                      Publisher Type
                      %span.mandtory *
                    %td

                      %select.text_field{:name => "publisherType"}
                        %option{:selected => "selected", :value => "DIGITAL"} Digital
                        %option{:value => "ACADEMIC"} Academic
                        %option{:value => "DISCOVERY"} Discovery
                  %tr
                    %td{:height => "25"} Default End User Language
                    %td{:height => "25"}
                      = f.select(:PUB_END_USR_LANGUAGE, [['Dansk', 'da'],
                                  ['Polish', 'pl'],
                                  ['Latvian', 'lv'],
                                  ['English', 'en']],{ :prompt => "Please select"})
                    %td Default Manager Language
                    %td{:height => "25"}
                      = f.select(:PUB_ADMIN_TOOL_LANGUAGE_ID, [['Dansk', 'da'],
                                  ['Polish', 'pl'],
                                  ['Latvian', 'lv'],
                                  ['English', 'en']],{ :prompt => "Please select"})
                    / %tr
                    /   %td{:height => "25"} Default End User Language
                    /   %td{:height => "25"}
                    /     %select#defaultEndUserLanguage.text_field{:name => "defaultEndUserLanguage"}
                    /       %option{:selected => "selected", :value => ""} Select
                    /   %td Default Manager Language
                    /   %td
                    /     %select#defaultManagerLanguage.text_field{:name => "defaultManagerLanguage"}
                    /       %option{:selected => "selected", :value => ""} Select
                    = f.fields_for :publisher_contact do |builder|
                      %tr
                        %td{:height => "25"}
                          Contact First Name
                          %span.mandtory 
                        %td{:height => "25"}
                          = builder.text_field :PUC_CONTACT_FNAME 
                        %td
                          Contact Last Name
                          %span.mandtory *
                        %td
                          = builder.text_field :PUC_CONTACT_LNAME 
                      %tr
                        %td{:height => "25"}
                          Contact Email
                          %span.mandtory *
                        %td{:height => "25"}
                          = builder.text_field :PUC_CONTACT_EMAIL
                        %td
                %tbody
                  %tr
                    %td.GBoldText{:align => "right", :height => "35"}  
                    %td.GBoldText{:align => "right", :colspan => "3", :height => "35"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td
                            = f.submit
                          %td
                            %input#button2.submit_btn{:name => "button3", :type => "reset", :value => "Reset"}
= render :partial => '/layouts/footer'
