%body.body1
= render :partial => '/layouts/header'
= form_for @publisher do |f|
  %input{:name => "RequestAction", :type => "hidden", :value => "Create"}/
  %input{:nlame => "contactType", :type => "hidden", :value => "1234"}/
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "860", :class => "center"}
    %tr
      %td.page_head Create Publisher
    %tr
      %td  
    %tr
      %td
        %table{:border => "0", :cellpadding => "6", :cellspacing => "0", :width => "100%", :class => "center"}
          %tr
            %td
              %table{:border => "0", :cellpadding => "10", :cellspacing => "0"}
                %tbody
                  %tr
                    %td{:height => "25"}
                      Publisher Code
                      %span.mandtory *
                    %td{:height => "25"}
                      = f.text_field :publisher_code 
                    %td
                      Publisher Name
                      %span.mandtory *
                    %td
                      = f.text_field :publisher_name
                  %tr
                    %td{:height => "25"} Publisher Status
                    %td{:height => "25"}
                      = f.select :publisher_status, options_for_select([ "Live", "Staging"]), :class => 'genForm_dropBox'
                    %td
                      Publisher Type
                      %span.mandtory *
                    %td

                      %select.text_field{:name => "publisherType"}
                        %option{:selected => "selected", :value => "DIGITAL"} Digital
                        %option{:value => "ACADEMIC"} Academic
                        %option{:value => "DISCOVERY"} Discovery
                  %tr
                    %td{:height => "25"} Default End User Language
                    %td{:height => "25"}
                      = f.select(:end_user_language, [['Dansk', 'da'],
                                  ['Polish', 'pl'],
                                  ['Latvian', 'lv'],
                                  ['English', 'en']],{ :prompt => "Please select"})
                    %td Default Manager Language

                    %td{:height => "25"}
                      = f.select(:manager_language,[['Dansk', 'da'],
                                  ['Polish', 'pl'],
                                  ['Latvian', 'lv'],
                                  ['English', 'en']],{ :prompt => "Please select"})
                      %tr
                        %td{:height => "25"}
                          Contact First Name
                          %span.mandtory 
                        %td{:height => "25"}
                          = f.text_field :contact_first_name 
                        %td
                          Contact Last Name
                          %span.mandtory *
                        %td
                          = f.text_field :contact_last_name 
                      %tr
                        %td{:height => "25"}
                          Contact Email
                          %span.mandtory *
                        %td{:height => "25"}
                          = f.text_field :contact_email
                        %td
                %tbody
                  %tr
                    %td.GBoldText{:align => "right", :height => "35"}  
                    %td.GBoldText{:align => "right", :colspan => "3", :height => "35"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td
                            = f.submit
                          %td
                            %input#button2.submit_btn{:name => "button3", :type => "reset", :value => "Reset"}
= render :partial => '/layouts/footer'
