%body{:class=>"body1"}
= render :partial => '/layouts/header'
%div{:class=>"div1"}
  %table{:bgcolor => "#cccccc", :border => "0", :cellpadding => "8", :cellspacing => "1", :width => "70%"}
  %table{:bgcolor => "#cccccc", :border => "0", :cellpadding => "8", :cellspacing => "1", :width => "100%", :class => "center"}
    %tbody
      %tr
        %td.tableheader Publisher Code
        %td.tableheader Publisher Name
        %td.tableheader Contact Name
        %td.tableheader Contact Email
      %tr
        - if @publisher.present?
          - @publisher.each do |pub|
            %td{:bgcolor => "#FBFBFB"}
              = link_to pub.pub_code
            %td{:bgcolor => "#FBFBFB"}
              = pub.pub_name
            %td{:bgcolor => "#FBFBFB"}
              = pub.contact_first_name
            %td{:bgcolor => "#FBFBFB"}
              = pub.contact_email
        - else
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -
          %td{:bgcolor => "#FBFBFB"} -