<section class="content">
  <!--Header-->
  <%= render :partial => "#{@publisher.theme_name}"%> 
  <!--HeaderEnd-->
  <div class="row">
   	<div class="col-md-12">
      <div id= 'pub_book'>
        <div class="contentWrapper">  		  
          <ul class="nav nav-tabs" role="tablist">
            <li class="active tabGradient"><a href="#bookInfo" data-toggle="tab" role="tab">Book Info</a></li>
          </ul>
          <div class="tab-content tab_border">
            <div class="tab-pane active" id="bookInfo">
              <div class="pageHeading">
                <h2 class="heading2"><strong><%= @book_information.book_title.presence || "" %></strong></h2>
              </div>
              <div class="xtraPadding">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <%= image_tag("http://www.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{@book_information.isbn}-T-FC.jpg") %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8"><!-- <p>To read sections of the book, please use the navigation menu at the top left.</p> -->
                  <div class="clearFloat"></div>
                  <div class="clearFloat"></div>
                  <div class="table-responsive" style="font-family:helvetica !important">
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p></p>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td><strong>ISBN&nbsp;:&nbsp;</strong></td>
                          <td>&nbsp;<%= @book_information.isbn.presence || "" %></td>
                        </tr>
                        <tr>
                          <td><strong>Publisher&nbsp;:&nbsp;</strong></td>
                          <td>&nbsp;<%= @publisher.publisher_name.presence || "" %></td>
                        </tr>
                        <tr>
                          <td><strong>Language&nbsp;:&nbsp;</strong></td>
                          <td>&nbsp;<%= @book_information.language.presence || "" %></td>
                        </tr>
                        <% unless @book_information.subject_groups.blank? %>
                          <tr>
                            <td><strong>Category&nbsp;:&nbsp;</strong></td>
                            <td>&nbsp;<%= @book_information.subject_groups.first.subject_group_name.presence || "" %></td>
                          </tr>
                        <% end %>
                        <% unless @book_information.publication_date.blank? %>
                          <tr>
                            <td><strong>Publication Year&nbsp;:&nbsp;</strong></td>
                            <td>&nbsp;<%= @book_information.publication_date.to_date.year.presence || "" %></td>
                          </tr>
                        <%end%>
                          <tr>
                            <td><strong>Price&nbsp;:</strong></td>
                            <td>&nbsp;USD&nbsp;<%=number_with_precision(@book_information.book_price, :precision => 2) %></td>
                          </tr>

                        <tr>
                          <td><strong>Format :</strong></td>
                          <td>&nbsp;<%= @book_information.binding.presence || "Hardback" %></td>
                        </tr>
                        <tr>
                          <td><p><strong>Description&nbsp;:&nbsp;</strong></p></td>
                          <td><p><%= @book_information.book_blurb.presence || "" %></p></td>
                        </tr>
                        <tr>
                          <td><strong>Author/Editor&nbsp;:&nbsp;</strong></td>
                          <td><p><%= @book_information.books_contributor.first_name.presence || "" %>&nbsp <%= @book_information.books_contributor.last_name.presence || "" %><br>
                              <%= @book_information.books_contributor.description.presence || "" %><br>
                            </p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p></p>                
                  <p></p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>                  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <%= render :partial => "homes/clanryeinternational_footer"%>
</footer>