<html>
  <body class = "body1">
    <div class="div1">

      <h1>Create End Users</h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for(:end_user, url: end_user_create_path) do |f| %>
            <tr>
              <td>Publisher*</td>
              <td><%= f.collection_select :publisher, Publisher.all, :id, :publisher_name %></td>
            </tr> 
            <tr> 
              <td>Email*</td>
              <td><%= f.text_field :email %></td>
               <td>Confirm Email*</td>
              <td><%= f.text_field :confirm_email %></td>
            </tr>
            <tr> 
              <td>Password*</td>
              <td><%= f.text_field :password %></td>
               <td>Confirm Password*</td>
              <td><%= f.text_field :confirm_password %></td>
            </tr>       
            <tr> 
              <td>First Name* </td>
              <td><%= f.text_field :first_name %></td>
              <td>Last Name* </td>
              <td><%= f.text_field :last_name %></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><%= f.text_field :country %></td>
            </tr> 
            <tr> 
              <td></td>
            <tr>
              <td></td>
              <td><%= f.submit "Submit" %>
                <%= f.button "Reset", type: :reset %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>
