<html>
	<body class = "body1">
			<%= render :partial => '/layouts/header'%>
		<div class="div1">
<table>
	<tr>
		<td align="center"  >Primary Content Information</td>
		<td align="center" background="images/step_bg_over.gif" bgcolor="#FFFFFF"><strong>Contributors</strong></td>
		<td align="center"  >Content Pricing</td>
		<td align="center"  >Content Access Rules</td>
		<td align="center"  >SEO Configuration</td>
	</tr>
</table>
<h1> Contributor's Information   </h1>

	<table border="0" cellpadding="10" cellspacing="0">
		<tbody>
			<tr>
          <td colspan="2" align="left"></td>
        </tr>
        <tr>
          <td colspan="2" align="right"></td>
        </tr>
        <tr>
          <td colspan="2" align="right">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><div style="height: 350px; overflow: auto;">
							<table width="100%" border=0 cellPadding=10 cellSpacing=1 bgColor=#cccccc id="contributorTable">
								<tbody>
									<%= form_for @books_contributor, url:content_pricing_books_path do |f| %>
									<tr>
									<td align="center" valign="top" class="tableheader">
										<input type="checkbox" name="ctrSel" onclick="checkall(this);" />
									</td>
									<td align="left" valign="top" class="tableheader">											  Role*</td>
										<td align="left" valign="top" class="tableheader">											      Name*</td>
										<td align="left" valign="top" class="tableheader">											      Description</td>
										<td align="left" valign="top" class="tableheader">											      Date of Birth</td>
										<td align="left" valign="top" class="tableheader">											      Date of Death  </td>
										<td align="left" valign="top" class="tableheader">											      Professional Position</td>
										<td align="left" valign="top" class="tableheader">											      Professional Affiliation</td>
										<td align="left" valign="top" class="tableheader">											      Website</td>
										<td align="left" valign="top" class="tableheader">											      Website Description</td>
									</tr>
									
										
							
					
											<tr>
												<td  align="center" valign="top" bgcolor="#fbfbfb">

											  <input type="checkbox" name="selDataCK" value="checkbox" />														</td>
								<td valign="top" bgColor="#fbfbfb" ><%= f.select(:role, options_for_select([['By (author)',0],['Screenplay by',1],['Libretto by',2],['Lyrics by',3],['By (composer)',4],['By (artist)',5],['By (photographer)',6],['From an idea by',7],['Designed by',8],['Photographs by',9],['Text by',10],['Preface by',11],['Prologue by',12],['Summary by',13],['Supplement by',14],['Afterword by',15],['Notes by',16],['Commentaries by',17],['Foreword by',18],['Introduction by',19],['Footnotes by',20],['Memoir by',21],['Software written by',22],['Contributions by',23],['Cover design or artwork by',24],['Other primary creator',25],['Edited by',26],['Revised by',27],['Retold by',28],['Abridged by',29],['Adapted by',30],['Translated by',31],['As told by',32],['Series edited by',33],['Editor-in-chief',34],['Guest editor',35],['Editorial board member',0],['Founded by',0],['Associate editor',0],['Consultant editor',0],['General editor',0],['Other adaptation by',0],['Compiled by',0],['Selected by',0],['Other compilation by',0],['Producer',0],['Director',0],['Conductor',0],['Other direction by',0],['Actor',0],['Narrator',0],['Vocal soloist',0],['Instrumental soloist',0],['Read by',0],['Performed by (orchestra, band, ensemble)',0],['Performed by',0],['Filmed/photographed by',0],['Other recording by',0],['Other',0]]))  %></select></td>
					<td valign="top" bgColor=#fbfbfb><%= f.text_field :name %><br />
						<%= f.text_field :name %></td>
		<td valign="top" bgColor=#fbfbfb > <%= f.text_area :description %></textarea></td>
					<td valign="top" bgColor=#fbfbfb>
					<table width="100%" border=0 cellPadding=0 cellSpacing=0><tr><td>
					<%= f.text_field :DOI %></td><td><img src="images/search_img_blue.gif" width="21"
															height="18" border="0" id="dob-cal-button[0]"
															style="cursor:pointer;cursor:hand" /><script type="text/javascript">
																	            Calendar.setup({
																	              inputField    : "dob-cal-field[0]",
																	              button        : "dob-cal-button[0]",
																	              align         : ""
																	            });
														                  </script></td><td><img src="images/clear_cal.gif" width="21" height="18"
															border="0" onclick="clearElement('dob-cal-field[0]')"
															style="cursor:pointer;cursor:hand" /></td></tr></table></td>
					<td valign="top" bgColor=#fbfbfb >
					<table width="100%" border=0 cellPadding=0 cellSpacing=0><tr><td>
					<%= f.text_field :DOD %></td><td><img src="images/search_img_blue.gif" width="21"
															height="18" border="0" id="dod-cal-button[0]"
															style="cursor:pointer;cursor:hand" /><script type="text/javascript">
																	            Calendar.setup({
																	              inputField    : "dod-cal-field[0]",
																	              button        : "dod-cal-button[0]",
																	              align         : ""
																	            });
														                  </script></td><td><img src="images/clear_cal.gif" width="21" height="18"
															border="0" onclick="clearElement('dod-cal-field[0]')"
															style="cursor:pointer;cursor:hand" /></td></tr></table></td>
											  <td valign="top" bgColor="#fbfbfb" ><%= f.text_field :professional_position %>														</td>
											  <td valign="top" bgColor="#fbfbfb" ><%= f.text_field :professional_affiliation %>														</td>
											  <td valign="top" bgColor="#fbfbfb" ><%= f.text_field :website %></td>
											  <td valign="top" bgColor="#fbfbfb" ><%= f.text_area :website_description %></td>
											</tr>
	
		<td><%= f.submit "Save and Continue" %></td>
		<td><%= f.button "Finish", type: :reset %></td>

	<% end %>
		</tbody>
	</table>
		</div>
		<%= render :partial => '/layouts/footer'%>
	</body>
</html>
			
		