<<<<<<< HEAD
		<table>
      <tr>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Primary Content Information</td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Contributors        </td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Pricing        </td>
        <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Access Rules        </td>
        <td align="center" background="images/step_bg_over.gif" bgcolor="#FFFFFF"><strong>SEO Configuration</strong>        </td>
      </tr>
    </table>

  <tr><td class="page_head">Content Access Rules</td></tr>
  <tr><td align="left"></td></tr>
  <tr><td align="right">&nbsp;</td></tr>

	<%= form_for :books_seo_config do |f| %>
=======
<table>
  <tr>
    <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Primary Content Information</td>
    <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Contributors        </td>
    <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Pricing        </td>
    <td align="center" background="images/step_bg.gif" bgcolor="#FFFFFF">Content Access Rules        </td>
    <td align="center" background="images/step_bg_over.gif" bgcolor="#FFFFFF"><strong>SEO Configuration</strong>        </td>
  </tr>
</table>
<table>
  <tr>
    <td class="page_head">Content Access Rules</td>
  </tr>
  <tr>
   <td align="left"></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
  </tr>
	<%= form_for :journal do |f| %>
>>>>>>> e19792cb2383f4529f90fb24c1aafe41939e61e1
  <tr>
    <td>
    <table border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td>Territorial List Type</td>
<<<<<<< HEAD
        <td><%= f.select(:territorial_list_type, options_for_select([['INC','INC'],[' EXC','EXC']]))  %></td>
        </tr>
      <tr>
        <td valign="top">Territorial List</td>
        <td><%= f.text_area :territorial_list %></td>
        </tr>
=======
        <td><%= select_tag(:JOC_CODE, options_for_select([['INC','INC'],[' EXC','EXC']]))  %></td>
      </tr>
      <tr>
        <td valign="top">Territorial List</td>
        <td><%= collection_select(:PUY_PUBLISHER_COUNTRY_ID, 0, Countryname.all, :id, :CON_COUNTRY_NAME) %> </td>
      </tr>
>>>>>>> e19792cb2383f4529f90fb24c1aafe41939e61e1
      <tr>
        <td colspan="4" valign="top"><strong>ContentStore Viewing Rules</strong></td>
      </tr>
      <tr>
        <td valign="top">Landing Page</td>
        <td><%= f.text_area :landing_page %></td></td>
        <td valign="top">Viewability Percentage</td>
        <td><%= f.text_area :viewability_percentage %></td></td>
      </tr>
      <tr>
        <td valign="top">Exclude Pages from Display</td>
        <td><%= f.text_area :exclude_pages_from_display %></td></td>
        <td valign="top">Total Free Page Before Purchase</td>
        <td><%= f.text_area :total_free_pages_before_purchase %></td></td>
      </tr>
      <tr>
        <td valign="top">Total Free Page Before Login</td>
        <td><%= f.text_area :total_free_pages_before_login %></td></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4" valign="top"><strong>Book Search Index Rules</strong></td>
      </tr>
      <tr>
        <td valign="top">Exclude Pages from External Index</td>
        <td><%= f.text_area :exclude_pages_from_external_index %></td></td>
        <td valign="top">Percentage of Pages or Actual Pages Index-able</td>
        <td><%= f.text_area :actual_pages_indexable %></td></td>
      </tr>
      <tr>
        <td colspan="4" valign="top"><strong>ContentStore Search Partner Rules</strong></td>
      </tr>
      <tr>
        <td valign="top">Percentage of Pages or Actual Browsable Pages</td>
        <td><%= f.text_area :actual_browsable_pages %></td>
        <td valign="top">Percentage of Pages or Actual Printable Pages</td>
        <td><%= f.text_area :actual_printable %></td>
      </tr>
      <tr>
        <td valign="top">Percentage of Pages or Actual Allowed Copying Pages</td>
        <td><%= f.text_area :actual_allowed_copying_pages %></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4" valign="top"><strong>Related Content</strong></td>
      </tr>
      <tr>
        <td><%= f.text_area :internal_related_content %></td>
        <td><%= f.text_area :related_content_identifier %></td>
				<td><%= f.button "Add" %></td>
				<td><%= f.button "Remove" %></td>
      </tr>
      <tr>
        <td colspan="4" valign="top"><strong>External Related Content</strong></td>
<<<<<<< HEAD
        </tr>
      <tr>
        <td colspan="4" valign="top"><table width="100%" border="0" cellpadding="8" cellspacing="1" bgcolor="#CCCCCC" >
          <tbody>
            <tr>
              <td height="25" align="center" class="tableheader">#</td>
              <td class="tableheader" height="25" align="left">Related Content Indentifier*</td>
              <td align="left" class="tableheader">Related Content Name </td>
              <td align="left" class="tableheader">Related Content URL*</td>
            </tr>
            <tr>
              <td height="25" align="center" bgcolor="#fbfbfb" >1</td>]
                <td><%= f.text_area :related_content_identifier %></td>
              <td><%= f.text_area :related_content_identifier %></td>
        			<td><%= f.text_area :related_content_identifier %></td>
            </tr>
            <tr>
              <td height="25" align="center" bgcolor="#fbfbfb" >2</td>
              <td><%= f.text_area :related_content_name %></td>
              <td><%= f.text_area :related_content_name %></td>
              <td><%= f.text_area :related_content_name %></td>
            </tr>
            <tr>
              <td height="25" align="center" bgcolor="#fbfbfb" >3</td>
              <td><%= f.text_area :related_content_url %></td>
              <td><%= f.text_area :related_content_url %></td>
              <td><%= f.text_area :related_content_url %></td>
            </tr>
          </tbody>
        </table></td>
        </tr>
=======
      </tr>
      <tr>
        <td colspan="4" valign="top">
          <table width="100%" border="0" cellpadding="8" cellspacing="1" bgcolor="#CCCCCC" >
            <tbody>
              <tr>
                <td height="25" align="center" class="tableheader">#</td>
                <td class="tableheader" height="25" align="left">Related Content Indentifier*</td>
                <td align="left" class="tableheader">Related Content Name </td>
                <td align="left" class="tableheader">Related Content URL*</td>
              </tr>
              <tr>
                <td height="25" align="center" bgcolor="#fbfbfb" >1</td>       <td><%= f.text_area :JOC_OWNER %></td>
                <td><%= f.text_area :JOC_OWNER %></td>
          			<td><%= f.text_area :JOC_OWNER %></td>
              </tr>
              <tr>
                <td height="25" align="center" bgcolor="#fbfbfb" >2</td>
                <td><%= f.text_area :JOC_OWNER %></td>
                <td><%= f.text_area :JOC_OWNER %></td>
                <td><%= f.text_area :JOC_OWNER %></td>
              </tr>
              <tr>
                <td height="25" align="center" bgcolor="#fbfbfb" >3</td>
                <td><%= f.text_area :JOC_OWNER %></td>
                <td><%= f.text_area :JOC_OWNER %></td>
                <td><%= f.text_area :JOC_OWNER %></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
>>>>>>> e19792cb2383f4529f90fb24c1aafe41939e61e1
      <tr>
        <td valign="top">Subject Group</td>
         <td><%= f.text_area :subject_group %></td>
				<td><%= f.button "Add" %></td>
				<td><%= f.button "Remove" %></td>
      </tr>
      <tr>
        <td colspan="4" valign="top"><strong>Page Access Information</strong></td>
      </tr>
      <tr>
        <td valign="top">Number of Page</td>
        <td><%= f.text_area :no_of_page %></td>
        <td valign="top">Free Matter</td>
        <td><%= f.text_area :free_matter %></td>
      </tr>
      <tr>
        <td valign="top">First Page of Full Text</td>
        <td><%= f.text_area :first_page_of_full_text %></td>
        <td valign="top">Last Page of Full Text</td>
        <td><%= f.text_area :last_page_of_full_text %></td>
      </tr>
      <tr>
       <td><%= f.submit "Finish" %></td>
      </tr>
    </table>
    </td>
  </tr>
  <% end %>
</table>
