<html>
	<body class = "body1">
		<div class="div1">
			<%= render :partial => '/layouts/header'%>
			<%= render :partial => '/books/primary_content_info'%>
			<%= render :partial => '/books/contributors'%>
			<%= render :partial => '/books/content_pricing'%>
			<%= render :partial => '/books/content_access_rules'%>
			<%= render :partial => '/books/seo_config'%>			
		</div>
	</body>
</html>
<tr>
	<td align="center" class="footer_white">
	Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>