<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12">
        <h4 class="borderBottom">Books</h4>  
      </div>
    </div>
    <div class="row mt10">
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"> <%= link_to image_tag("create_book.gif"),new_book_path %></div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Create New Book</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="custCard">
            <div class="cardUp dkBlurBg"></div>
            <div class="aviater"><%= link_to image_tag("search_book.gif"),search_books_path %></div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Search Book</h4>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("book_metadata.gif"),metadata_sheet_for_books_primary_information_books_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">Book Metadata Sheet</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("onix_input.gif"),onix_input_books_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">ONIX Input</h4>
          </div>
        </div>
      </div>
    </div>
    <!--end of row 1-->
    <div class="row mt20">
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("onix_supp_sheet.gif"),onix_supp_sheet_books_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">ONIX Supplement Sheet</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      &nbsp;
    </div>
  </body>
</html>
