<html>
  <head>
    <title>Content Store :: Search Books</title>
    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
  </head>

  <body>
    <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
    <!--Main Content Start -->
    <section class="content"> 
      <!-- Page Content Start --> 
      <!-- ================== -->
      <div class="wrapper container-fluid">
        <ol class="breadcrumb">
          <li>Home</a></li>
          <li><%= link_to "Publisher Setup" %></li>
          <li><%= link_to "Search Books" %></li>
        </ol>
        
      <h2 class="H2-L1">Search Books</h2>
      <%= form_tag search_books_path, :method => 'get', :remote => true do %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Publisher<span class="red">*</span></label>
              <span class="col-sm-8">
              <%= select_tag 'publisher_id',options_from_collection_for_select(Publisher.all, 'id', 'publisher_name'), :prompt => "Select publisher", :class => "form-control", :style => "background-color: #eee"%>
            </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label">ISBN <span class="red">*</span></label>
              <span class="col-sm-8">
              <%= text_field_tag :isbn, params[:isbn], :class => "form-control", :placeholder => "ISBN" %>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >Title</label>
              <span class="col-sm-8">
              <%= text_field_tag :book_title, params[:book_title], :class => "form-control", :placeholder => "Title" %>
            </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="bookISBN" class="col-sm-4 control-label" >No. of search results per page<span class="red">*</span></label>
              <span class="col-sm-8">
                <%= select_tag(:sort_order, options_for_select([['10','10'],['50','50'],['100','100'],['250','250'],['500','500']]),:prompt => "Number of books per page", :class => "form-control", :style => "background-color: #eee")  %>
            </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
          <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
          <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset %>
        </div>
      <%end%>
        <div class="clearfix m-b-30"></div>
        <div id="search_result"></div>
        <!-- Page Content Ends --> 
        <!-- ================== --> 
      
        <!-- Footer Start -->
      <%= render :partial => "layouts/footer" %>
        <!-- Footer Ends --> 
    </section>
  </body>
</html>