<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12"><h4 class="borderBottom">Search</h4>
      </div>
    </div>
    <%= form_tag search_publishers_path, :method => 'get' do %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
              <label><strong>Information</strong></label><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput">Search By:<span class="red">*</span>:</label>
            <%= radio_button_tag :JOC_DESCRIPTION, 'Book', :checked => true %>Book
            <%= radio_button_tag :JOC_DESCRIPTION, 'Chapter' %>Chapter
            <%= radio_button_tag :JOC_DESCRIPTION, 'Batch' %>Batch
            <label>(Wildcard characters supported: *,+ )</label>
          </div>
        </div>
      </div>
      <div id="search_book">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput" >Publisher Name:<span class="red">*</span>:</label>
              <%= collection_select(:PUY_PUBLISHER_COUNTRY_ID, 0, Publisher.all, :id, :publisher_name) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">ISBN <span class="red">*</span>:</label>
              <%= text_field_tag :isbn, params[:isbn] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput" >Title</label>
              <%= text_field_tag :title, params[:title] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Author</label>
              First Name:
              <%= text_field_tag :first_name, params[:first_name] %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              Last Name:
              <%= text_field_tag :last_name, params[:last_name] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Status <span class="red">*</span>:</label>
              <%= text_field_tag :status, params[:status] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Upload Period</label>
              from
              <%= text_field_tag :from, params[:from] %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              to
              <%= text_field_tag :to, params[:to] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Sort Order<span class="red">*</span>:</label>
              <%= select_tag(:sort_order, options_for_select([['---','---'],['Title','title'],['Publisher Code','publisher_code'],['Author','author']]))  %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">No. of search results per page<span class="red">*</span>:</label>
              <%= select_tag(:sort_order, options_for_select([['10','10'],['50','50'],['100','100'],['250','250'],['500','500']]))  %>
            </div>
          </div>
        </div>
      </div>
      <div id="search_chapter">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput" >Publisher Name:<span class="red">*</span>:</label>
              <%= collection_select(:PUY_PUBLISHER_COUNTRY_ID, 0, Publisher.all, :id, :publisher_name) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Book ISBN <span class="red">*</span>:</label>
              <%= text_field_tag :isbn, params[:isbn] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput" >Chapter Identifier</label>
              <%= text_field_tag :identifier, params[:identifier] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput" >Chapter Title</label>
              <%= text_field_tag :title, params[:title] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Author</label>
              <label>First Name</label>
              <%= text_field_tag :first_name, params[:first_name] %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name</label>
              <%= text_field_tag :last_name, params[:last_name] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="disabledTextInput">Sort Order<span class="red">*</span>:</label>
              <%= select_tag(:sort_order, options_for_select([['---','---'],['Title','title'],['Publisher Code','publisher_code'],['Chapter Identifier','chapter_identifier']]))  %>
            </div>
          </div>
        </div>
      </div>
      <div id="search_batch">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Conversion Batch Name</label>
              <%= text_field_tag :conversion_batch_name, params[:conversion_batch_name] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Batch Creation Date</label>
              <label>from</label>
              <%= text_field_tag :from, params[:from] %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>to</label>
              <%= text_field_tag :to, params[:to] %>
            </div>
          </div>
        </div>
      </div>
      <div class="row"  >
        <div class="col-md-6">        
          <%= submit_tag "Search" %>
          <%= button_tag "Reset", type: :reset %>
        </div>
      </div>
    <% end %>
  </body>
</html>

<script>   
$(document).ready(function(){
        // $('#book').hide();
// if(id == "Book")) 
$('#search_chapter').hide();
$('#search_batch').hide();

  $(':radio').change(function() {
      var id = $(this).val();
      
      console.log(id);
      if(id.search("Book")!=-1){
        $('#search_book').show();
      } else if(id.search("Chapter")!=-1){
        $('#search_book').hide();
        $('#search_chapter').show();
        $('#search_batch').hide();
      } else if(id.search("Batch")!=-1){
        $('#search_book').hide();
        $('#search_chapter').hide();
        $('#search_batch').show();
      } 
      /*else{
        $('#book_id').hide();
        $('#subject_group').show();
      }*/
  });
});
</script>