<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%> 
  
  <div class="container-fluid">
    <div class="row">
      <div id= 'pub_book'>
        
        <!--Category -->

        <div class="container" style="padding-bottom:90px;">
<div class="row">
<section class="col-md-12">
  <div class="border_wrapper padding10px mtb25">
    <div id="bodydivs"> 
      <div class="col-md-12 border_bottom pb10">
        <h2 class="heading1 ">Search Results
          <%= form_tag  refine_search_homes_path, :method => 'get',:id=>"Author Name/Book Title",:class=>"form-inline pull-right",:remote => true do %>
            <%= text_field_tag :search,"", :class => "form-control input-sm", :placeholder => "Refine Search" %>
            <%= hidden_field_tag :subject_group_id, @subject_group.id%>
            <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-primary btn-sm responsive_margin_top20px border_radius3px", type: :submit %>
          <%end%>
        </h2>
      </div>
      <div class="clearfix"> </div>
      <div class="dotted_bottom"> </div>
      <!-- <div class="col-md-12 mtb25 ">
        <div class="pull-left padding_top3px">
          <p>Results
            &nbsp;1&ndash;10
            of
            &nbsp;120 <strong>&nbsp;</strong></p>
        </div>
      </div> -->
      <div class="clearfix"> </div>
      <div class="border_bottom"></div>
      <% if @books.present? %>
      <% @books.each do |f| %>
      <div class="margin_top20px im_width">
        <div class="pull-left margin_right5px margin_left5px effects search-result col-md-3">
          <%= link_to image_tag("http://www.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{f.isbn}-T-FC.jpg",class: "img-responsive"), books_description_homes_path(:book_id => f.id), class: "cover2" %>
        </div>
        <div class="col-md-9">
          <h3 title="book description"><%= link_to f.book_title.presence || "", books_description_homes_path(:book_id => f.id)%></h3>
          <h3 title="Austin Balfour"> By
           : <span class="dark_yellow"><%=(f.books_contributor.first_name.presence || "")+" "+(f.books_contributor.last_name.presence || "") %></span></h3>
          <p><strong> Description
          :</strong>
          <% if f.book_blurb.length > 2 %>
           <%= truncate(f.book_blurb.presence || "", length: 182) %>
           <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
           <script>
            $('.read-more-<%= f.id %>').on('click', function(e) {
              e.preventDefault()
              $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
            })
           </script>
          <% end %>
          </p>
        </div>
        <div class=" clearfix"> </div>
      </div>
      <div class="clearfix"></div>
      <div class="border_bottom"> </div>
      <div class=" clearfix"> </div>
      <% end %>
      <% else %>
        <div class="col-md-12 ">
          <div class="border_bottom-list"> </div>
        </div> 
      <%end%>
      <div class="pagination-frontend">
        <nav aria-label="Page navigation" style="clear:both;"> 
          <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
        </nav>  
      </div>
    </div>
  </div>
</section>
</div>
</div>

        <!--Category End -->

      </div>
    </div>
  </div>

<footer>
  <%= render :partial => "homes/publisher_footer"%>
</footer>


</section>