<section class="content">
  <%= render :partial => "#{@publisher.theme_name}"%> 
  
  <div class="container-fluid">
    <div class="row">
      <div id= 'pub_book'>

      <!-- book_description -->
      
      <div class="border_wrapper">
<div class="container">
<div id="bodydivs"> 
  <div class="row">
    <div class="col-md-12 mt20 mb20">
      <ul class="nav nav-tabs noborder" data-tabs="tabs" style="
    background: transparent;">
        <li class="active tabGradient"><a href="#bookInfo" data-toggle="tab">Book Info</a></li>
      </ul>
      <div class="tab-content tab_border grayContainer">
        <div class="tab-pane active" id="bookInfo">
          <div class="pageHeading">
            <h1> <a  href="#"><strong><%= @book_information.book_title.presence || "" %></strong></a> </h1>
          </div>
          <div class="xtraPadding mt20">
            <div class="col-md-3 col-sm-4">
              <%= image_tag("http://www.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{@book_information.isbn}-T-FC.jpg",class: "ownBookImg") %></div>
            <div class="col-md-9 col-sm-8"> 
                <!-- <p>To read sections of the book, please use the navigation menu at the top left.</p> -->
            <div class="clearFloat"></div>

            <p><span class="book_atr col-xs-12 col-md-3"><strong>ISBN&nbsp;:&nbsp;</strong></span><span class="book_description col-xs-12 col-md-9"><%= @book_information.isbn.presence || "" %></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Publisher&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-9">&nbsp;<%= @publisher.publisher_name.presence || "" %></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Language&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-9">&nbsp;<%= @book_information.language.presence || "" %></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Category&nbsp;:&nbsp;</strong></span> <span class="book_description col-xs-12 col-md-9">&nbsp;Engineering and Technology</span></p>
              
                
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Publication Year&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-9">&nbsp;<%= @book_information.publication_date.presence || "" %></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Price&nbsp;:</strong></span><span class="book_description col-xs-12 col-md-9">&nbsp;USD&nbsp;    145.00</span></p>
            <% unless @book_information.books_content_pricing.blank? %>
              <p><span class="book_atr col-xs-12 col-md-3"><strong>Format&nbsp;:</strong></span><span class="col-xs-12 book_description col-md-9">&nbsp; <%=@book_information.books_content_pricing.format.presence || "" %></span></p>
            <% end %>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Description&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-12 margin_bottom10px"><%= @book_information.book_blurb.presence || "" %> </span></p>
            <p><span class="col-xs-12 book_atr col-md-3"><strong>Author/Editor&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-12">
              <%= @book_information.books_contributor.first_name.presence || "" %>&nbsp <%= @book_information.books_contributor.last_name.presence || "" %>
             <br>
            </span></p>
            <p><span class="col-xs-12 book_atr col-md-3"><strong>Author's Description&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-12">
              <%= @book_information.books_contributor.description.presence || "" %>
             <br>
            </span></p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
</div>
</div>

      <!-- book_description end -->  

      </div>
    </div>
  </div>

<footer>
  <%= render :partial => "homes/publisher_footer"%>
</footer>


</section>