<html>
<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class="div1">

<table>
 	<thead>
 		<th class="page_head">Content Conversion</th>
 	</thead>
 </table>

<div class="center">
<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("upload_metadata.gif"),books_index_path %><br>
		Books
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("upload_journal_metadata.gif"),journals_index_path %><br>
		Journals
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("uploadErrors.gif"),content_conversation_uploaded_errors_path %><br>
		Upload Errors		
	</td>
</tr>
<tr>
	<td class="gindexborder" colspan="2" valign="center">
		<%= link_to image_tag("uploadSubjectgroup.gif"),subject_groups_index_path %><br>
		Subject Group	
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("update_status.gif"),content_conversation_update_status_path %><br>
		Update Status
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("content_history.gif"),content_conversation_content_history_path%><br>
		Content History
	</td>
</tr>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("QA_Icon.gif"),content_conversation_qa_check_path%><br>
		QA Check
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= link_to image_tag("BS_metadata.gif"),content_conversation_index_content_path%><br>
		Index Content
	</td>
</tr>
</table>
</div>
</div>
</body>
</html>