<html>
	<body class = "body1">
		<div class="row">
			<div class="col-md-12">
				<h4 class="borderBottom">Content Conversion</h4>	 
			</div>
		</div>
		<div class="row mt10">
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("upload_metadata.gif"),books_path %></div>
						<div class="card-block">
              <!--Name-->
              <h4 class="card-title">Books</h4>
              <!--<hr>-->
              <!--Quotation-->
              <!--<p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>-->
          	</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="custCard">
						<div class="cardUp dkBlurBg"></div>
						<div class="aviater"><%= link_to image_tag("upload_journal_metadata.gif"),journals_path %></div>
						<div class="card-block">
              <!--Name-->
              <h4 class="card-title">Journals</h4>
          	</div>
					</div>
				</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("uploadErrors.gif"),uploaded_errors_content_conversation_index_path %></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Upload Errors</h4>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("uploadSubjectgroup.gif"),subject_groups_path %></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Subject Group</h4>
        	</div>
				</div>
			</div>
		</div>
		<!--end of row 1-->
		<div class="row mt20">
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("update_status.gif"),update_status_content_conversation_index_path %></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Update Status</h4>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("content_history.gif"),content_history_content_conversation_index_path%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Content History</h4>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("QA_Icon.gif"),qa_check_content_conversation_index_path%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">QA Check</h4>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("BS_metadata.gif"),index_content_content_conversation_index_path%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Index Content</h4>
        	</div>
				</div>
			</div>
		</div>
		<div class="row mt20">
			&nbsp;
		</div>
	</body>
</html>