<div class="row">
  <div class="col-md-12">
      <div class="mt10 table-demo">Search Result <span class="pull-right">
                      <div class="dropdown">
                        <ul class="nav">
                          <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            <ul class="dropdown-menu-right">
                              <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                              <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                              <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      </span></div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr style="font-size:13px">
              <th class="tableheader">Publisher</th>
              <th class="tableheader">Id</th>
              <th class="tableheader">Name</th>
              <th class="tableheader">Saleable</th>
              <th class="tableheader">Is Linkable</th>
              <th class="tableheader">Linkable From</th>
              <th class="tableheader">Linkable To</th>
              <th class="tableheader">Created By</th>
            </tr>
          </thead>
          <tbody>
            <% if @license_group.present? %>
              <% @license_group.each do |lic_group| %>
              <tr>
                <td><%= lic_group.publisher_id %> </td>
                <td ><%= lic_group.license_group_id %></td>
                <td><%= link_to lic_group.license_group_name,("") %></td>
                <td><%= lic_group.license_for_sale%></td>
                <td > - </td>
                <td><%= lic_group.from %></td>
                <td><%= lic_group.to %></td>
                <td><%= lic_group.created_by %></td>
             </tr>
             <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12"> </div>
  </div>
</div>