<%= form_tag search_content_license_groups_path, :remote => true, :method => 'get' do  %>
  <tr>
   <td height = "25" colspan="5" > 
    <p class="sub_head">Licenses <span class="mandtory">*</span>
    </p>
   </tr>
  <tr>
    <td height = "25"> Publisher
     <span class="mandtory">*</span>
    </td>
    <td height = "25">
      <%= collection_select(nil, :publisher_id, Publisher.all, :id, :publisher_name) %>
    </td>
  </tr>
  <tr>
  	<td>
      License ID
      <span class = "mandtory ">*</span>
    </td>
    <td>
      <%= text_field_tag :license_name %>
    </td>
    <td>
      License Name
      <span class = "mandtory ">*</span>
    </td>
    <td>
      <%= text_field_tag :license_name %>
    </td>
  </tr>
  <tr>
    <td >License Type <span class="mandtory">*</span></td>
    <td><select select id="licenseType">
     	<option value="" selected>Select</option>
      <option value="relative">Relative Date Range</option>
      <option value="downloadable">Downloadable Content</option>
      <option value="fixed_date_range">Fixed Date Range</option>
    </select></td>
    <td>
      Content Identifier
      <span class = "mandtory ">*</span>
    </td>
    <td>
      <%= text_field_tag :license_name %>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= submit_tag "Save" %></td>
  </tr>
<%end%>
