%body{:class => "body1"}
= render :partial => '/layouts/header'
%div{:class=>"div1"}
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "860"}
    %tr
      %td.page_head Search License Group
    %tr
      %td{:align => "left"}
    %tr
      %td  
    %tr
      = form_tag search_license_groups_path, :method => 'get' do 
        %td
          %table{:border => "0", :cellpadding => "10", :cellspacing => "0"}
            %tbody
              %tr
                %td{:height => "25", :width => "171"} Publisher
                %td{:height => "25", :width => "414"}
                  = collection_select(nil, :PUB_PUBLISHER_ID, Publisher.all, :id, :PUB_NAME)
              %tr
                %td{:height => "25", :width => "149"} License Group ID
                %td{:height => "25"}
                  = text_field_tag :LIG_GROUP_CODE
              %tr
                %td{:height => "25"} License Group Name
                %td{:height => "25", :width => "436"}
                  = text_field_tag :LIG_LIC_GROUP_NAME
              %tr
                %td{:height => "25"} License Name
                %td{:height => "25", :width => "436"}
                  %input.text_field{:name => "nameSrch"}
              %tr
                %td{:height => "25"} Created By
                %td{:height => "25"}
                  = text_field_tag :CREATED_BY
              %tr
                %td{:height => "25"} Saleability
                %td{:height => "25"}
                  %select#select2{:name => "LIG_FOR_SALE"}
                    %option{:selected => "selected", :value => ""} Select
                    %option{:value => "Y"} For Sale
                    %option{:value => "N"} Not For Sale
              %tr
                %td.GBoldText{:align => "right"}  
                %td.GBoldText{:align => "left"}
                  = submit_tag "Search"
                  %input.submit_btn{:type => "reset", :value => "Reset"}