<body class="body1"></body>
<div class="div1">
  <table border="0" cellpadding="0" cellspacing="0" width="860">
    <tr>
      <td class="page_head">Search License Group</td>
    </tr>
    <tr>
      <td align="left"></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <%= form_tag search_license_groups_path, :method => 'get' do  %>
        <td>
          <table border="0" cellpadding="10" cellspacing="0">
            <tbody>
              <tr>
                <td height="25" width="171">Publisher</td>
                <td height="25" width="414">
                  <%= collection_select(nil, :publisher_id, Publisher.all, :id, :publisher_name) %>
                </td>
              </tr>
              <tr>
                <td height="25" width="149">License Group ID</td>
                <td height="25">
                  <%= text_field_tag :license_group_ID %>
                </td>
              </tr>
              <tr>
                <td height="25">License Group Name</td>
                <td height="25" width="436">
                  <%= text_field_tag :license_group_name %>
                </td>
              </tr>
              <tr>
                <td height="25">License Name</td>
                <td height="25" width="436">
                  <%= text_field_tag :license_name %>
                </td>
              </tr>
              <tr>
                <td height="25">Created By</td>
                <td height="25">
                  <%= text_field_tag :created_by %>
                </td>
              </tr>
               <tr>
                <td height = "25">Saleability </td>
                <td height = "25"> 
                 <%= select_tag(:license_for_sale, options_for_select([['Select',0],[' For Sale',:y],['Not For Sale',:n]]))%>
                </td>
               </tr>
              <tr>
                <td align="right" class="GBoldText"></td>
                <td align="left" class="GBoldText">
                  <%= submit_tag "Search" %>
                  <%= submit_tag "Reset", :type => "reset" %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      <% end %>
    </tr>
  </table>
</div>