<body class = "body1">
    <%= form_for @license_group do |f| %>
  <table border =  "0", cellpadding = "0", cellspacing = "0", width = "860", class = "center">
    <tr>
      <td class = "page_head"> Create License Group</td>
    </tr>
    <tr>
      <td>
        <table border = "0", cellpadding = "6", cellspacing = "0", width = "100%", class = "center">
          <tr>
            <td>
              <table border = "0", cellpadding = "10", cellspacing = "0">
                <tbody>
                 <tr>
                   <td height = "25" colspan="5" > 
                    <p class="sub_head">Information
                    </p>
                  </tr>
                  <tr>
                    <td height = "25">
                      License ID
                      <span class = "mandtory ">*</span>
                    </td>
                    <td height = "25">
                     <input value="System Generated" id="licenseId" disabled />
                    </td>
                    <td>
                      License Name
                      <span class = "mandtory ">*</span>
                    </td>
                    <td>
                      <%= f.text_field :license_name %>
                    </td>
                  </tr>
                  <tr>
                    <td height = "25"> Created On</td>
                    <td height = "25">
                     <input id="createdOn" value="System Generated" disabled />
                    </td>
                    <td> Created By </td>
                    <td height = "25">
                      <input id="createdBy" value="ctssuperadmin@bookstore.com" disabled />
                    </td>
                  </tr>
                   <%= render :partial => 'search_content'%>
                  <tr id ="search_content">
                  </tr>
                  <tr>
                   <td height = "10" colspan="2" > 
                    <p class="sub_head">License can be Linked to user:
                    </p>
                  </tr>
                  <tr>
                    <td height="25" width="430">
                      From <%= f.text_field :from, :id => 'from' %>
                    </td>
                    <td height="25" width="430">
                      To <%= f.text_field :to, :id => 'to' %>
                    </td>
                  </tr>
                  <tr>
                    <td height = "25" colspan="5">
                     <%= f.radio_button :to, 'Yes'%>Allow License to be linked    
                     <%= f.radio_button :to, 'No' %>Prevent License from being linked 
                   </td>
                  </tr>
                  <tr>
                   <td height = "10" colspan="2" > 
                    <p class="sub_head">Purchase Information
                      <td height = "25" colspan="5">
                        <%= link_to "Manually Edit Prices"%>
                      </td>
                    </p>
                  </tr>
                  <tr>
                    <td height = "25" colspan="5">
                     <%= f.radio_button :license_for_sale, 'Yes'%>For Sale    
                     <%= f.radio_button :license_for_sale, 'No' %>Not For Sale
                   </td>
                  </tr>
                  <tr>
                   <td class = "GBoldText", align = "right", height = "35">
                     <table border = "0", cellpadding = "0", cellspacing = "0">
                       <tr>
                         <td height = "25" colspan="5">
                            Discount%<%= f.text_field :license_type %>
                          </td>
                          <td height = "25" colspan="5">
                           <%= submit_tag "Save" %>
                         </td>
                       </tr>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  <% end %>
