<!doctype html>
<html>
<head><title>Content Store :: License </title>
<!-- Latest compiled and minified CSS -->
<%= render :partial => "layouts/header"%>
</head>
<body>
  <section class="content"> 
    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
   <!-- Header Ends --> 
    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
       <li><a href="#">Home</a></li>
     <li><a href="#">Publisher Setup</a></li>
     <li><a href="#" class="active">Create License</a></li>
       <div class="pull-right hidden">
        <li><a href="#">Browse by Chapter</a></li>
        <li><a href="#">Browse by Book </a></li>
       </div>
      </ol>
      <%if @license_group.new_record?%>
        <h2 class="H2-L1">Create License Group</h2>
      <%else%>
        <h2 class="H2-L1">License Group Details</h2>
      <%end%>

      <%= form_for @license_group ,:remote => true do |f| %>
        <div>
          Information
          </div>
        <div class="col-md-6"><div class="form-group">
          <label for="Publisher" class="col-sm-5 control-label">License ID<sup class="mandatory">*</sup></label>
          <div class="col-sm-7">
            <input value="System Generated" id="licenseId" class="form-control" disabled />
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">License  Group Name<sup class="mandatory">*</sup></label>
          <div class="col-sm-7">
             <%= f.text_field :license_group_name , :class => "form-control" %>
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">Created On<sup class="mandatory">*</sup></label>
          <div class="col-sm-7">
            <input value="System Generated" id="created_on" class="form-control" disabled />
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">Created By<sup class="mandatory">*</sup></label>
          <div class="col-sm-7">
            <input value="System Generated" id="created_by" class="form-control" disabled />
          </div>
        </div></div>              
        <%= render :partial => 'search_content'%>
        <div id ="search_content">
        </div>

        <p class="sub_head">License can be Linked to user:</p>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">From<sup class="mandatory">*</sup></label>
          <div class="col-sm-7">
            <%= f.text_field :from , :class => "form-control",:id => 'from' %>
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">To</label>
          <div class="col-sm-7">
            <%= f.text_field :to , :class => "form-control",:id => 'to' %>
          </div>
        </div></div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="radio-inline">
              <%= f.radio_button :to ,'Yes', :class => "form-control" %>Allow License to be linked
            </label>
            <label class="radio-inline" >
              <%= f.radio_button :to ,'no', :class => "form-control" %>Prevent License from being linked
            </label>
          </div>
        </div>
        
         <tr>
            <p class="sub_head">Purchase Information
              <td height = "25" colspan="5">
                <%= link_to "Manually Edit Prices"%>
              </td>
            </p>
          </tr>
          <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">For Sale</label>
          <div class="col-sm-7">
            <%= f.radio_button :to ,'Yes', :class => "form-control" %>
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">Not For Sale </label>
          <div class="col-sm-7">
            <%= f.radio_button :to ,'no', :class => "form-control" %>
            <%= f.hidden_field "role_ids][", { :id => "role_ids", :value => [] } %>
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-5 control-label">Discount%</label>
          <div class="col-sm-7">
            <%= f.text_field :purchase_info_discount , :class => "form-control" %>
          </div>
        </div></div>
                    <div class="clearfix"></div>
    
        <div class="clearfix m-b-30"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
          <%= button_tag fa_icon("search", text: "Save"), :class => "btn btn-sm", type: :submit %>
        </div>
        </div>
      <% end %>
</section>
