%body{:class => "body1"}
= render :partial => '/layouts/header'
%div{:class=>"div1"}
  %tr
    %td{:colspan => "2"}
      %table{:bgcolor => "#cccccc", :border => "0", :cellpadding => "10", :cellspacing => "1", :width => "100%"}
        %tbody
          %tr
            %td.tableheader Publisher
            %td.tableheader Id
            %td.tableheader Name
            %td.tableheader Saleable
            %td.tableheader Is Linkable
            %td.tableheader Linkable From
            %td.tableheader Linkable To
            %td.tableheader Created By
          %tr
            - if @license_group.present?
              - @license_group.each do |lic_group|
                %td{:bgcolor => "#FBFBFB"}
                  = lic_group.PUB_PUBLISHER_ID
                %td#40521Code{:bgcolor => "#FBFBFB"}
                  = lic_group.LIG_LICENSE_GROUP_ID
                %td{:bgcolor => "#FBFBFB"}
                  = link_to lic_group.LIG_LIC_GROUP_NAME,("")
                %td#40521Type{:bgcolor => "#FBFBFB"}
                  = lic_group.LIG_FOR_SALE
                %td{:bgcolor => "#FBFBFB"} -
                %td{:bgcolor => "#FBFBFB"}
                  = lic_group.LIG_LINK_FROM_DATE
                %td{:bgcolor => "#FBFBFB"}
                  = lic_group.LIG_LINK_TO_DATE
                %td{:bgcolor => "#FBFBFB"}
                  = lic_group.CREATED_BY
            - else
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
              %td{:bgcolor => "#FBFBFB"} -
