<body class = "body1">
<div class = "div1">
<%= render :partial => '/layouts/header' %>
<table class = "center">
  <tr>
    <td class = "page_head">Create Institution</td>
  </tr>
  <tr>
    <%= form_tag new_institution_user_path, :method => 'get' do |f| %>
      <td align = "left">
        <table border = "0", cellpadding = "10", cellspacing ="0">
          <tbody>
            <tr>
              <b> Details </b>
              <td height = "25"> Select Publisher</td>
              <td align = "left">
                <%= collection_select(:PUB_PUBLISHER_ID, 0, Publisher.all, :id, :PUB_NAME)%>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> Institution ID</td>
              <td align = "left", height = "25">
                <%= text_field_tag :code, params[:code] %>
              </td>
              <td align = "left", height = "25"> Lib./Dept. Name</td>
              <td align => "left">
                <%= text_field_tag :name, params[:name]%>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> Institution Name</td>
              <td align = "left">
                <%= text_field_tag :name, params[:name] %>
              </td>
              <td height => "25"> Status </td>
              <td height => "25">
                <%= collection_select(:INS_INSTITUTION_STATUS, 0, Institution.all, :id, :INS_INSTITUTION_STATUS)%>
              </td>
            </tr>
          </tbody>
        </table>
        <table border = "0", cellpadding = "10", cellspacing = "0">
          <tbody>
            <tr>
              <b> Branding Options</b>
              <td align = "left", height = "25"> Display Name</td>
              <td align => "left">
                <%= text_field_tag :name, params[:name]%>
              </td>
            </tr>
            <tr>
              <td align = "left", height => "25"> Logo</td>
              <td align = "left">
                <%= file_field_tag :name %>
              </td>
            </tr>
          </tbody>
        </table>
        <table border = "0", cellpadding = "10", cellspacing = "0">
          <tbody> 
            <tr>
              <b> Billing Address</b>
              <td align = "left", height = "25"> Contact First Name</td>
              <td align = "left">
                <%= text_field_tag :name %>
              </td>
              <td align = "left", height = "25"> Contact Last Name</td>
              <td align = "left">
                <%= text_field_tag :name  %>
              </td>
            </tr>
            <tr>
              <td align = "left", height => "25"> Phone</td>
              <td align = "left">
                <%= text_field_tag :name %>
              </td>
              <td align = "left", height => "25"> Email</td>
              <td align = "left">
                <%= text_field_tag :name %>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> Address</td>
              <td align = "left">
                <%= text_field_tag :name%>
              </td>
              <td align = "left", height = "25"> Address Line 2</td>
              <td align = "left">
                <%= text_field_tag :name %>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> Address Line 3</td>
              <td align = "left">
                <%= text_field_tag :name %>
              </td>
              <td align = "left", height = "25"> City / Town</td>
              <td align = "left">
                <%= text_field_tag :name%>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> State / Province</td>
              <td align = "left">
                <%= text_field_tag :name %>
              </td>
              <td align = "left", height = "25"> Postal Code</td>
              <td align = "left">
                <%= text_field_tag :name%>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> Country</td>
              <td align = "left">
                <%= collection_select(:PUY_PUBLISHER_COUNTRY_ID, 0, Countryname.all, :id, :CON_COUNTRY_NAME) %>
              </td>
            </tr>
            <tr>
              <td align =  "left", height =  "25"> Comments</td>
              <td align =  "left">
                <%= text_area_tag :INS_COMMENTS %>
              </td>
            </tr>
          <!-- %tbody -->
            <tr>
              <td align = "left">  
                <%= submit_tag "Submit", :name => nil %>
              </td>
              <td align = "left">
                <%= submit_tag "Reset", :name => nil %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    <% end %>
  </tr>
</table>
</div>
<%= render :partial => '/layouts/footer'%>
</body>




 