%body.body1
%div.div1
= render :partial => '/layouts/header'
%table.center
  %tr
    %td.page_head Search Institutional Users
  %tr
    %td  
  %tr
    %td  
  %tr
    = form_tag institution_user_search_path, :method => 'get' do 
      %td{:align => "left"}
        %table{:border => "0", :cellpadding => "10", :cellspacing => "0"}
          %tbody
            %tr
              %td{:align => "left", :height => "25"} First Name
              %td{:align => "left", :height => "25"}
                = text_field_tag :code, params[:code]
            %tr
              %td{:align => "left", :height => "25"} Last Name
              %td{:align => "left"}
                = text_field_tag :name, params[:name]
            %tr
              %td{:align => "left", :height => "25"} Contact Email
              %td{:align => "left"}
                = text_field_tag :name, params[:name]
            %tr
              %td{:align => "left", :height => "25"} User Status
              %td{:align => "left"}
                = collection_select(:USE_STATUS, 0, User.all, :id, :USE_STATUS)
            %tr
              %td{:align => "left", :height => "25"} User Role
              %td{:align => "left"}
                = collection_select(:USE_USER_TYPE, 0, User.all, :id, :USE_USER_TYPE)
            %tr
              %td{:align => "left", :height => "25"} User Name
              %td{:align => "left"}
                = text_field_tag :name, params[:name]
            %tr
              %td{:align => "left", :height => "25"} Institution Id
              %td{:align => "left"}
                = text_field_tag :name, params[:name]
            %tr
              %td{:align => "left", :height => "25"} Institution Name
              %td{:align => "left"}
                = text_field_tag :name, params[:name]
          %tbody
            %tr
              %td{:align => "left"}  
              %td{:align => "left"}
                = submit_tag "Submit", :name => nil 
                //%input.submit_btn{:name => "search", :type => "submit", :value => "Search"}/
                = submit_tag "Reset", :name => nil 
                //%input.submit_btn{:name => "button2", :onclick => "getCancel();", :type => "button", :value => "Cancel"}/

  %tr
    %td  
  %tr
    %td 



 

 