<!doctype html>
<html>

<head>
  <title>Content Store :: Dashboard</title>
  <!-- Latest compiled and minified CSS -->
</head>

<body>

 <!-- Aside Start-->
<%= render :partial => "layouts/sidebar"%>
<!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content">
<!-- Header -->
    <%= render :partial => "layouts/top_header"%>
<!-- Header Ends -->



    <!-- Page Content Start -->
    <!-- ================== -->

    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
       <li><a href="#">Home</a></li>
       <li class="active">Dashboard</li>
       <div class="pull-right hidden">
        <li><a href="#">Browse by Chapter</a></li>
        <li><a href="#">Browse by Book </a></li>
       </div>
      </ol>
      <h2 class="H2-L1">Manager's Dashboard</h2>
      <div class="row m-b-30">
        <div class="col-sm-12">
          <div class="card card-min-height">
            <div class="card-header">
              Show Publishers Details
            </div>
              
<div id="container" style="min-width: 900px; height: 400px; margin: 0 auto"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script>
  var data = "<%=@data%>".replace(/&quot;/g,'"');
  function getData(){
   return JSON.parse(data);
  }
  Highcharts.chart('container', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Publisher books count details'
  },
  subtitle: {
    text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population"></a>'
  },
  xAxis: {
    type: 'category',
    labels: {
      rotation: -45,
      style: {
        fontSize: '13px',
        fontFamily: 'Verdana, sans-serif'
      }
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: 'books (millions)'
    }
  },
  legend: {
    enabled: false
  },
  series: [{
    name: 'books',
    data: getData(),
    dataLabels: {
      enabled: true,
      rotation: -90,
      color: '#FFFFFF',
      align: 'right',
      format: '{point.y:.1f}', // one decimal
      y: 10, // 10 pixels down from the top
      style: {
        fontSize: '13px',
        fontFamily: 'Verdana, sans-serif'
      }
    }
  }]
});
</script>
        </div>
        <div class="col-sm-6">









        <!-- colors:['#434DF0'],
                height:heightis,
                fontSize:5,
                titleFontSize:12,
                width:widthis,
                chartArea: {
                    left:38,
                    top:30,
                    width:"65%",
                    height:"80%"
                },

                title:heading,
                titleColor:'#3300CC',
                titleY:'Percentages',
                titleX:dim1Name,
                legend: 'none'


            };
 -->



          <!-- <div class="card">
            <div class="card-header">
              Tasks at Glance
            </div> -->
           <!-- <div class="card-block">
              <form>
                <select class="form-control">
                  <option>Balch/Morita: Textbook of Surgical Oncology</option>
                  <option>Hay - Current Diagnosis & Treatment Pediatrics</option>
                  <option>Kaushansky/Williams Hematology</option>
                  <option>Tintinalli's Emergency Medicine Manual</option>
                  <option>Tintinalli's Emergency Medicine: A Comprehensive Study Guide</option>
                </select>
              </form>
             <div id="piechart" style="width: 100%; height: 213px;"></div>
            </div> -->
            <div class="card-footer">
              <a href="#" class="flat-btn pull-right">Manage Tasks</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card card-min-height">
            <div class="card-header">
              Available Subscriptions
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Institution Name</th>
                  <th>Subscription Name</th>
                  <th>Subscription Count</th>
                </tr>
              </thead>
              <tbody>
                <% @institute_name.each do |f| %>
                <%# @subscription.each do |f1| %>
                <tr>
                  <td><%= f.institution_name %></td>
                  <td><%= f.subscriptions.last.subscription_name %></td>
                  <td><%= link_to '<i class="fa fa-download  font-b-icon"></i>'.html_safe, download_quote_path(id: f.id, format: :xls) %> </td>
                <% end %>               
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Content Ends -->
    <!-- ================== -->

   <!-- Footer Start -->
<%= render :partial => "layouts/footer"%>
<!-- Footer Ends -->
  </section>
 
<!--for popup page all popup comes from this page-->
  <!-- Main Content Ends -->
  <!-- Latest compiled and minified JavaScript -->
  
   
</body>

</html>
