<% if @publisher.domain_name == "syrawoodpublishinghouse"%>
<div class="container" style="padding-bottom:90px;">
<div class="row">
<section class="col-md-12">
  <div class="border_wrapper padding10px mtb25">
    <div id="bodydivs"> 
      <div class="col-md-12 border_bottom pb10">
        <h2 class="heading1 ">Search Results
          <%= form_tag  refine_search_homes_path, :method => 'get',:id=>"Author Name/Book Title",:class=>"form-inline pull-right",:remote => true do %>
            <%= text_field_tag :search,"", :class => "form-control input-sm", :placeholder => "Refine Search" %>
            <%= hidden_field_tag :subject_group_id, @subject_group.id%>
            <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-primary btn-sm responsive_margin_top20px border_radius3px", type: :submit %>
          <%end%>
        </h2>
      </div>
      <div class="clearfix"> </div>
      <div class="dotted_bottom"> </div>
      <!-- <div class="col-md-12 mtb25 ">
        <div class="pull-left padding_top3px">
          <p>Results
            &nbsp;1&ndash;10
            of
            &nbsp;120 <strong>&nbsp;</strong></p>
        </div>
      </div> -->
      <div class="clearfix"> </div>
      <div class="border_bottom"></div>
      <% if @books.present? %>
      <% @books.each do |f| %>
      <div class="margin_top20px im_width">
        <div class="pull-left margin_right5px margin_left5px effects search-result col-md-3">
          <a href="#" class="cover2">
          <%= image_tag(f.logo.url(:original))%>
          </a>
        </div>
        <div class="col-md-9">
          <h3 title="A Modern Approach to Ecology of Plants"><%= f.book_title%></h3>
          <h3 title="Austin Balfour"> By
           : <span class="dark_yellow"><%= f.books_contributor.first_name + f.books_contributor.last_name %></span></h3>
          <p><strong> Description
          :</strong>
          <% if f.book_blurb.length > 2 %>
           <%= truncate(f.book_blurb, length: 30) %>
           <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
           <script>
            $('.read-more-<%= f.id %>').on('click', function(e) {
              e.preventDefault()
              $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
            })
           </script>
          <% end %>
          </p>
        </div>
        <div class=" clearfix"> </div>
      </div>
      <div class="clearfix"></div>
      <div class="border_bottom"> </div>
      <div class=" clearfix"> </div>
      <% end %>
      <% else %>
        <div class="col-md-12 ">
          <div class="border_bottom-list"> </div>
        </div> 
      <%end%>
      <div class="pagination-frontend">
        <nav aria-label="Page navigation" style="clear:both;"> 
          <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
        </nav>  
      </div>
    </div>
  </div>
</section>
</div>
</div>

<% elsif @publisher.domain_name == 'larsen-keller'  %>

 <!-- / breadcrumb_bar -->

<div class="breadcrumb_bar clearfix">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Search Results</li>
    </ol>
  </div>
  <!-- /container --> 
</div> 
 
<!-- / breadcrumb_bar -->

<!-- / main_content_section -->

<div class="main_content_section">
  <div class="container">
    <div class="common_tittle clearfix"> Search <span>Results</span> </div>
    <div class="content_wrapper">
    
      <!-- / showing_records_bar -->
      <div class="showing_records_bar">
        <div class="row">
            <div class="col-md-12 col-xs-12 mt-20">
        <%if @books.count >1 %>
          <div class="bg-gray">
            <div class="col-sm-4 no-pad" style="padding-top: 6px;"> 
              Results  1–<%= @books.count%>
            </div>
          <div class="col-sm-8 text-right no-pad">
            <div class="pagination-frontend">
              <nav aria-label="Page navigation" style="clear:both;"> 
                <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
              </nav>  
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <% end %>
      </div>
          </div>
      </div>
<!-- / showing_records_bar_end -->
           
           <!-- / list_of_records -->
           
      <div>
        <div class="row">
            <% if @books.present? %>
              <% @books.each do |f| %>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="product_list_box">
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                         <%= link_to image_tag(f.logo.url(:medium),class: "img-responsive center-block img_border margin_bottom_10px"), books_description_homes_path(:book_id => f.id),:remote => true %>
                         </div>
                        <div class="col-xs-12 col-sm-8 col-md-8">
                          <div class="product_detail">
                            <div class="product_tittle">
                            <%= link_to f.book_title, books_description_homes_path(:book_id => f.id), :remote => true %>
                            </div>
                            <h4><strong>By :</strong> <%= truncate(f.books_contributor.first_name+" "+f.books_contributor.last_name, length: 14) %></h4>
                            <p><strong>Description :</strong>
                            <% if f.book_blurb.length > 2 %>
                              <%= truncate(f.book_blurb, length: 30) %>
                              <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
                              <script>
                                $('.read-more-<%= f.id %>').on('click', function(e) {
                                  e.preventDefault()
                                  $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
                                })
                              </script>
                            <% end %>
                            </p>
                           </div>
                        </div>
                      </div>
                    </div>
                </div>
              <% end %>
            <% end %>
        </div>                   
      </div>
       
       <!-- / list_of_records_end -->
       
       <!-- / showing_records_bar -->
       <div class="showing_records_bar">
        <%if @books.count >1 %>      
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 pd_top7">
              Showing 1 to <%= @books.count%>
           </div>
          <div class="col-xs-12 col-sm- text-right col-md-6">
           <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
          </div>
        </div>
        <% end %>
      </div>
       <!-- / showing_records_bar_end -->
     </div>
  </div>
</div>
</div>

<!-- / clients_section end --> 
 




<% elsif @publisher.domain_name == "nyresearchpress" || 'callistoreference' %>
<div class="border_wrapper padding10px">
  <div class="row ">
    <div class="col-sm-4 pb-10">Search Results</div>
      <div class="text-right col-sm-8">
        <%= form_tag  refine_search_homes_path, :method => 'get',:id=>"Author Name/Book Title",:class=>"form-inline pull-right",:remote => true do %>
          <div class="form-group">
            <%= text_field_tag :search,"", :class => "form-control input-sm", :placeholder => "Refine Search" %>
            <%= hidden_field_tag :subject_group_id, @subject_group.id%>
          </div>
          <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-primary btn-sm responsive_margin_top20px border_radius3px", type: :submit %>
          <%end%>
      </div>

      <div class="col-md-12 col-xs-12 mt-20">
        <div class="bg-gray">
          <div class="col-sm-4 no-pad" style="padding-top: 6px;">Results  1–10 of  227 </div>
          <div class="col-sm-8 text-right no-pad">
            <div class="pagination-frontend">
              <nav aria-label="Page navigation" style="clear:both;"> 
                <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
              </nav>  
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
        
      <div class="col-md-12 col-xs-12 mt-20">
        <%if @books.count >10 %>
          <div class="bg-gray">
            <div class="col-sm-4 no-pad" style="padding-top: 6px;"> 
              Results  1–10 of  <%= @books.count%>
            </div>
          <div class="col-sm-8 text-right no-pad">
            <div class="pagination-frontend">
              <nav aria-label="Page navigation" style="clear:both;"> 
                <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
              </nav>  
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <% end %>
      </div>

      <div class="clearfix"></div>
      <% if @books.present? %>
        <% @books.each do |f| %>
          <div class="col-md-12  no-pad mt-20">
            <div class="col-md-2  col-sm-2 col-xs-12 ">
              <div class="effects search-result "> 
              <%= link_to image_tag(f.logo.url(:medium),class: "img-responsive"), books_description_homes_path(:book_id => f.id),:remote => true, class: "cover2" %>
              </div>
            </div>
            <div class="col-md-10">
              <div class="">
                <h2>
                 <%= link_to f.book_title, books_description_homes_path(:book_id => f.id), :remote => true %>
                </h2>
                <h3 title="Frank West">
                  By
                  : <span class="dark_yellow"><%= f.books_contributor.first_name+" "+f.books_contributor.last_name %></span></h3>
                <p><strong>
                  Description
                  :</strong> 
                  <% if f.book_blurb.length > 2 %>
                   <%= truncate(f.book_blurb, length: 30) %>
                   <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
                   <script>
                    $('.read-more-<%= f.id %>').on('click', function(e) {
                      e.preventDefault()
                      $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
                    })
                   </script>
                  <% end %>
              </div>
            </div>  
          </div>

          <div class="col-md-12 ">
            <div class="border_bottom-list"> </div>
          </div>

         <% end%>
        <% else %> 
          <h3> Record Not Found </h3>
        <%end%>



       <!--lower pagination start -->
      <div class="col-md-12 col-xs-12 mt-20">
        <div class="bg-gray">
          <div class="col-sm-4 no-pad" style="padding-top: 6px;">Results  1–10 of  227 </div>
          <div class="col-sm-8 text-right no-pad">
            <div class="pagination-frontend">
              <nav aria-label="Page navigation" style="clear:both;"> 
                <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
              </nav>  
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
        
    </div>
  </div>
<% elsif @publisher.domain_name == "mlbooksinternational" %>
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <div class="border_wrapper padding10px mt5">
          <div id="bodydivs">
            <div class="col-sm-4 nopadding">
              <h3 class="heading1">Search Results</h3>
            </div>
            <div class="text-right col-sm-8 nopadding">
              <%= form_tag  refine_search_homes_path, :method => 'get',:id=>"Author Name/Book Title",:class=>"form-inline pull-right",:remote => true do %>
                <div class="form-group">
                  <%= text_field_tag :search,"", :class => "form-control input-sm", :placeholder => "Refine Search" %>
                  <%= hidden_field_tag :subject_group_id, @subject_group.id%>
                </div>
                <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-primary btn-sm responsive_margin_top20px border_radius3px", type: :submit %>
               <%end%>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12  nopadding  bg-gray mt20">
              <div class="pull-right">
                <div class="pagination pagination-sm nomargin">
                  <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
                </div>
              </div>
            </div>
            <% if @books.present? %>  
              <% @books.each do |f| %>
              <div class="margin_top20px im_width">
                <div class="col-md-2  col-sm-2 col-xs-12 ">
                  <div class="effects search-result">
                    <a href="/#" class="cover2"><%= link_to image_tag(f.logo.url(:medium),class: "img-responsive"), books_description_homes_path(:book_id => f.id),:remote => true, class: "cover2" %></a>
                  </div>
                </div>
                <div class="col-md-10">
                  <h3 title=""><a href="#"><%= link_to truncate(f.book_title, length: 14), books_description_homes_path(:book_id => f.id), :remote => true %></a></h3>
                  <h3 title="Austin Balfour"> By
                    : <span class="dark_yellow"><%= link_to truncate(f.books_contributor.first_name+" "+f.books_contributor.last_name, length: 14), books_description_homes_path(:book_id => f.id), :remote => true %></span></h3>
                  <p>
                    <strong>Description :</strong>   
                    <% if f.book_blurb.length > 2 %>
                      <%= truncate(f.book_blurb, length: 30) %>
                      <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
                      <script>
                        $('.read-more-<%= f.id %>').on('click', function(e) {
                          e.preventDefault()
                          $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
                        })
                      </script>
                    <% end %>
                  </p>
                  <h3><a href="#">Book Info</a></h3>
                </div>
              </div>
              <% end %>
            <% else %> 
              <h3> Record Not Found </h3>
            <%end%>
            <div class="border_bottom"></div>
            <div class="clearfix"></div>
            <div class="col-md-12  nopadding  bg-gray mt20">
              <div class="pull-right">
                <div class="pagination pagination-sm nomargin">
                  <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
                </div>
              </div>
            </div>
            <div class=" clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>