<div class="row">
    <div class="col-sm-12">
      <div class="border_wrapper padding10px mt5">
        <div id="bodydivs">
  <h3 class="heading1">Book Title</h3>
  <div class="border_bottom"></div>
	<div class="clearfix"></div>

	<div>
		<ul class='pagination'>
		  <% ('A'..'Z').each do |letter| %> 
		    <li>
		    	<%= link_to letter, books_by_title_homes_path(:letter=>letter)%>
		    </li>
		  <%end%>
		</ul>
    <%if @books.count >1 %>
      <div class="alpha_category">
  			<div class="pull-left mt5">
          Results  1–<%= @books.count%>
  			</div>
   			<div class="pull-right">
          <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
    		</div>
			</div>
		<% end %>
		<div class="clearfix"></div>
  </div>	
  <% @books.each do |f| %>
    <div class="margin_top20px im_width">
      <div class="col-md-2  col-sm-2 col-xs-12 ">
        <div class="effects search-result">
        	<%= link_to image_tag(f.logo.url(:medium),class: "img-responsive"), books_description_homes_path(:book_id => f.id),:remote => true, class: "cover2" %>
        </div>
      </div>
      <div class="col-md-10">
        <h3 title=""><%= link_to truncate(f.book_title, length: 14), books_description_homes_path(:book_id => f.id), :remote => true %></h3>
        <h3>By :<span class="dark_yellow"><%= truncate(f.books_contributor.first_name+" "+f.books_contributor.last_name, length: 14) %></span></h3>
        <p><strong>Description :</strong>
         <% if f.book_blurb.length > 2 %>
            <%= truncate(f.book_blurb, length: 30) %>
            <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
            <script>
              $('.read-more-<%= f.id %>').on('click', function(e) {
                e.preventDefault()
                $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
              })
            </script>
          <% end %>
        </p>
        <h3></h3>
      </div>
      <div class=" clearfix"></div>
    </div>
    <div class="border_bottom"></div>
    <div class="clearfix"></div>
  <% end %>
    
  <%if @books.count >1 %>
    <div class="col-md-12  nopadding  bg-gray mt20">
			<div class="pull-left mt5">
        Results  1–<%= @books.count%>
			</div>
 			<div class="pull-right">
    		<ul class="pagination pagination-sm nomargin">
          <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
      	</ul>
  		</div>
		</div>
	<% end %>
  <div class=" clearfix"> </div>
</div>
</div>
</div>
</div>
</div>