
<div id="bodydivs"> 
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs noborder" data-tabs="tabs">
        <li class="active tabGradient"><a href="#bookInfo" data-toggle="tab">Book Info</a></li>
      </ul>
      <div class="tab-content tab_border grayContainer">
        <div class="tab-pane active" id="bookInfo">
          <div class="pageHeading">
            <h1> <a  href="#"><strong><%= @book_information.book_title %></strong></a> </h1>
          </div>
          <div class="xtraPadding">
            <div class="col-md-3 col-sm-3"> <%= image_tag @book_information.logo.url(:medium),class: 'ownBookImg' %> </div>
            <div class="col-md-9 col-sm-9"> 
                <!-- <p>To read sections of the book, please use the navigation menu at the top left.</p> -->
            <div class="clearFloat"></div>

            <p><span class="book_atr col-xs-12 col-md-3"><strong>ISBN&nbsp;:&nbsp;</strong></span><span class="book_description col-xs-12 col-md-9"><%= @book_information.isbn%></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Publisher&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-9">&nbsp;<%= @publisher.publisher_name%></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Language&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-9">&nbsp;<%= @book_information.language%></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Category&nbsp;:&nbsp;</strong></span> <span class="book_description col-xs-12 col-md-9">&nbsp;<%= @book_information.subject_groups.first.subject_group_name%></span></p>
              
                
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Publication Year&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-9">&nbsp;<%= @book_information.publication_date%></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Price&nbsp;:</strong></span><span class="book_description col-xs-12 col-md-9">&nbsp;USD&nbsp;    145.00</span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Format&nbsp;:</strong></span><span class="col-xs-12 book_description col-md-9">&nbsp; <%=@book_information.books_content_pricing.format%></span></p>
            <p><span class="book_atr col-xs-12 col-md-3"><strong>Description&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-12 margin_bottom10px"><%= @book_information.book_blurb %> </span></p>
            <p><span class="col-xs-12 book_atr col-md-3"><strong>Author/Editor&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-12">
              <%= @book_information.books_contributor.first_name %>
             <br>
            </span></p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

