<div class="border_wrapper padding10px">
  <h1 class="text_uppercase border_bottom padding_bottom12px nomargin"> ADVANCED SEARCH </h1>
  <div class="col-sm-12 mt-20 no-pad">
    <%= form_tag get_search_results_homes_path, :method => 'get',:class => "form-horizontal grayContainer", :remote => true do %>
      <fieldset>
        <div class="form-group margin_bottom10px">
          <label class="col-md-3" for=""> Book Title :</label>
          <div class="col-md-6">
            <%= text_field_tag :book_title,"", :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Author :</label>
          <div class="col-md-6">
            <%= text_field_tag :first_name,"", :class => "form-control" %>
          </div>
        </div>
        <div id="book1">
          <div class="form-group">
            <label class="col-md-3"> ISBN :</label>
            <div class="col-md-6">
              <%= text_field_tag :isbn,"", :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Select Subject Group</label>
          <div class="col-md-6">
            <%= select_tag 'subject_group_name',options_from_collection_for_select(SubjectGroup.all, 'subject_group_name', 'subject_group_name'), :prompt => "Select subject Group",:class => "form-control",style: "background-color: #eee;"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Publication Year From (YYYY) :</label>
          <div class="col-md-6">
            <%= select_tag 'publication_date', options_for_select((2000..Date.today.year).to_a),:prompt => "Select Year",:class => "form-control",style: "background-color: #eee;" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Publication Year TO (YYYY) :</label>
          <div class="col-md-6">
            <%= select_tag 'publication_date', options_for_select((2000..Date.today.year).to_a),:prompt => "Select Year",:class => "form-control",style: "background-color: #eee;" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Sort by :</label>
          <div class="col-md-6 no-pad">
            <div class="col-md-6">
              <%= select_tag 'sort_by',options_for_select([['Author',:first_name], ['Book Title',:book_title], ['ISBN',:isbn],['Subject',:subject_group_name],['Publication Year',:publication_date],]),:class => "form-control",style: "background-color: #eee;" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Order:</label>
          <div class="col-md-6 no-pad">
            <div class="col-md-6">
              <%= select_tag 'order',options_for_select([['Ascending',:asc], ['Descending',:desc]]),:class => "form-control", style: "background-color: #eee;" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> Results per page :</label>
          <div class="col-md-6 no-pad">
            <div class="col-md-6">
              <%= select_tag 'per_page',options_for_select([['10',10], ['20',20],['30',30]]),:class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3"> &nbsp;</label>
          <div class="col-md-6 no-pad">
            <div class="col-md-12 "> 
              <span>
                <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-primary", type: :submit %>
              </span>
              <span>
                <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-default" ,type: :reset%>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="clearfix"></div>  
</div>