<h1 class="sectionHeading">Contact us</h1>
<div class="row placeholders">
	<div class="wrapper container-fluid">
	<div class="clearfix"></div>
  <%= form_tag(send_mail_homes_path) do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>	
		<div class="col-md-12">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Your Name:</label>
            <div class="col-sm-8">
              <%= text_field_tag :name,"", :class => "form-control" %>
    		</div>
    		<div class="clearfix"></div>
          </div>
        </div>
		<div class="col-md-12">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Email:</label>
            <div class="col-sm-8">
              <%= text_field_tag :email,"", :required => true ,:class => "form-control" %>
    		</div>
    		<div class="clearfix"></div>
          </div>
        </div>
		<div class="col-md-12">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Subject:</label>
            <div class="col-sm-8">
              <%= text_field_tag :subject,"", :class => "form-control" %>
    		</div>
    		<div class="clearfix"></div>
          </div>
        </div>
		<div class="col-md-12">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Your Message:</label>
            <div class="col-sm-8">
              <%= text_field_tag :message,"", :class => "form-control" %>
    		</div>
    		<div class="clearfix"></div>
          </div>
        </div>
		<div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
			<%= button_tag fa_icon("send Message", text: "Send Message"), :class => "btn btn-sm", type: :submit %>
		</div>
  <%end%>
	</div>
</div>