<!--header_bar-->
<% if request.domain == "nyresearchpress" %>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="col-sm-4 col-md-3 mob-pad">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <%= link_to image_tag(@publisher.publisher_logo(:original)), homes_path%>
        </div>
      </div> 
      <div class="col-sm-8 col-md-9 no-lr-pad">
        <div class="my_menu red_menu">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "HOME", homes_path %></li>
              <li><%= link_to "ABOUT US",(about_homes_path), :remote => true %></li>
              <li><%= link_to 'CATALOGUE', download_pdf_homes_url, target: "_blank" %></li>
              <li><%= link_to "CONTACT US",(contact_homes_path), :remote => true %></li>
            </ul>
            
            <div class="searchmenu pull-right">
              <%= form_tag(search_homes_path, :method => "get", id: "search-form",:remote => true) do %>
               <div class="input-group add-on">
                 <%= text_field_tag :book_title, params[:search], class:'form-control',required: true,placeholder: "Search by Title " %>
                 <div class="input-group-btn ">
                   <%= button_tag(type: 'submit', class: "btn") do %>
                     <i class="glyphicon glyphicon-search"></i>
                    <% end %>
                 </div>
                 <div class="pull-right"> <%= link_to '<i class="glyphicon glyphicon-plus-sign" style="font-size:1.9em; color:#fff"></i>'.html_safe, advance_search_homes_path,:remote => true %>
                </div>
            
              <%end%>
            </div>
          </div>
               
        </div>
      </div>
    </div>
  </nav>
<% else %>
  <div class="container">
    <header >
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h1 class="logo_container">     
            <a class="logo"  href="index.html"><%= link_to image_tag(@publisher.publisher_logo(:original)), homes_path%>      
            </a>
          </h1>
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav navbar-default" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Home", homes_path %>
            </li>
            <li>
              <%= link_to "About Us",(about_homes_path), :remote => true %>
            </li>
            <li>
              <%= link_to "Contact Us",(contact_homes_path), :remote => true %>
            </li>
            <div class="col-sm-3 col-md-3 pull-right nopadding" style="margin-top:8px;">
              <div class="input-group">
                <%= form_tag(search_homes_path, :method => "get", id: "search-form",:remote => true) do %>
              <div class="input-group add-on">
                <%= text_field_tag :book_title, params[:search], class:'form-control',required: true,placeholder: "Search by Title " %>
              <div class="input-group-btn ">
                <%= button_tag(type: 'submit', class: "btn") do %>
                <i class="glyphicon glyphicon-search"></i>
              <% end %>
              </div>
            </div>
            <%end%>
              </div>
            
              <div class="pull-right"> <%= link_to '<i class="fa fa-plus-circle head-plus"></i>'.html_safe, advance_search_homes_path,:remote => true %>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pink_box"> 
            <div class="navbar">
              <ul class="nav col-md-12" role="navigation">
                <li class="dropdown col-md-4 phone_width">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> CATEGORY <b class="caret pull-right caret_white"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li>
                      <% unless @publisher.subject_groups.blank? %>
                        <%@publisher.subject_groups.each do |subject_group| %>
                          <li> <%=link_to subject_group.subject_group_name ,books_by_category_homes_path(:subject_group_id => subject_group.id), :remote => true %>
                          </li>
                        <%end%>
                      <%end%>
                    </li>
                  </ul>
                </li>
                <li class="dropdown col-md-4 thick_bord margin_author phone_width">
                  <%= link_to "AUTHOR / EDITOR",get_author_homes_path, :remote => true %>
                </li>
                <li class="dropdown col-md-4 thick_bord margin_title">
                  <%= link_to "TITLE",books_by_title_homes_path, :remote => true %>
                </li>
              </ul>
            </div>      
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<% end %>   