<!--header_bar-->
   <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="col-sm-4 col-md-3 mob-pad">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <%= image_tag @publisher.publisher_logo(:original)%>
        </div>
      </div> 
      <div class="col-sm-8 col-md-9 no-lr-pad">
        <div class="my_menu red_menu">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "HOME", homes_path %></li>
              <li><%= link_to "ABOUT US",(about_homes_path), :remote => true %></li>
              <li><%= link_to 'CATALOGUE', download_pdf_homes_url, target: "_blank" %></li>
              <li><%= link_to "CONTACT US",(contact_homes_path), :remote => true %></li>
            </ul>
            
            <div class="searchmenu pull-right">
               <%= form_tag(search_homes_path, :method => "get", class: "navbar-form",:remote => true) do %>
               <div class="input-group add-on">
                 <%= text_field_tag :book_title, params[:search], class:'form-control',required: true,placeholder: "Search by Title " %>
                 <div class="input-group-btn ">
                   <%= button_tag(type: 'submit', class: "btn btn-default red_btn") do %>
                     <i class="glyphicon glyphicon-search"></i>
                    <% end %>
                 </div>
                 <div class="pull-right"> 
                  <%= link_to advance_search_homes_path,remote: true  do %>
                    <i class="glyphicon glyphicon-plus-sign" style="font-size:1.9em; color:#fff" ></i>&nbsp; 
                  <% end %>
                </div>
            
              <%end%>
            </div>
          </div>
               
        </div>
      </div>
    </div>
  </nav>
 <div class="container-fluid mobile_block">
    <div class="row">
      <div class="col-xs-12">
        <%= form_tag(search_homes_path, :method => "get", class: "navbar-form",:remote => true) do %>
          <div class="input-group add-on">
            <%= text_field_tag :book_title, params[:search], class:'form-control',required: true,placeholder: "Search by Title " %>
            <div class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn btn-default red_btn") do %>
                <i class="glyphicon glyphicon-search"></i>
              <% end %>
            </div>
          </div>
          
          <div class="text-right">
            <%= link_to advance_search_homes_path,remote: true  do %>
              <i class="glyphicon glyphicon-plus-sign" style="font-size:1.9em; color:#fff" ></i>&nbsp; 
            <% end %>
          </div>
        <% end %>
              
      </div>
    </div>
</div>