<!-- / breadcrumb_bar -->
<div class="breadcrumb_bar clearfix">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active"><%= @book_information.book_title %></li>
    </ol>
  </div>
  <!-- /container --> 
</div> 

<!-- / breadcrumb_bar -->

<!-- / main_content_section -->
<div class="main_content_section">
  <div class="container">
    <div class="content_wrapper">
    	<div class="detail_common_tittle clearfix"> 
        <span><%= @book_information.book_title %></span> 
      </div>
      <div class="">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3"><a href="#"> 
            <%= image_tag @book_information.logo.url(:medium), class: 'img-responsive center-block img_border margin_bottom_10px' %> 
             </a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="product_detail">
              <h4><strong>ISBN :</strong> <%= @book_information.isbn.presence || "" %></h4>
              <h4><strong>Publisher :</strong> <%= @publisher.publisher_name.presence || "" %></h4>
              <h4><strong>Language :</strong><%= @book_information.language.presence || "" %></h4>
              <h4><strong>Category :</strong> <%= @book_information.subject_groups.first.subject_group_name.presence || "" %></h4>
              <h4><strong>Publication Year :</strong> <%= @book_information.publication_date.presence || "" %></h4>
              <h4><strong>Price :</strong> USD  154.99</h4>
              <h4><strong>Format :</strong>  <%=@book_information.books_content_pricing.format.presence || "" %></h4>
              
              <h4><strong>Description :</strong> <br>
                <%= @book_information.book_blurb.presence || "" %>
              </h4>
              <h4><strong>Author/Editor :</strong><%= @book_information.books_contributor.first_name.presence || "" %>&nbsp <%= @book_information.books_contributor.last_name.presence || "" %> <br>
              <%= @book_information.books_contributor.description.presence || "" %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- / clients_section end --> 

