<div class="col-sm-4 col-md-3 ">
      <div class="sidebar">
        <!--institutionBox-->
          <!--institutionBoxEnd-->
      <% if ip_logged_in? %>
        <div class="institutionBox">
          <h1>You are logged in from:</h1>

          <% if @institute_name == "Liceo de Cagayan University"%>
            <%= image_tag "http://ebooks.wtbooks.com/static/wtbooks/ebooks/institution_logo/logo-Liceo de Cagayan University.gif" %><br>
          <%else %>
            <%= image_tag "http://ebooks.wtbooks.com/static/wtbooks/ebooks/institution_logo/logo-#{@institute_name}.gif" %><br>
           <p>
          <%end%>
          <%= @institute_name %>
          </p>
          <p>
          <strong>
          <%= link_to "view subscribed content", homes_subscribes_books_path(institution_id: @institute_id) %>
          </strong>
          </div>
          </p>
      <% else %>
        <% if logged_in? %>
          <div class="institutionBox">
            <h1>You are logged in from:</h1>
          <% if session["institution_id"]["institution_name"] == "Liceo de Cagayan University" %>
            <%= image_tag "http://ebooks.wtbooks.com/static/wtbooks/ebooks/institution_logo/logo-Liceo de Cagayan University.gif" %>
          <% else %>
            <p>
            <%= image_tag "http://ebooks.wtbooks.com/static/wtbooks/ebooks/institution_logo/logo-#{session["institution_id"]["institution_name"]}.gif" %>
            </p>
        <% end %>
            <%= "#{session["institution_id"]["institution_name"]}" %>
            <p>
            <strong>
             <%= link_to "view subscribed content", homes_subscribes_books_path(institution_id: @institute_id) %>
            </strong>
          </div>
          </p>
        <% end %>
      <% end %>
        <h1 class="sectionHeading ">BROWSE BY</h1>
        <!--accordion-->
        <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  LCC
                  <span class="fa fa-angle-down pull-right"></span>
                </a>
              </h4>
            </div>
            <% unless @publisher.subjects.blank? %>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul class="sidebar_sub">
                    <% @publisher.subjects.where(subject_classification: "LCC").each do |subject| %>
                      <li><%=link_to subject.subject_name ,books_by_subject_homes_path(:subject => subject.id, id: session[:institution_account_id]) %>
                      </li>
                    <% end %>
                                   
                  <li class="pull-right"><%= link_to "More",wt_categories_homes_path(:subject =>"LLC", id: session[:institution_account_id]) %>
                  <!-- <a href="/BookStore/categories?classification=LCC">&nbsp;
                   <i class="pull-right"> More&nbsp; <i class="fa fa-angle-right"></i></i></a> --></li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  DDC
                  <span class="fa fa-angle-down pull-right"></span>
                </a>
              </h4>
            </div>
            <% unless @publisher.subjects.blank? %>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul class="sidebar_sub">
                    <% @publisher.subjects.where(subject_classification: "DDC").each do |subject| %>
                      <li><%=link_to subject.subject_name ,books_by_subject_homes_path(:subject => subject.id, id: session[:institution_account_id])%>
                      </li>
                    <% end %>
                  <li class="pull-right"><%= link_to "More",wt_categories_homes_path(:subject =>"DDC") %></li>
                  </ul>                
                </div>
              </div>
            <% end %>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%= link_to "AUTHOR",get_author_homes_path(institution_id: session[:institution_account_id], :letter => 'a') %> 
              </h4>
            </div>
          </div>
        </div>
         <!--accordionend--> 
      </div>
    </div>