<!--top_bar-->
<nav class="top_bar navbar-inner">
  <div class="container-fluid">
      <% if logged_in? %>
        <div class="pull-right welcome"><strong><%= @current_end_user.first_name+" "+@current_end_user.last_name %></strong> <span class="pipe"> | </span>
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user_homes_path, method: :get %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_homes_path, method: :delete %>
            </li>
          </ul>
        </span>
      <% else %>
      <% if @institute_name.present? %>
        <div class="pull-right welcome"> <%="#{@institute_name}"%> <strong></strong> <span class="pipe">  </span>
      <% else %>
        <div class="pull-right welcome"> Guest<strong></strong> <span class="pipe">  </span>
        <%= link_to "Login", sign_in_homes_path%></div>
      <% end %>
      <% end %>
    </div>
  </div>
</nav>
<!--top_bar-->

<!--header_bar-->
<nav class="navbar navbar-default navbar-static-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <div class="navbar-brand">
        <%= link_to image_tag(@publisher.publisher_logo(:original)), homes_path, :class => "img-responsive" %>
      </div>
    </div>
    <div class="my_menu">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, homes_path %></li>
          <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle uppercase" href="#">My&nbsp;Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if ip_logged_in? %>
               <li><%= link_to "Edit My Profile", homes_institution_edit_path(id: session[:institution_account_id]) %></li>
              <% else %>
               <li><%#= link_to "Edit My Profile") %></li>
              <% end %>

              <li class="divider"></li>
              <li><a href="#">My&nbsp;Notes</a></li>
              <li><a href="#">My Saved Searches</a></li>
            </ul>
          </li>
          <li><%= link_to "About us", about_homes_path(id: session[:institution_account_id])%></li>
          <li><%= link_to "Contact us", contact_homes_path(id: session[:institution_account_id]) %></li>
          <li><%= link_to "Help", "http://ebooks.wtbooks.com/static/templates/template1/wtbooks/help/en/index.htm", target: "_blank" %></li>
          <li class="searchmenu">
            <%= form_tag(search_homes_path, :method => "get", class: "navbar-form",:remote => true) do %>
              <div class="input-group add-on">
                <%= text_field_tag :book_title, params[:search], required: true,placeholder: "Search", class: "form-control" %>
                <div class="input-group-btn ">
                 <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </div>
              </div>
              <div class="pull-right">
                <%= link_to advance_search_homes_path,remote: true  do %>
                  <%= image_tag "http://ebooks.wtbooks.com/static/templates/template1/wtbooks/images/adcance_search_03.png" %>
                <% end %>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--header_bar-->

<div class="container-fluid mobile_block">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag(search_homes_path, :method => "get", class: "navbar-form", style: "margin-top:0;",:remote => true) do %>
        <div class="input-group add-on">
          <%= text_field_tag :book_title, params[:search], required: true,placeholder: "Search", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag(type: 'submit', class: "btn btn-default black_btn") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        </div>
        <div class="text-right">
          <%= link_to 'ADVANCED SEARCH', advance_search_homes_path, remote: true  %>
        </div>
      <% end %>
    </div>
  </div>
</div>