<!doctype html>
<html>
<head>
<title>Content Store :: Books </title>
 </head>
<div>
  <a href="/homes/index" class="logo-expanded">
   <%= image_tag(@publisher.publisher_logo , :class => "logo-lg publogo")%>
  </a>
</div>

<body>
  
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
      	<li><%= link_to '<i class="fa fa-home" aria-hidden="true"></i>'.html_safe, root_path %></li>
        <li><a href="#">My Account</a></li>
        <li><%= link_to "About Us", homes_about_path%></li>        
        <li><a> Contact Us </a></li>
        <li><a>Help</a></li>
      </ol>
      <%=  @publisher.about %>
      <div class="clearfix"></div>
  			 
       
      <div class="clearfix m-b-30"></div>
      <!-- <h2 class="H2-L1">Publisher's Books</h2> -->
    </div>
    <!-- Footer Start -->
    <%= render :partial => "homes/publisher_footer"%>
    <!-- Footer Ends --> 
  </section>
</body>
</html>