<body>
<!--Main Content Start -->
  <section class="content">
    <%= render :partial => "header"%> 
  	<%= render :partial => "side_bar"%>

    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <div class="clearfix"></div>
        <h2 class="H2-L1">Books By Author</h2>
        <div class="clearfix"></div>
          <ul class="pagination">
            <%("A".."Z").each do |letter| %> 
            <li><%= link_to letter, books_by_author_homes_path(:letter=>letter)%></li>
            <%end%>
          </ul>
        <div class="clearfix m-b-30"></div>
        <%@books.each do |book| %>
          <div class="form-group">
            <div class="col-sm-2 text-center">
              <%= image_tag book.logo.url(:original) , :class => "imgPopover"%><br>
                <p><%= book.book_title%></p>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
</body>
<script>

</script>