<body>
  <div class="container wrapper">
<!--Main Content Start -->
  <section class="content">
    
    <!--Nyresearch Start-->
    <% if @publisher.domain_name == 'nyresearchpress'%>
      
      <% unless @publisher.theme_name.blank? %>
        <% if @publisher.theme_name== 'theme1' %>
          <%= render :partial => "header_theme1"%>
        <% elsif @publisher.theme_name== 'theme2' %>
          <%= render :partial => "header_theme2"%>   
        <% end %>
      <% else %>
        <%= render :partial => "nysearch_header"%>
      <% end %>  
    
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-sm-4 col-md-3 ">
            <% if @publisher.theme_name== 'theme1' %>
              <%= render :partial => "sidebar_theme1"%>
            <% end %>  
          </div>
        
          <div class="col-sm-8 col-md-9 mar-b50" >
            <div id= 'pub_book'>
              <h1 class="sectionHeading">Featured Books</h1>
                <%= render :partial => 'publisher_book' %>
            </div>
          </div>   
        </div>
      </div>


    <% elsif @publisher.domain_name == 'syrawoodpublishinghouse' %> 
      <%= render :partial => "header_theme2"%>
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-sm-8 col-md-9 mar-b50" >
            <div id= 'pub_book'>
              <h1 class="sectionHeading">Featured Books</h1>
                <%= render :partial => 'publisher_book' %>
            </div>
          </div>   
        </div>
      </div>
    <% elsif @publisher.domain_name == "mlbooksinternational" %>
      
      <% unless @publisher.theme_name.blank? %>
        <% if @publisher.theme_name== 'theme1' %>
          <%= render :partial => "header_theme1"%>
        <% elsif @publisher.theme_name== 'theme2' %>
          <%= render :partial => "header_theme2"%>   
        <% end %>
      <% else %>
        <%= render :partial => "mlbooksinternational_header_theme"%>
      <% end %>
    
      <div class="container">
        <div class="row"> 
          <div class="row-fluid">
            <div class="col-sm-0 col-md-0 mar-b50" >
              <div id= 'pub_book'>
                <%= render :partial => 'publisher_book' %>
              </div>
            </div> 
          </div>
        </div>
      </div>
  
    <% elsif @publisher.domain_name == 'callistoreference' %>
  
      <% unless @publisher.theme_name.blank? %>
        <% if @publisher.theme_name== 'theme1' %>
          <%= render :partial => "header_theme1"%>
        <% elsif @publisher.theme_name== 'theme2' %>
          <%= render :partial => "header_theme2"%>   
        <% end %>
      <% else %>
        <%= render :partial => "callistoreference_header_theme"%>
      <% end %>

      <div class="container-fluid">
        <div class="row"> 
          <div class="col-sm-4 col-md-3 ">
            <%= render :partial => "sidebar_theme1"%>    
          </div>

          <div class="col-sm-8 col-md-9 mar-b50" > 
            <div id='pub_book'>  
              <h1 class="sectionHeading">Featured Books</h1> 
              <div class="col-sm-12 no-lr-pad">
                <%= render :partial => 'callistoreference_publisher_book' %>
              </div>
            </div>
          </div>  
        </div>
      </div>  

  <% end %> 
 
</section>
</div>

<!-- Footer Start -->
<footer>
  <%= render :partial => "homes/publisher_footer"%>
</footer>
  <!-- Footer Ends -->
</body>