<!doctype html>
<html>
<head>
<title>Content Store :: Books </title>
 </head>
<body>
  
<!--Main Content Start -->
  <section class="content">
    <%= render :partial => "header"%> 
  	<%= render :partial => "side_bar"%>

    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <div class="clearfix"></div>
       <% if @books.present? %>
        <% @books.each do |f| %>
          <div class="col-md-2">
           <%= image_tag(f.logo.url(:thumb), height: '178', width: '126')%>
            <%= link_to truncate(f.book_title, length: 10), books_description_homes_path(f.id)%>
            <div class="clearfix"></div>
          </div>
        <%end%>
        <% else %>
          Record Not found
        <% end %>
      </div>
		  </div>
      <div class="pagination-frontend">
     <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
   </div>
      
      <div class="clearfix m-b-30"></div>
      <!-- <h2 class="H2-L1">Publisher's Books</h2> -->
    </div>
    
    <!-- Footer Start -->
    <%= render :partial => "homes/publisher_footer"%>
    <!-- Footer Ends --> 
  </section>

</body>
</html>



