<!--Main Content Start -->
  <section class="content">
    <!--Nyresearch Start-->
 
    <%= render :partial => "#{@publisher.theme_name}"%>    
      
  <% if @publisher.domain_name == 'larsen-keller'%>
  <div class="container mt20">
  <% else %>
    <div class="container-fluid">
  <% end %>
      <div class="row">  
        <% if ["red_content","green_content","haylemedical"].include? @publisher.theme_name %>
          <div class="col-sm-4 col-md-3 ">
            <%= render :partial => "sidebar_theme1"%>
          </div>
        <% end %>  

        <% if @publisher.domain_name == "nyresearchpress" %>
    
          <div class="col-sm-8 col-md-9 mar-b50" >
            <div id= 'pub_book'>
              <div class="row">
              <div class="col-md-12">
              <div class="homeHeading"><span>Featured Books</span></div></div>
              </div>
              <%= render :partial => 'publisher_book' %>
            </div>
          </div>

        <% elsif @publisher.domain_name == "callistoreference" %>

          <div class="col-sm-8 col-md-9 mar-b50" > 
            
              <div id='pub_book'>  
                <h1 class="sectionHeading">Featured Books</h1> 
                <div class="col-sm-12 no-lr-pad">
                  <%= render :partial => 'callistoreference_publisher_book' %>
                </div>
              
            </div>
            </br>
          </div>

    
        <% elsif @publisher.domain_name == "syrawoodpublishinghouse" %>

          <div id= 'pub_book'>
            <%= render :partial => 'syrawood_publisher_book' %>
          </div>

        <% elsif @publisher.domain_name == "mlbooksinternational" %>
          <div class='container'>
           <!--  <div class="col-sm-1">
              <div class="border_wrapper padding10px mt5"> -->
                <div id= 'pub_book'>
                  <%= render :partial => 'publisher_book' %>
                </div>
              <!-- </div> 
            </div> -->
          </div>
 
        <% elsif @publisher.domain_name == 'larsen-keller' %>
        <div class="col-sm-12">
           <div id='pub_book'>  
            <%= render :partial => 'larsan_and_keller_publisher_books' %>
          </div>
        </div>


        <% elsif @publisher.domain_name == 'haylemedical' %>

          <div class="col-sm-8 col-md-9 mar-b50" > 
            <div class="col-sm-12 no-lr-pad">
              <div id='pub_book'>  
                <%= render :partial => 'haylemedical_publisher_book' %>
              </div>
            </div>
          </div>  
        <% end %> 

    </div>
  </div>

 
  <% if @publisher.domain_name == 'larsen-keller' %>
  <footer class="footer">
    <%= render :partial => "larsen_and_keller_footer"%>
  </footer>
  <% else %>
  <footer>
    <%= render :partial => "homes/publisher_footer"%>
  </footer>
  <% end %>
 
</section>

<!-- Footer Start -->

  <!-- Footer Ends -->

