<%= render :partial => "#{@publisher.theme_name}"%>
<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print">
        <%= link_to "Home", homes_path%> &gt; Edit Institution Profile 
      </ul>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 col-md-9">
            <h1 class="sectionHeading">Edit Profile</h1>
            <div class="row placeholders">
            <%= form_for(@institution_profile, url: {action: "institution_profile_wta"}, :html => {:class => 'form-horizontal form-bg'}) do |f| %>
            <div class="col-md-6">
            <div class="form-group">
            <label for="bookISBN" class="col-sm-4 nopadding">Institution Name:<sup class="mandatory">*</sup> </label>
            <span class="col-sm-8">
            <%= f.text_field :institution_name ,:required => true, :class => "form-control" , :placeholder => "Institution Name"%>
            </span> 
            <div class="clearfix"></div>
          </div>
        </div>

      <div class="clearfix"></div>
      <div class="clearfix m-b-30"></div>
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
       <%= f.submit "Submit", :class => "flat-btn" %>
      </div>
      </div>
      <% end %>
     <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>
