<%= render :partial => "#{@publisher.theme_name}"%>
<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print">
        <%= link_to "Home", homes_path%> &gt; Subscribed Books
      </ul>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 col-md-9">
            <h1 class="sectionHeading">Subscribed BOOKS</h1>
            <div class="row placeholders">
                <% @institute_books.each do |f|%>
                  <div class="col-xs-6 col-sm-3  col-md-2 placeholder">
                  <%= link_to image_tag("http://ebooks.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{f.isbn}-T-FC.jpg", class: "img-responsive center-block"), books_description_homes_path(:book_id => f.id, institution_id: params[:institution_id]), :method => :post %>
                  <h4><%= link_to truncate(f.book_title, length: 25), books_description_homes_path(:book_id => f.id, institution_id: params[:institution_id]), :method => :post %></h4>
                  <span class="text-muted">
                    <% f.books_contributors.uniq.each do |book_contributor| %>
                      <%= book_contributor.first_name.presence || ""%>&nbsp<%= book_contributor.last_name.presence || ""%>
                    <%end%>
                  </span> 
                </div>
              <% end %>
              <div style="clear:both;"></div>
              <div class="col-md-12 col-xs-12">
                <%= will_paginate @institute_books,renderer: BootstrapPagination::Rails %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>
