<%= render :partial => "#{@publisher.theme_name}"%>
<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print">
        <%= link_to "Home", homes_path%> &gt; Subscribed Books
      </ul>
      <div class="container-fluid">
        <div class="row">

            <h1 class="sectionHeading">Subscribed BOOKS</h1>
            <div class="col-md-12 col-xs-12">
                  <%if @institute_books.count >0 %>
                    <div class="bg-gray">
                      <div class="col-sm-4 no-pad" style="padding-top: 6px;">
                        <%= page_entries_info @institute_books %>
                      </div>
                      <div class="col-sm-8 text-right no-pad">
                        <nav aria-label="Page navigation">
                          <%= will_paginate @institute_books,renderer: BootstrapPagination::Rails %>
                        </nav>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  <% end %>
               </div>
              <div class="clearfix"></div>
            <div class="row placeholders">
              <% if logged_in? %>
                  <% @institute_books.each do |f|%>
                    <div class="col-xs-6 col-sm-3  col-md-2 placeholder">
                    <%= link_to image_tag("http://ebooks.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{f.isbn}-T-FC.jpg", class: "img-responsive center-block"), wt_books_description_homes_path(:book_id => f.id, institution_id: params[:id]), :method => :post %>
                    <h4><%= link_to truncate(f.book_title, length: 15), wt_books_description_homes_path(:book_id => f.id, institution_id: params[:id]), :method => :post  %></h4>
                    <span class="text-muted">
                        <% if f.books_contributors.present? %>
                         <%= truncate(f.books_contributors.first.first_name.presence || "",  length: 5)%>&nbsp<%= f.books_contributors.first.last_name.presence || ""%>
                        <% end %>
                    </span> 
                  </div>
                <% end %>
                <div style="clear:both;"></div>
                <div class="col-md-12 col-xs-12">
                  <%= will_paginate @institute_books,renderer: BootstrapPagination::Rails %>
                </div>
              <% else %>
                <% @institute_books.each do |f|%>
                    <div class="col-xs-6 col-sm-3  col-md-2 placeholder">
                    <%= link_to image_tag("http://ebooks.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{f.isbn}-T-FC.jpg", class: "img-responsive center-block"), wt_books_description_homes_path(:book_id => f.id, institution_id: params[:institution_id]), :method => :post %>
                     <h4><%= link_to truncate(f.book_title, length: 15), wt_books_description_homes_path(:book_id => f.id, institution_id: params[:id]), :method => :post  %></h4>
                    <span class="text-muted">
                        <% if f.books_contributors.present? %>
                          <%= truncate(f.books_contributors.first.first_name.presence || "",  length: 5)%>&nbsp<%= f.books_contributors.first.last_name.presence || ""%>
                        <% end %>
                    </span> 
                  </div>
                <% end %>
                <div style="clear:both;"></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>
