<!doctype html>
<html>
<head>
<title>Content Store :: Books </title>
 </head>
<div>
  <a href="/homes/index" class="logo-expanded">
   <%= image_tag(@publisher.publisher_logo , :class => "logo-lg publogo")%>
  </a>
</div>

<body>
  
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
      	<li><%= link_to '<i class="fa fa-home" aria-hidden="true"></i>'.html_safe, root_path %></li>
        <li><a href="#">My Account</a></li>
        <li><%= link_to "About Us", homes_about_path%></li>        
        <li><a> Contact Us </a></li>
        <li><a>Help</a></li>
      </ol>
      <% if @book_information.present?   %>
 	      <div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <label for="taskName" class="col-sm-4 control-label"> </label>
	            <div class="col-sm-8">
	              <%= image_tag @book_information.logo.url(:thumb)%>
	            </div>
	          </div>
	        </div>
 	      </div>
       	<div class="clearfix"></div>
  			<div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <label for="taskName" class="col-sm-4 control-label">Book Title</label>
	            <div class="col-sm-8">
	              <%= @book_information.book_title %>
	            </div>
	          </div>
	        </div>
 	      </div>
       	<div class="clearfix"></div>
       	<div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <label for="taskName" class="col-sm-4 control-label">ISBN</label>
	            <div class="col-sm-8">
	              <%= @book_information.isbn %>
	            </div>
	          </div>
	        </div>
 	      </div>
       	<div class="clearfix"></div>
       	<div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <label for="taskName" class="col-sm-4 control-label">Language</label>
	            <div class="col-sm-8">
	              <%= @book_information.language %>
	            </div>
	          </div>
	        </div>
 	      </div>
       	<div class="clearfix"></div>
       	<div class="row">
	        <div class="col-md-6">
	          <div class="form-group">
	            <label for="taskName" class="col-sm-4 control-label">Year</label>
	            <div class="col-sm-8">
	             <%= @book_information.publication_year %>
	            </div>
	          </div>
	        </div>
 	      </div>
       	<div class="clearfix"></div>
      <% else %>
				Records not found
 			<% end %>
      <div class="clearfix m-b-30"></div>
      <!-- <h2 class="H2-L1">Publisher's Books</h2> -->
    </div>
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>