<html>
<title>Content Store :: Create Subject Group</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
 </head>

<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a>Manage User Account</a></li>
		<li><a>Create Subject Group</a></li>
      </ol>

      <%if @subject.new_record?%>
        <h2 class="H2-L1">Create Subject Group</h2>
      <%else%>
        <h2 class="H2-L1">Edit Subject Group</h2>
      <%end%>
      <%= form_for @subject, validate: true do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.hidden_field :id, value: @subject.id %>
              <%= f.select 'publisher_id',options_from_collection_for_select(publisher_names, 'id', 'publisher_name', :selected => f.object.publisher_id),{ :prompt => "Select Publisher"},{:required => true, :class => "form-control" , style: "background-color: #eee;" } %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Subject Group Name<sup class="mandatory">*</sup></label>
            <span class="col-sm-8">
            <%= f.text_field :subject_name, :required => true, :class => "form-control", :placeholder => "Subject Group Name" %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Subject Priority<sup class="mandatory">*</sup></label>
            <span class="col-sm-8">
            <%= f.text_field :subject_priority, :required => true, :class => "form-control", :placeholder => "Subject Group Name" %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
            <%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i>Search Subject'.html_safe, subjects_path, :id => "button_id", :class => "btn btn-sm pull-left" %>
            <%= f.submit "Submit", :class => "btn btn-sm" %>
            <%= f.button "Reset", :class => "btn btn-sm", type: :reset %>
          </div>
        </div>
      <% end %>
    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>