<html>

	<body class = "body1">
	  <%= render :partial => '/layouts/header'%>
		<div class="div1">

      <h1> Subscription Setup </h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for @subscription, url: {action: "create"} do |f| %>
            <tr>
              <td height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
                <strong>Information</strong>
              </td>
            </tr>
            <tr>
              <td>Subscription ID :</td>
			        <td><%= f.text_field :subscription_id, :class=> 'required'  %></td>
              <td>Subscription Name * :</td>
              <td><%= f.text_field :subscription_name %></td>
            </tr> 
            <tr> 
              <td>Publisher * :</td>
              <td><%= f.collection_select :publisher, Publisher.all, :id, :publisher_name %></td>
            </tr>
            <tr>
              <td>Subscription Description  :</td>
              <td><%= f.text_area :subscription_description %></td>
            </tr>
            <tr>
              <td>Subscription category :</td>
              <td><%= f.radio_button :subscription_category, '    Online Subscription for library' %>Online Subscription for library
                  <%= f.radio_button :subscription_category, 'Individual Borrow' %> Individual Borrow
                  <%= f.radio_button :subscription_category, 'Library Borrow' %> Library Borrow
                </td>
            </tr>
            <tr>
              <td height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
                <strong>Content</strong>
              </td>
            </tr>
            <td>
              <%= f.radio_button :currency , 'Subject Group' %> Subject Group
              <%= f.radio_button :currency, 'Book' %> Book<br/>
            </td>
            <tr id="subject_group">
              <td>Subject Group Name:</td>
              <td><%= f.text_field :subject_group_name %></td>
              <td>Subject Group Code:</td>
              <td><%= f.text_field :subject_group_code %></td>
            </tr>
            <tr id="book">
              <td><%= f.radio_button :currency , ' All Publishers', checked: true %>  All Publishers<br/>
                <%= f.radio_button :currency , ' All Titles ', checked: true %>All Titles<br/>
              </td>
              <td><%= f.radio_button :currency, ' Select Publisher' %>  Select Publisher<br/>
              <%= f.radio_button :currency, ' Select Titles' %>  Select Titles</td>
            </tr>
            <tr>
              <td height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
                <strong>Length of Agreement</strong>
              </td>
            </tr>
            <tr>
              <td>Subscription Type * :</td>
              <td name="dbType" id="dbType"><%= f.select :subscription_type, [['Select','select'],['Fixed Date Range','fixed date range'],['Relative Date Range','relative date range']] %>
              </td>
            </tr>
            <tr id="fixed">
              <td>From<%= f.text_field :duration %></td>
              <td>To<%= f.text_field :duration %></td>
            </tr>
            <tr id="relative">
              <td>Duration* :</td>
              <td><%= f.text_field :duration %>
                  <%= f.select :subscription_type, [['Select','select'],['Years','years'],['Months','months'],['Weeks','weeks']] %>
              </td>
            </tr>
            <tr>
              <td height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
                <strong>Available for Institutional Accounts</strong>
              </td>
            </tr>
            <tr>
              <td><%= f.radio_button :currency, 'yes' %>Yes
                  <%= f.radio_button :currency, 'no' %>No</td>
            </tr>
            <tr>
              <td>
                <%= f.submit "Save" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>
<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>

<script>   
$(document).ready(function(){
  // $('#primary2').hide();
  // $('#institution2').hide();
  //  $('input[type="checkbox"]').click(function(){
  //     if($('#billing_contact').prop("checked") == true){
  //        $("#first").prop('disabled', true);
  //        $("#last").prop('disabled', true);
  //        $("#mail").prop('disabled', true);
  //        $("#phone").prop('disabled', true);
  //      }
  //     else{
  //      $("#first").prop('disabled', false);
  //      $("#last").prop('disabled', false);
  //      $("#mail").prop('disabled', false);
  //      $("#phone").prop('disabled', false);
  //     }
  // });
        $('#book').hide();

  $(':radio').change(function (event) {
      var id = $(this).val();
      console.log(id);
      if(id.search("Book")!=-1)
      {
        $('#subject_group').hide();
        $('#book').show();
      } else{
        $('#book').hide();
        $('#subject_group').show();
      }
  });
});

$(document).ready(function() {
  $("select").change(function (event) {
    var color = $(this).val();
    if (color == "red") {
      $(".box").not(".red").hide();
      $(".red").show();
    } else if (color == "green") {
      $(".box").not(".green").hide();
      $(".green").show();
    } else if (color == "blue") {
      $(".box").not(".blue").hide();
      $(".blue").show();
    } else if (color == "maroon") {
      $(".box").not(".maroon").hide();
      $(".maroon").show();
    } else if (color == "magenta") {
      $(".box").not(".magenta").hide();
      $(".magenta").show();
    } else {
      $(".box").hide();
    }
  });
});
</script>