<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12"><h4 class="borderBottom"> Subscription Setup</h4>
      </div>
    </div>
    <%= form_for @subscription, url: {action: "create"} do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
              <label><strong>Information</strong></label><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput"  >Subscription ID<span class="red">*</span>:</label>
            <%= f.text_field :subscription_id, :value => "System Generated" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Subscription Name<span class="red">*</span>:</label>
            <%= f.text_field :subscription_name %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput">Publisher<span class="red">*</span>:</label>
            <%= f.collection_select :publisher, Publisher.all, :id, :publisher_name %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Subscription Description</label>
              <%= f.text_area :subscription_description %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput">Subscription Category</label>
            <%= f.radio_button :subscription_category, 'Online Subscription for library' %>Online Subscription for library
            <%= f.radio_button :subscription_category, 'Individual Borrow' %> Individual Borrow
            <%= f.radio_button :subscription_category, 'Library Borrow' %> Library Borrow
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
              <label for="disabledTextInput" ><strong>Content</strong></label>
            </div>
            <%= f.radio_button :currency , 'Subject Group', checked: true %>Subject Group
            <%= f.radio_button :currency, 'Book' %>Book<br/>
          </div>
        </div>
      </div>
      <div class="row", id="subject_group">
        <div class="col-md-6">
          <div class="form-group">
            <%= render :partial => 'search_subject_group'%>
            <div class="subject"> </div>
          </div>
        </div>
      </div>
      <div id="book_id">
        <div class="row" >
          <div class="col-md-6">
            <div class="form-group">
              <%= f.radio_button :price, 'All Publishers', checked: true %>All Publishers
              <%= f.radio_button :price, 'Select Publisher' %>Select Publisher<br>
            </div>
          </div>
          <div class="col-md-6" id="select_publisher">
            <div class="form-group">
              <%= f.collection_select :publisher, Publisher.all, :id, :publisher_name %>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-6">
            <div class="form-group">
              <%= f.radio_button :number_of_books , 'All Titles', checked: true %>All Titles
              <%= f.radio_button :number_of_books, 'Select Title' %>Select Title<br>
            </div>
          </div>
        </div>
        <div class="row" id="select_title">
          <div class="col-md-6">
            <div class="form-group">
              <%= render :partial => 'search_title'%>
              <div class="title"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
              <label><strong>Length of Agreement</strong></label><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select select id="AgreementLength">
              <option value="" selected>Select</option>
              <option value="fixed">Fixed Date Range</option>
              <option value="relative">Relative Date Range</option>
            </select>
          </div>
        </div>
      </div>
      <div id="fixed">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              From<%= f.text_field :duration %>
              To<%= f.text_field :duration %>
            </div>
          </div>
        </div>
      </div>
      <div id="relative">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Duration* :</label>
              <%= f.text_field :duration %>
              <%= f.select :subscription_type, [['Select','select'],['Years','years'],['Months','months'],['Weeks','weeks']] %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div height="40" colspan="4" style="border-bottom:#CCCCCC 1px solid">
              <label for="disabledTextInput" ><strong>Available for Institutional Accounts</strong></label><br>
            </div>  <%= f.radio_button :currency, 'yes' %>Yes
            <%= f.radio_button :currency, 'no' %>No
          </div>
        </div>
      </div>
      <div class="row"  >
        <div class="col-md-6">        
          <%= f.submit "Save" %>
        </div>
      </div>
    <% end %>
  </body>
</html>
<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>

<script>   
$(document).ready(function(){
        // $('#book').hide();
// if(id == "Book")) 
$('#book_id').hide();
$('#fixed').hide();
$('#relative').hide();
$('#select_publisher').hide();
$('#select_title').hide();

  $(':radio').change(function() {
      var id = $(this).val();
      
      console.log(id);
      if(id.search("Subject Group")!=-1){
        $('#book_id').hide();
        $('#subject_group').show();
      } else if(id.search("Book")!=-1){
        $('#subject_group').hide();
        $('#book_id').show();
      } else if(id.search("All Publishers")!=-1){
        $('#select_publisher').hide();
      } else if(id.search("All Titles")!=-1){
        $('#select_title').hide();    
      } else if(id.search("Select Publisher")!=-1){
        $('#select_publisher').show();
      } else if(id.search("Select Title")!=-1){
        $('#select_title').show();
      }
      /*else{
        $('#book_id').hide();
        $('#subject_group').show();
      }*/
  });
  $('#AgreementLength').change(function () {
   var isFixed = this.value == 'fixed';
   var isRelative = this.value == 'relative';
    $('#fixed').toggle(isFixed);
    $("#relative").toggle(isRelative);
  });
});
</script>