<!doctype html>
<html>
	<head>
	<title>Content Store :: Create Subscription </title>
	<!-- Latest compiled and minified CSS -->
  		<!-- Header -->
  		<%= render :partial => '/layouts/top_header'%>
			  <!-- Header Ends --> 
	</head>

	<body>
		<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
		<!--Main Content Start -->
		<section class="content"> 
			  <!-- Page Content Start --> 
			  <!-- ================== -->
		  <div class="wrapper container-fluid">
		  	<ol class="breadcrumb">
		      <li><a href="#">Home</a></li>
			   	<li><a href="#">Manage User Account</a></li>
			   	<li><a href="#" class="active">End Users</a></li>
		    </ol>
		    
		    <h2 class="H2-L1"> Create Subscription </h2>
		    <%= form_for @subscription, url: {action: "create"} do |f| %>
					<h4>Information</h4>
		    	<form class="form-horizontal form-bg" role="form">
			      <div class="col-md-6">
			        <div class="form-group">
			          <label for="taskName" class="col-sm-4 control-label">Subscription ID:</label>
			          <div class="col-sm-8">
			            <%= f.text_field :subscription_id, :class=> 'required'  %>
			  		  	</div>
			        </div>
			      </div>
			      <div class="col-md-6">
			        <div class="form-group">
			          <label for="bookISBN" class="col-sm-4 control-label">Subscription Name:</label>
			          <span class="col-sm-8">
									<%= f.text_field :subscription_name %></td>
			          </span> 
			        </div>
			      </div>
				  	<div class="col-md-6">
			        <div class="form-group">
			          <label for="bookISBN" class="col-sm-4 control-label">Publisher:</label>
			          <span class="col-sm-8">
			          	<%= f.collection_select :publisher, Publisher.all, :id, :publisher_name %>
			          </span> 
			        </div>
			      </div>
				  	<div class="col-md-6">
				  		<div class="form-group">
			          <label for="taskName" class="col-sm-4 control-label">Subscription Description:</label>
			          <div class="col-sm-8">
			            <%= f.text_area :subscription_description %>
			        	</div>
							</div>
						</div>
						<div class="col-md-12">
			        <div class="form-group">
			          <label for="bookISBN" class="col-sm-2 control-label">Subscription category:</label>
			          <span class="col-sm-8">
			          	<%= f.radio_button :subscription_category, 'Online Subscription for library' %>		Online Subscription for library
			            <%= f.radio_button :subscription_category, 'Individual Borrow' %> Individual Borrow
			            <%= f.radio_button :subscription_category, 'Library Borrow' %> Library Borrow
			          </span> 
			      	</div>
			      </div>
			      <div class="clearfix"></div>
		    	</form>
					<p>&nbsp;</p>
			 		<div class="card">
		        <div class="tabContainer">
		          <div class="tabs" data-max-width="1024"> 
								<span class="tab" data-tab="bookDetails"> <%= f.radio_button :currency , 'Subject Group' %> Subject Group </span> 
								<span class="tab" data-tab="editorDetails"> <%= f.radio_button :currency, 'Book' %>Book</span> 
							</div>
		        </div>
		        <div class="sectionsContainer tabbingSection">
		          <div class="sections ">
		            <div class="section " data-section="bookDetails">
		              <div class="col-md-12 form-bg">
		                <div class="row">
		                  <div class="col-md-6">
		                    <div class="col-md-12">
		                      <%= f.radio_button :currency , ' All Publishers', checked: true %>  All Publishers						
		                    </div>
		                  </div>
		                  <div class="col-md-6">
		                    <div class="col-md-12">
		                      <%= f.radio_button :currency, ' Select Publisher' %>  Select Publisher
		                    </div>
		                  </div>
											<div class="col-md-12">
												<div class="col-md-12">
													<label>Publisher </label>
													<select multiple="multiple" style="height:100px;" disabled class="form-control">
														<option>option 1</option>
														<option>option 1</option>
														<option>option 1</option>
													</select>
												</div>
											</div>
						        </div>
						   			<div class="row">
		                  <div class="col-md-6">
		                    <div class="col-md-12">
		                      <%= f.radio_button :currency , ' All Titles ', checked: true %>All Titles
		                    </div>
		                  </div>
		                  <div class="col-md-6">
		                    <div class="col-md-12">
		                      <%= f.radio_button :currency, ' Select Titles' %>  Select Titles
		                    </div>
		                  </div>
							<div class="col-md-12">
								<div class="col-md-6">
									<label for="">ISBN</label>
								  	<input type="text" placeholder="" class="form-control" >
								</div>
								<div class="col-md-6">
									<label for="">Title</label>
								    <input type="text" placeholder="" class="form-control" >
								</div>
								<div class="col-md-6">
									<label for="">Author First Name</label>
								  	<input type="text" placeholder="" class="form-control" >
								</div>
								<div class="col-md-6">
									<label for="">Author Last Name</label>
								    <input type="text" placeholder="" class="form-control" >
								</div>
								<div class="col-md-6">
									<label for="">Publication Year</label>
								   <input type="text" placeholder="" class="form-control" >
								</div>
								<div class="col-md-12">
									<br>
									<button type="submit" class="btn btn-sm" onclick="javascript:showDiv();"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search</button>
								</div>
							</div>
		        </div>
					</div>
		      <div class="row">
						<div class="col-md-12">
							<p>&nbsp;</p>
								<div class="col-md-12"><h4>Length of Agreement</h4></div>
								<div class="col-md-6">
									<label for="">Subscription Type</label>
								  <select name="subscriptionType" class="form-control" id="subscriptionType" 					onchange="showSubscriptionTypeRow(this.value);">
										<option value="" selected="">Select</option>
										<option value="INSTITUTE_FIXED">Fixed Date Range</option>
										<option value="INSTITUTE_RELATIVE">Relative Date Range</option>
								  </select>
								</div>
								<div class="hidden">
									<div class="col-md-3">
										<label>From</label>
								 		<div class="input-group">
								  		<input type="text" class="form-control" placeholder="Date From">
								  		<span class="input-group-btn">
												<button class="btn btn-default" style="padding:4px 12px;" type="button"><i class="fa fa-calendar"></i></button>
								  		</span>
										</div><!-- /input-group -->
									</div>
									<div class="col-md-3">
										<label>To</label>
									 	<div class="input-group">
										  <input type="text" class="form-control" placeholder="Date To">
										  <span class="input-group-btn">
												<button class="btn btn-default" style="padding:4px 12px;" type="button"><i class="fa fa-calendar"></i></button>
										  </span>
										</div><!-- /input-group -->
									</div>
								</div>
								<div class=" ">
									<div class="col-md-3">
										<label>Duration</label>
										<input type="text" class="form-control" placeholder="Duration">
									</div>
									<div class="col-md-3">
										<label>Year</label>
										<select name="durationUnit" class="form-control" id="durationUnit">
											<option value="">Select</option>
											<option value="YEARS">Years</option>
											<option value="MONTHS">Months</option>
											<option value="WEEKS">Weeks</option>
									  </select>
									</div>
								</div>
								<p>&nbsp;</p>
								<div class="col-md-12">
									<h4>Available for Institutional Accounts </h4>
								</div>
								<div class="col-md-6">
									<div class="col-md-12">
										<label class="radio-inline"><input type="radio" name="optradio2">  Yes </label>
										<label class="radio-inline"><input type="radio" name="optradio2">No</label>
									</div>
								</div>
							</div>
						</div>
		        <div class="clearfix"></div>
					</div>
		      <div class="section" data-section="editorDetails">
						<div class="row">
							<div class="col-md-12">
								<div class="form-bg">
									<div class="col-md-5">
		                <div class="form-group">
		                  <label for="Proofreader" class="control-label">Subject Group Name  </label>
		                    <%= f.text_field :subject_group_name %>
		                  </div>
		                </div>
										<div class="col-md-5">
		                  <div class="form-group">
		                    <label for="Proofreader" class="control-label">Subject Group Code </label>
		                    <%= f.text_field :subject_group_code %>
		                  </div>
		                </div>
										<div class="col-md-2">
											<div class="form-group">
												<label   class="control-label col-md-12"> &nbsp;</label>
												<button type="submit" class="btn btn-sm btn-block"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search </button>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
		          <div class="row">
								<div class="col-md-12 text-right"><button type="submit" class="btn btn-sm"  ><i class="fa fa-object-group" aria-hidden="true"></i> &nbsp;Add All</button></div>
		          </div>
		          <div class="clearfix"></div>
		        </div>
		        <div class="clearfix"></div>
		      </div>
		    </div>
		          <!--Material Tabs End--> 
			  <div class="clearfix m-b-30"></div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
						<button type="submit" class="btn btn-sm" onclick="javascript:showDiv();"><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Save</button>
			      <button type="reset" class="btnBlack btn-sm" onclick="javascript:hideDiv();"><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp;Clear</button>
			    </div>
				</div>
			<% end %>

		  <!-- Page Content Ends --> 
		  <!-- ================== --> 
		  
		  <!-- Footer Start -->
		    <%= render :partial => '/layouts/footer'%>
		  <!-- Footer Ends --> 
		</section>

		<!--for popup page all popup comes from this page-->

		<!-- Main Content Ends --> 
		<!-- Latest compiled and minified JavaScript --> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script> 
		 <script src="assets/scripts/tab.js"></script> 
		<script src="assets/scripts/jquery.slimscroll.min.js"></script> 
		<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
		<script src="https://www.gstatic.com/charts/loader.js"></script> 
		<script src="assets/scripts/js/pace.min.js"></script> 
		<script src="assets/scripts/modernizr.min.js"></script> 
		<script src="assets/scripts/jquery.app.js"></script> 
		<script src="jqgrid/js/i18n/grid.locale-en.js"></script> 
		<script src="jqgrid/js/jquery.jqGrid.min.js"></script> 

		<!--Chart code start--> 
		<script src="https://code.highcharts.com/highcharts.js"></script> 
		<script src="https://code.highcharts.com/modules/exporting.js"></script> 

		<script type="text/javascript">
		        function showDiv() {
		            div = document.getElementById('searchResultGrid');
		            div.style.display = "block";
		        }
				function hideDiv() {
		            div = document.getElementById('searchResultGrid');
		            div.style.display = "none";
		        }
		    </script>
		<!--Chart code end-->

	</body>
</html>
