<!doctype html>
<html>
<head>
<title>Content Store :: Search Subject</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
  <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a>Publisher Setup</a></li>
        <li><a>Associate Subscriptions</a></li>
      </ol>
      
      <h2 class="H2-L1">Associate Subscriptions</h2>
      <div class="wrapper container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="mt10 table-demo">
              Select Subscription for "<%= @end_user_first_name+" "+ @end_user_last_name %>"
            </div>
            <div class="table-responsive">
              <%= form_tag subject_group_books_path, :method => 'post' do %>
                <table class="table table-bordered">
                  <thead>
                    <tr style="font-size:13px">
                      <th></th>
                      <th>Subscription Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @subscriptions.present? %>
                      <% @subscriptions.each do |subscription| %>
                        <tr>
                          <td><%= check_box_tag "subscription_id[]", subscription.id %></td>
                          <td><%= subscription.subscription_name %></td>
                        </tr>
<!--                         <%= hidden_field_tag "subject_group_id", @subject_group_id %>
 -->                      <% end %>
                    <% else %>
                      <tr>
                        <td bgcolor="#FBFBFB">
                          <p> Record Not Found </p> 
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= button_tag fa_icon("search", text: "Associate Books"), :class => "btn btn-sm", type: :submit %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-12"></div>
        </div>
      </div>
    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>