<html>
<body class = "body1">
<%= render :partial => '/layouts/header' %>
<div class="div1">

<table>
  <thead>
    <th class="page_head">Upload Metadata Home</th>
  </thead>
 </table>

<div class="center">
<table style="text-align:center;">
  <tr>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("create_book.gif"),new_journal_path %><br>
      Create New Journal
    </td>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("search_book.gif"),search_journals_path %><br>
      Search Journals
    </td>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("book_metadata.gif"),upload_article_metadata_journals_path %><br>
      Upload Article <br> Metadata Sheet
    </td>
  </tr>
  <tr>
      <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("search_book.gif"),search_article_journals_path %><br>
      Search Articles
    </td>
    <td class="gindexborder" colspan="2" valign="top">
      <%= link_to image_tag("create_book.gif"),new_article_journals_path %><br>
      Create New Article
    </td>
  </tr>
</table>
</div>
</div>
</body>
</html>

