<!doctype html>
<html>
<head>
<title>Content Store :: Search Journal</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
  <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
       <li><a> Publisher Setup </li>
       <li><a> Search Journal</a></li>
        </ol>
      
      <h2 class="H2-L1">Search Journal</h2>
      <%= form_tag search_journals_path, :method => 'get', :remote => true do %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher</label>
            <div class="col-sm-8">
             <%= select_tag 'publisher',options_from_collection_for_select(Publisher.all, 'publisher_name', 'publisher_name'), :prompt => "Select publisher", :class => "form-control"%>
            </div>
             <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Code</label>
            <span class="col-sm-8">
              <%= text_field_tag :code, params[:code], :class => "form-control" %>
            </span> 
             <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Title</label>
            <span class="col-sm-8">
              <%= text_field_tag :title, params[:title], :class => "form-control" %>
            </span> 
             <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Primary ISSN</label>
            <span class="col-sm-8">
              <%= text_field_tag :primary_issn, params[:primary_issn], :class => "form-control" %>
            </span> 
             <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Electronic ISSN</label>
            <span class="col-sm-8">
              <%= text_field_tag :electronic_issn, params[:electronic_issn], :class => "form-control" %>
            </span> 
             <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      
      <div class="clearfix m-b-30"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
          <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
          <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
        </div>
      <%end%>
      <div class="clearfix m-b-30"></div>
      
      <div id="search_result"></div>
    </div>
      <!-- Page Content Ends --> 
      <!-- ================== --> 
    
      <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section>
</body>
</html>