<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12">
        <h4 class="borderBottom">Journals</h4>  
      </div>
    </div>
    <div class="row mt10">
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("create_book.gif"),new_journal_path %></div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Create New Journal</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="custCard">
            <div class="cardUp dkBlurBg"></div>
            <div class="aviater"> <%= link_to image_tag("search_book.gif"),search_journals_path %></div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Search Journals</h4>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("create_book.gif"),article_new_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">Create New Article</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("search_book.gif"),article_search_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">Search Articles</h4>
          </div>
        </div>
      </div>
    </div>
    <!--end of row 1-->
    <div class="row mt20">
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("book_metadata.gif"),article_metadata_sheet_path %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">Upload Article <br> Metadata Sheet</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      &nbsp;
    </div>
  </body>
</html>