<!doctype html>
<html>
<head>
<title>Content Store :: Create Journal </title>
<!-- Latest compiled and minified CSS -->
<%= render :partial => "layouts/header"%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag "flaticon.css" %>
<!-- Internal CSS -->
<!--Animation css-->
<%= stylesheet_link_tag "animate.css" %>
<!--Icon-fonts css-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<script src="https://use.fontawesome.com/9575fa9c22.js"></script>
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "helper.css" %>
<%= stylesheet_link_tag "style-old.css" %>
<%= stylesheet_link_tag "accessedit.css" %>
<%= stylesheet_link_tag "ui.jqgrid-bootstrap.css" %>
<!-- javascript files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<%= javascript_include_tag('jquery.slimscroll.min.js') %>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
<script src="https://www.gstatic.com/charts/loader.js"></script> 
<%= javascript_include_tag('pace.min.js') %>
<%= javascript_include_tag('modernizr.min.js') %>
<%= javascript_include_tag('jquery.app.js') %>
<%= javascript_include_tag('grid.locale-en.js') %>
<%= javascript_include_tag('jquery.jqGrid.min.js') %>

</head>

<body>
<!--Main Content Start -->
  <section class="content"> 
    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
           <li><a href="#">Home</a></li>
         <li><a><%= link_to "Manage User Account",manage_user_account_index_path%></a></li>
         <li><a class="active"><%= link_to "Create Journal", institution_account_index_path%></a></li>
      </ol>

      <h2 class="H2-L1">Create Journal</h2>
      <%= form_for @journal, url: journals_create_path do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Journal Code<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :journal_code, :class => "form-control"   %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Publisher<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= select_tag 'publisher',options_from_collection_for_select(Publisher.all, 'publisher_name', 'publisher_name'), :prompt => "Select publisher", :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Journal Title<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :journal_title, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Sub Title</label>
            <span class="col-sm-8">
            <%= text_field_tag :journal_subtitle %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Primary ISSN</label>
            <span class="col-sm-8">
            <%= text_field_tag :journal_primary_issn %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Electronic ISSN</label>
            <span class="col-sm-8">
            <%= text_field_tag :journal_electronic_issn %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Owner</label>
            <span class="col-sm-8">
            <%= text_field_tag :journal_owner %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Language<sup class="mandatory">*</sup> </label>
            <span class="col-sm-8">
            <%= f.select(:language, options_for_select([['Select',0],['Polish',1],['English',2]]))  %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Content Classification</label>
            <span class="col-sm-8">
            <%= select_tag(:journal_content_classification, options_for_select([['Select',0],['Bestsellers',1],['Comming Soon',2],['New Releases',2]]))  %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Journal Distribution</label>
            <div class="col-sm-8">
              <%= f.text_field :journal_distribution, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Price In</label>
            <span class="col-sm-8">
             <%= f.text_field :price_in, :class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Publisher Date</label>
            <span class="col-sm-8">
              <%= f.text_field :journal_publisher_date, :class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Stock Number</label>
            <span class="col-sm-8">
              <%= f.text_field :stock_number, :class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Cover Image</label>
            <span class="col-sm-8">
              <input type="file" name="coverImage" size="60" value="" id="coverImage" style="background-color: #E8E8E8">
              <br />
                  Please upload only a jpg image of (height,width)=(110,74)pixels.
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Categories</label>
            <span class="col-sm-8">
              <%= f.text_area :journal_categories, :class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Journal Description</label>
            <span class="col-sm-8">
              <%= f.text_area :journal_description, :class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Editorial</label>
            <span class="col-sm-8">
              <%= f.radio_button :editorial, 'Internal', :checked => true %> Internal
              <%= f.radio_button :editorial, 'External' %> External<br>
              <%= f.text_area :editorial %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Instructions for Authors</label>
            <span class="col-sm-8">
              <%= f.radio_button :instructions_for_authors, 'Internal', :checked => true %> Internal
              <%= f.radio_button :instructions_for_authors, 'External' %> External<br>
              <%= f.text_area :instructions_for_authors %>
            </span>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">

            <%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i>Create Institutional Accounts'.html_safe, new_institution_account_path, :id => "button_id", :class => "btn btn-sm pull-left" %>

            <%= button_tag fa_icon("submit", text: "Submit"), :class => "btn btn-sm", type: :submit %>

            <%= button_tag fa_icon("reset", text: "Reset"), :class => "btn btn-sm" ,type: :reset%>
          </div>
        </div>
      <% end %>
    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>