<html>
	<body class = "body1">
		<div class="div1">
      <h1> Journal Setup </h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for @journal, url: journals_create_path do |f| %>
            <tr>
              <td>Journal Code:</td>
			        <td><%= f.text_field :journal_code, :class=> 'required'  %></td>
              <td>Publisher:</td>
              <td><%= f.text_field :publisher %></td>
            </tr> 
            <tr> 
              <td>Journal Title:</td>
              <td><%= f.text_field :journal_title %></td>
              <td>Journal Sub Title:</td>
              <td><%= f.text_field :journal_subtitle %></td>
            </tr>
            <tr>
              <td>Journal Primary ISSN:</td>
              <td><%= f.text_field :journal_primary_issn %></td>
              <td>Journal Electronic ISSN:</td>
              <td><%= f.text_field :journal_electronic_issn %></td>
            </tr>
            <tr>
              <td>Journal Owner:</td>
              <td><%= f.text_field :journal_owner %></td>
              <td>Language:</td>
              <td><%= select_tag(:language, options_for_select([['Select',0],['Polish',1],['English',2]]))  %></td>
            </tr>
            <tr>
              <td>Journal Content Classification:</td>
              <td><%= select_tag(:journal_content_classification, options_for_select([['Select',0],['Bestsellers',1],['Comming Soon',2],['New Releases',2]]))  %></td>
              <td>Journal Distributor :</td>
              <td><%= f.text_field :journal_distribution %></td>
            </tr>
            <tr>
              <td>Price in:</td>
              <td><%= f.text_field :price_in %></td>
              <td>Journal Publication Date:</td>
              <td><%= f.text_field :journal_publisher_date %></td>
            </tr>
            <tr>
              <td>Stock Number:</td>
              <td><%= f.text_field :stock_number %></td>
            </tr>
            <tr>
              <td>Cover Image:</td>
              <td colspan="2"><input type="file" name="coverImage" size="60" value="" id="coverImage" style="background-color: #E8E8E8">
              <br />
                  Please upload only a jpg image of (height,width)=(110,74)pixels.</td>
            </tr>
            <tr>
              <td>Journal Categories:</td>
              <td> <%= f.text_area :journal_categories %> </td>
            </tr>
            <tr>
              <td>Journal Description:</td>
              <td><%= f.text_area :journal_description %></td>
            </tr>
            <tr>
              <td>Editorial:</td>
              <td><%= f.radio_button :editorial, 'Internal', :checked => true %> Internal
              <%= f.radio_button :editorial, 'External' %> External<br>
            </tr>
            <tr>
              <td>Instructions for Authors:</td>
              <td><%= f.text_area :instructions_for_authors %></td>
            </tr>

            <td>
              <%= f.submit "Save" %>
            </td>

          <% end %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>
