<html>
	<body class = "body1">
	  <%= render :partial => '/layouts/header'%>
		<div class="div1">

      <h1> Journal Setup </h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for :journal do |f| %>
            <tr>
              <td>Journal Code:</td>
			        <td><%= f.text_field :JOC_CODE %></td>
              <td>Publisher:</td>
              <td><%= select_tag(:JOC_CODE, options_for_select(@pub, prompt = nil),
              { :class => 'form-control' })  %></td>
            </tr> 
            <tr> 
              <td>Journal Title:</td>
              <td><%= f.text_field :JOC_CODE %></td>
              <td>Journal Sub Title:</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Journal Primary ISSN:</td>
              <td><%= f.text_field :JOC_JOUR_PISSN %></td>
              <td>Journal Electronic ISSN:</td>
              <td><%= f.text_field :JOC_JOUR_EISSN %></td>
            </tr>
            <tr>
              <td>Journal Owner:</td>
              <td><%= f.text_field :JOC_OWNER %></td>
              <td>Language:</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Journal Content Classification:</td>
              <td><%= f.text_field :JOC_CODE %></td>
              <td>Journal Distributor :</td>
              <td><%= f.text_field :JOC_DISTRIBUTORS %></td>
            </tr>
            <tr>
              <td>Price in:</td>
              <td><%= f.text_field :JOC_CODE %></td>
              <td>Journal Publication Date:</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Stock Number:</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Cover Image:</td>
              <td colspan="2"><input type="file" name="coverImage" size="60" value="" id="coverImage" style="background-color: #E8E8E8">
              <br />
                  Please upload only a jpg image of (height,width)=(110,74)pixels.</td>
            </tr>
            <tr>
              <td>Journal Categories:</td>
              <td>  </td>
            </tr>
            <tr>
              <td>Journal Description:</td>
              <td><%= f.text_area :JOC_DESCRIPTION %></td>
            </tr>
            <tr>
              <td>Editorial:</td>
              <td><%= f.radio_button :JOC_DESCRIPTION, 'Internal', :checked => true %> Internal
              <%= f.radio_button :JOC_DESCRIPTION, 'External' %> External<br>
              <%= f.text_area :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Instructions for Authors:</td>
              <td><%= f.radio_button :JOC_DESCRIPTION, 'Internal', :checked => true %> Internal
              <%= f.radio_button :JOC_DESCRIPTION, 'External' %> External<br>
              <%= f.text_area :JOC_CODE %></td>
            </tr>

            <%= f.submit "Save" %>

          <% end %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>
<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>