<html>
	<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">

<form name="saveJournal" method="post" action="/AdminTool/saveJournal.do" accept-charset="UTF-8" enctype="multipart/form-data" onsubmit="return validateManageJournalForm();">
          <table border="0" cellpadding="0" cellspacing="0" width="860">
            
		    <tbody>
			
            <tr>
              <td class="page_head"> Journal Setup   </td>
              <td align="right" valign="bottom" class="page_head"><table border="0" cellspacing="0" cellpadding="0" style="margin-bottom:1px;">
      <tr>
        <td><img src="images/btsr01.gif" width="6" height="23" /></td>
        <td style="background-image:url(images/btsr02.gif)"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="javascript:openHelpForTopic('28');" ><img src="images/help_icon.gif" width="16" height="16" border="0" /></a></td>
            <td><a href="javascript:openHelpForTopic('28');" ><span style="font-size:11px;margin-left:8px; margin-right:8px;">Help</span></a></td>
          </tr>
        </table></td>
        <td><img src="images/btsr03.gif" width="6" height="23" /></td>
      </tr>
    </table></td>
            </tr>
            <tr>
              <td colspan="2" align="left"><span><font color="#FF0000">&nbsp;</font></span></td>
            </tr>
            <tr>
              <td colspan="2" align="right"></td>
            </tr>
            
            <tr>
              <td colspan="2"><table border="0" cellpadding="10" cellspacing="0">
                <%= form_for :journal do |f| %>
                Journal Code:
				        <%= f.text_field :JOC_CODE %>
                Publisher:
                <%= f.text_field :JOC_CODE %><br>
                Journal Title:
                <%= f.text_field :JOC_CODE %>
                Journal Sub Title:
                <%= f.text_field :JOC_CODE %><br>
                Journal Primary ISSN:
                <%= f.text_field :JOC_JOUR_PISSN %>
                Journal Electronic ISSN:
                <%= f.text_field :JOC_JOUR_EISSN %><br>
                Journal Owner:
                <%= f.text_field :JOC_OWNER %>
                Language:
                <%= f.text_field :JOC_CODE %><br>
                Journal Content Classification:
                <%= f.text_field :JOC_CODE %>
                Journal Distributor :
                <%= f.text_field :JOC_DISTRIBUTORS %><br>
                Price in:
                <%= f.text_field :JOC_CODE %>
                Journal Publication Date:
                <%= f.text_field :JOC_CODE %><br>
                Stock Number:
                <%= f.text_field :JOC_CODE %><br>
                Cover Image:
                <td colspan="2"><input type="file" name="coverImage" size="60" value="" id="coverImage" style="background-color: #E8E8E8">
          <br />
                    Please upload only a jpg image of (height,width)=(110,74)pixels.</td>
                <%= f.text_field :JOC_CODE %><br>
                Journal Categories:
                <%= f.text_field :JOC_CODE %><br>
                Journal Description:
                <%= f.text_area :JOC_DESCRIPTION %><br>
                Editorial:
                <%= f.radio_button :JOC_DESCRIPTION, 'Internal', :checked => true %> Internal
                <%= f.radio_button :JOC_DESCRIPTION, 'External' %> External<br>
                <%= f.text_area :JOC_CODE %><br>
                Instructions for Authors:
                <%= f.radio_button :JOC_DESCRIPTION, 'Internal', :checked => true %> Internal
                <%= f.radio_button :JOC_DESCRIPTION, 'External' %> External<br>
                <%= f.text_area :JOC_CODE %><br>
                <%= f.submit %>
                <% end %>

                <tbody><tr>
                  <td>Journal Code<span class="mandtory">*</span></td>
				   <td><input type="text" name="jrnlCode" id="jrnlCode" value=""  class="text_field" ></td>
                  <td >Publisher<span class="mandtory">*</span></td>
                  <td>
                  		
                            <select name="pubCode" id="pubCode" onchange="loadLanguagesAndSubjectGroupsByPublisher(this.value);">
                          	<option selected="selected" value="0">Select</option>
                          	
                  						<option value="ab"  
                  						
                  							
                  						>
                  						Aakar Books</option>
                 			
                  						<option value="ap"  
                  						
                  							
                  						>
                  						Aavishar Publications</option>
                 			
                  						<option value="abdp"  
                  						
                  							
                  						>
                  						ABD Publications</option>
                 			
                  						<option value="abhip"  
                  						
                  							
                  						>
                  						Abhishek Publications</option>
                 			
                  						<option value="akp"  
                  						
                  							
                  						>
                  						Agam Kala Prakashan</option>
                 			
                  						<option value="aiaa"  
                  						
                  							
                  						>
                  						AIAA</option>
                 			
                  						<option value="ebookowo"  
                  						
                  							
                  						>
                  						All Free Media (e-bookowo)</option>
                 			
                  						<option value="allenpress"  
                  						
                  							
                  						>
                  						Allen Press</option>
                 			
                  						<option value="alok"  
                  						
                  							
                  						>
                  						alok</option>
                 			
                  						<option value="alpb"  
                  						
                  							
                  						>
                  						Alp Books</option>
                 			
                  						<option value="aph"  
                  						
                  							
                  						>
                  						Anshah Publishing House</option>
                 			
                  						<option value="asb"  
                  						
                  							
                  						>
                  						Asian Books</option>
                 			
                  						<option value="atena"  
                  						
                  							
                  						>
                  						Atēna</option>
                 			
                  						<option value="aup"  
                  						
                  							
                  						>
                  						Authors Press</option>
                 			
                  						<option value="avots"  
                  						
                  							
                  						>
                  						Avots</option>
                 			
                  						<option value="bsp"  
                  						
                  							
                  						>
                  						B S Publication</option>
                 			
                  						<option value="brb"  
                  						
                  							
                  						>
                  						Better Books</option>
                 			
                  						<option value="bk"  
                  						
                  							
                  						>
                  						bijay kmuar</option>
                 			
                  						<option value="bph"  
                  						
                  							
                  						>
                  						Bimla Publishing House</option>
                 			
                  						<option value="bhb"  
                  						
                  							
                  						>
                  						Biotech Books</option>
                 			
                  						<option value="biznesa augstskola turiba"  
                  						
                  							
                  						>
                  						Biznesa augstskola Turība</option>
                 			
                  						<option value="be"  
                  						
                  							
                  						>
                  						Book Enclave</option>
                 			
                  						<option value="u01"  
                  						
                  							
                  						>
                  						check</option>
                 			
                  						<option value="001"  
                  						
                  							
                  						>
                  						check1</option>
                 			
                  						<option value="cp"  
                  						
                  							
                  						>
                  						Computech Publication</option>
                 			
                  						<option value="dbb"  
                  						
                  							
                  						>
                  						Delhi Book Bureau</option>
                 			
                  						<option value="dgramata"  
                  						
                  							
                  						>
                  						Dienas Grāmata</option>
                 			
                  						<option value="djoef"  
                  						
                  							
                  						>
                  						DJØF Forlag</option>
                 			
                  						<option value="dummypub1"  
                  						
                  							
                  						>
                  						Dummy Publisher1</option>
                 			
                  						<option value="dummypub2"  
                  						
                  							
                  						>
                  						Dummy Publisher2</option>
                 			
                  						<option value="egramata"  
                  						
                  							
                  						>
                  						eGramata</option>
                 			
                  						<option value="egrammempublisher"  
                  						
                  							
                  						>
                  						egramataMemberPublisher </option>
                 			
                  						<option value="eb"  
                  						
                  							
                  						>
                  						Epitome Books</option>
                 			
                  						<option value="gtp"  
                  						
                  							
                  						>
                  						Genetech Publications</option>
                 			
                  						<option value="gillmac"  
                  						
                  							
                  						>
                  						Gill & MacMillan</option>
                 			
                  						<option value="gmedia"  
                  						
                  							
                  						>
                  						Global Media</option>
                 			
                  						<option value="gp"  
                  						
                  							
                  						>
                  						Gyan Publications</option>
                 			
                  						<option value="hbpl"  
                  						
                  							
                  						>
                  						Himalaya Books Pvt. Ltd.</option>
                 			
                  						<option value="hph"  
                  						
                  							
                  						>
                  						Himalaya Publishing House</option>
                 			
                  						<option value="hb"  
                  						
                  							
                  						>
                  						Holiday Bookstore</option>
                 			
                  						<option value="ibdc"  
                  						
                  							
                  						>
                  						Ibdc</option>
                 			
                  						<option value="iip"  
                  						
                  							
                  						>
                  						Inter-India Publications</option>
                 			
                  						<option value="jumava"  
                  						
                  							
                  						>
                  						Jumava</option>
                 			
                  						<option value="jana rozes apgads"  
                  						
                  							
                  						>
                  						Jāņa Rozes apgāds</option>
                 			
                  						<option value="kp"  
                  						
                  							
                  						>
                  						Kalpaz Publications</option>
                 			
                  						<option value="kontinents"  
                  						
                  							
                  						>
                  						Kontinents</option>
                 			
                  						<option value="lbb"  
                  						
                  							
                  						>
                  						Latvijas Bībeles biedrība</option>
                 			
                  						<option value="ldp"  
                  						
                  							
                  						>
                  						Leeladevi Publications</option>
                 			
                  						<option value="lkjh"  
                  						
                  							
                  						>
                  						lkjh</option>
                 			
                  						<option value="mpil"  
                  						
                  							
                  						>
                  						macmillan publishers india limited</option>
                 			
                  						<option value="mpst"  
                  						
                  							
                  						>
                  						macmillan publishing</option>
                 			
                  						<option value="madris"  
                  						
                  							
                  						>
                  						Madris</option>
                 			
                  						<option value="mmp"  
                  						
                  							
                  						>
                  						Managalam Prakashan</option>
                 			
                  						<option value="mp"  
                  						
                  							
                  						>
                  						Mayur Publication</option>
                 			
                  						<option value="dummy_mempub"  
                  						
                  							
                  						>
                  						Mem</option>
                 			
                  						<option value="mm"  
                  						
                  							
                  						>
                  						Mind Melodies</option>
                 			
                  						<option value="mjhu"  
                  						
                  							
                  						>
                  						mjhu</option>
                 			
                  						<option value="moderator"  
                  						
                  							
                  						>
                  						Moderator</option>
                 			
                  						<option value="mtp"  
                  						
                  							
                  						>
                  						Mohit Publications</option>
                 			
                  						<option value="mps"  
                  						
                  							
                  						>
                  						MPS</option>
                 			
                  						<option value="1234"  
                  						
                  							
                  						>
                  						mps test</option>
                 			
                  						<option value="mpstest1"  
                  						
                  							
                  						>
                  						mpstest1</option>
                 			
                  						<option value="nims"  
                  						
                  							
                  						>
                  						N.I.M.S</option>
                 			
                  						<option value="ngm"  
                  						
                  							
                  						>
                  						National Gandhi Museum</option>
                 			
                  						<option value="niace"  
                  						
                  							
                  						>
                  						National Institute of Adult Continuing Education (NIACE)</option>
                 			
                  						<option value="np"  
                  						
                  							
                  						>
                  						Navyug Publications</option>
                 			
                  						<option value="nap"  
                  						
                  							
                  						>
                  						New Asian Publications</option>
                 			
                  						<option value="njf"  
                  						
                  							
                  						>
                  						Nyt Juridisk Forlag</option>
                 			
                  						<option value="impuls"  
                  						
                  							
                  						>
                  						Oficyna Wydawnicza Impuls</option>
                 			
                  						<option value="aks"  
                  						
                  							
                  						>
                  						omkar</option>
                 			
                  						<option value="obc"  
                  						
                  							
                  						>
                  						Oxford Book Co.</option>
                 			
                  						<option value="pdp"  
                  						
                  							
                  						>
                  						Paradise Publications</option>
                 			
                  						<option value="pbs"  
                  						
                  							
                  						>
                  						Pharma Book Syndicate</option>
                 			
                  						<option value="pbp"  
                  						
                  							
                  						>
                  						Prabha Publications</option>
                 			
                  						<option value="p01"  
                  						
                  							
                  						>
                  						pradeep</option>
                 			
                  						<option value="pgp"  
                  						
                  							
                  						>
                  						Pragati Prakashan</option>
                 			
                  						<option value="pp"  
                  						
                  							
                  						>
                  						Pragun Publications</option>
                 			
                  						<option value="petergailis"  
                  						
                  							
                  						>
                  						Pētergailis</option>
                 			
                  						<option value="qwer"  
                  						
                  							
                  						>
                  						qwer1</option>
                 			
                  						<option value="rsb"  
                  						
                  							
                  						>
                  						R. S. Books</option>
                 			
                  						<option value="rp"  
                  						
                  							
                  						>
                  						Rahul Publications</option>
                 			
                  						<option value="rjp"  
                  						
                  							
                  						>
                  						Rajat Publications</option>
                 			
                  						<option value="rpp"  
                  						
                  							
                  						>
                  						Rajput Publications</option>
                 			
                  						<option value="raka"  
                  						
                  							
                  						>
                  						RaKa</option>
                 			
                  						<option value="rtp"  
                  						
                  							
                  						>
                  						Rastogi Publications</option>
                 			
                  						<option value="rae"  
                  						
                  							
                  						>
                  						Readworthy And Epitome</option>
                 			
                  						<option value="rts"  
                  						
                  							
                  						>
                  						revive</option>
                 			
                  						<option value="sasp"  
                  						
                  							
                  						>
                  						Satish Serial Publications</option>
                 			
                  						<option value="satp"  
                  						
                  							
                  						>
                  						Satya Prakashan</option>
                 			
                  						<option value="scitp"  
                  						
                  							
                  						>
                  						SCI Tech Publishing</option>
                 			
                  						<option value="sp"  
                  						
                  							
                  						>
                  						Shipra Publications</option>
                 			
                  						<option value="smp"  
                  						
                  							
                  						>
                  						Studium Press</option>
                 			
                  						<option value="sas"  
                  						
                  							
                  						>
                  						Suarup And Sons</option>
                 			
                  						<option value="sunp"  
                  						
                  							
                  						>
                  						Sunrise Publishers</option>
                 			
                  						<option value="skp"  
                  						
                  							
                  						>
                  						Swastik Publications</option>
                 			
                  						<option value="spc"  
                  						
                  							
                  						>
                  						Swastik Publications (Chandigarh)</option>
                 			
                  						<option value="sip"  
                  						
                  							
                  						>
                  						Swati Publications</option>
                 			
                  						<option value="TP"  
                  						
                  							
                  						>
                  						Test Publisher</option>
                 			
                  						<option value="jhup"  
                  						
                  							
                  						>
                  						The Johns Hopkins University Press</option>
                 			
                  						<option value="tiesu namu agentura"  
                  						
                  							
                  						>
                  						Tiesu namu aģentūra</option>
                 			
                  						<option value="uo1"  
                  						
                  							
                  						>
                  						urmi</option>
                 			
                  						<option value="versita"  
                  						
                  							
                  						>
                  						versita.pl</option>
                 			
                  						<option value="croner"  
                  						
                  							
                  						>
                  						Wolters Kluwer Croner business</option>
                 			
                  						<option value="wp"  
                  						
                  							
                  						>
                  						Word Press</option>
                 			
                  						<option value="wasle"  
                  						
                  							
                  						>
                  						World Association For Studies In Literatures In English</option>
                 			
                  						<option value="wtbooks"  
                  						
                  							
                  						>
                  						World Technology</option>
                 			
                  						<option value="ajpress"  
                  						
                  							
                  						>
                  						Wydawnictwo AJ- Press</option>
                 			
                  						<option value="wahe"  
                  						
                  							
                  						>
                  						Wydawnictwo Akademii Humanistyczno-Ekonomicznej w Łodzi</option>
                 			
                  						<option value="empi2"  
                  						
                  							
                  						>
                  						Wydawnictwo eMPi&#178;</option>
                 			
                  						<option value="homodei"  
                  						
                  							
                  						>
                  						Wydawnictwo Homo Dei</option>
                 			
                  						<option value="wkarmel"  
                  						
                  							
                  						>
                  						Wydawnictwo Karmelitów Bosych</option>
                 			
                  						<option value="kastor"  
                  						
                  							
                  						>
                  						Wydawnictwo Kastor</option>
                 			
                  						<option value="wuam"  
                  						
                  							
                  						>
                  						Wydawnictwo Naukowe Uniwersytetu im. Adama Mickiewicza</option>
                 			
                  						<option value="wumk"  
                  						
                  							
                  						>
                  						Wydawnictwo Naukowe Uniwersytetu Mikołaja Kopernika</option>
                 			
                  						<option value="placet"  
                  						
                  							
                  						>
                  						Wydawnictwo Placet</option>
                 			
                  						<option value="wpk"  
                  						
                  							
                  						>
                  						Wydawnictwo Politechniki Krakowskiej</option>
                 			
                  						<option value="wug"  
                  						
                  							
                  						>
                  						Wydawnictwo Uniwersytetu Gdańskiego</option>
                 			
                  						<option value="zysk"  
                  						
                  							
                  						>
                  						Wydawnictwo Zysk i S-ka</option>
                 			
                  						<option value="yp"  
                  						
                  							
                  						>
                  						Yugank Publisher</option>
                 			
                  						<option value="zinatne"  
                  						
                  							
                  						>
                  						Zinātne</option>
                 			
	                      </select>      
	                                  
	                    
	              </td>
				   
                </tr>
                <tr>
                  <td>Journal Title<span class="mandtory">*</span></td>
                  <td><input name="jrnlTitle" type="text" class="text_field" id="jrnlTitle" value=""></td>
                  <td>Journal Sub Title</td>
                  <td><input name="jrnlSubTitle" type="text" class="text_field" id="jrnlSubTitle" value=""></td>
                </tr>
                <tr>
                  <td>Journal Primary ISSN</td>
                  <td><input name="jrnlPrimIssn" type="text" class="text_field" id="jrnlPrimIssn" value=""></td>
                  <td>Journal Electronic ISSN</td>
                  <td><input name="jrnlElecIssn" type="text" class="text_field" id="jrnlElecIssn" value=""></td>
                </tr>
                <tr>
                  <td>Journal Owner</td>
                  <td><input name="jrnlOwner" type="text" class="text_field" id="jrnlOwner"  value=""></td>
                  <td>Language<span class="mandtory">*</span></td>
                  <td>
                  		<div id="languageCombo" >
                  		
								
		    		             <select name="pubLang" id="pubLang">
		            		        <option value="0">Select</option>
								 </select>
								
						
						</div>
					</td>
                </tr>
                <tr>
                  <td>Journal Content Classification</td>
                  <td> 
                  	<div id="classListDivCombo">
                  		
				                  	<select name="jrnlClassification" id="jrnlClassification">
						            	<option value="0">Select</option>
									</select>
						
					</div>
				  </td>
                  <td>Journal Distributor</td>
                  <td><input name="jrnlDist" type="text" class="text_field" id="jrnlDist" value=""></td>
				  
                </tr>
                <tr>
					<td>Price in <div id="pubDefCurrDivElement"> </div>  <input type="hidden" name="pubCurrency" id="pubCurrency" value=""></td>
                  <td><input type="text" name="jrnlPrice" id="jrnlPrice"  class="text_field" value=""></td>
                  <td>Journal Publication Date<span class="mandtory">*</span></td>
                  <td>
                  	<table>
                  	<tr>
                  	
                  	<td><input name="jrnlOnlineDate" type="text" id="cal-field-1" size="15" readonly="readonly" class="text_field" value="" /></td>
                  	<td>
	                  	<a href="#"> 
							<img src="images/search_img_blue.gif" width="21" height="18" border="0" id="cal-button-1" style="cursor:pointer;cursor:hand" /> 
						</a>
				         <script type="text/javascript">
							Calendar.setup({
							inputField    : "cal-field-1",
							button        : "cal-button-1",
							align         : "Tr"
							});
						</script>
                    </td>
                    <td>
                    	<img src="images/clear_cal.gif" width="21" height="18" border="0" onclick="clearElement('cal-field-1')" style="cursor:pointer;cursor:hand" />
                    </td>
                    </tr>
                    </table>
                  </td>
                  
                </tr>
                 <tr> <td>Stock Number</td>
                  <td><input name="stockNumber" type="text" class="text_field" id="stockNumber" value=""></td>
                  </tr>
                
                
                <tr>
				<tr>
				  <td valign="top">Cover Image<span class="mandtory">*</span> </td>
					<td colspan="2"><input type="file" name="coverImage" size="60" value="" id="coverImage" style="background-color: #E8E8E8">
					<br />
		                Please upload only a jpg image of (height,width)=(110,74)pixels.</td>
                  <td>
		                
		          </td>
                  
                </tr>
                
				<tr>
                  <td valign="top">Journal Categories<span class="mandtory">*</span></td>
                  <td colspan="3" >
                  	<div id="subjectGroupCombo" style="height:115px; overflow:auto;">
                    	
                  	</div>
                  </td>
                  
                </tr>
                <tr>
                  <td valign="top">Journal Description<span class="mandtory">*</span></td>
                  <td colspan="3" align="left"><textarea name="jrnlDescription" id="jrnlDescription" rows="5" cols="40"></textarea></td>
                </tr>
                <tr>
                  <td>Editorial</td>
                  <td colspan="3" align="left">
                  	
                  		
                  	Internal <input type="radio" id="editorialType" name="editorialType" value="INTERNAL" checked onClick="javascript: document.getElementById('editorialExternalDiv').style.display='none';document.getElementById('editorialInternalDiv').style.display='block';"  />
					External <input type="radio" id="editorialType" name="editorialType" value="EXTERNAL"  onClick="javascript: document.getElementById('editorialExternalDiv').style.display='block';document.getElementById('editorialInternalDiv').style.display='none';" />
                  </td>
                </tr>
                <tr>
                	<td></td>
                	<td colspan="3" align="left">
						<div id="editorialExternalDiv"  style="display:none;" >
                		
                		<input name="jrnlEditorialExternal" type="text" size="40" class="text_field" id="jrnlEditorialExternal" value="" ><br/>
                		(Url Starting with http://)
						</div>
						<div id="editorialInternalDiv"  style="display:block;" >
						<textarea id="jrnlEditorialInternal" name="jrnlEditorialInternal" rows="5" cols="40"></textarea>
						</div>
                	</td>
                	
                </tr>
                <tr>
                  <td>Instructions for Authors</td>
                  <td colspan="3" align="left">
				 	
                  	
                  	Internal <input type="radio" id="authorInstructionType" name="authorInstructionType" value="INTERNAL" checked onClick="javascript: document.getElementById('authorInstructionExternalDiv').style.display='none';document.getElementById('authorInstructionInternalDiv').style.display='block';"  />
					External <input type="radio" id="authorInstructionType" name="authorInstructionType" value="EXTERNAL"  onClick="javascript: document.getElementById('authorInstructionExternalDiv').style.display='block';document.getElementById('authorInstructionInternalDiv').style.display='none';" />
                  
				  </td>
                </tr>
				<tr>
                	<td></td>
                	<td colspan="3" align="left">
						<div id="authorInstructionExternalDiv"  style="display:none;" >
        
                		<input name="jrnlAuthorInstructionExternal" size="40" type="text" class="text_field" id="jrnlAuthorInstructionExternal" value="" ><br/>
                		(Url Starting with http://)
						</div>
						<div id="authorInstructionInternalDiv"  style="display:block;" >
						<textarea id="jrnlAuthorInstructionInternal" name="jrnlAuthorInstructionInternal" rows="5" cols="40"></textarea>
						</div>
                	</td>
                	
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="3" align="right">
                  <input name="action" value="Save" id="button6" class="submit_btn1" type="submit">
                  
                  <input type="hidden" value="" name="id">
                  </td>
                </tr>
              </tbody></table></td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
          </tbody></table>
</form>
<script type="text/javascript">loadEditor();</script></td>
            <td width="10" align="right" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_right_bg.gif); background-position:right; background-repeat:repeat-y;"><img src="images/right_corn_bot.gif" width="13" height="361" /></td>
          </tr>
          <tr>
            <td width="10" height="10" align="left" valign="bottom"><img src="images/corn_left_bot.gif" width="13" height="17" /></td>
            <td height="10" valign="bottom" bgcolor="#FFFFFF" style="background-image: url(images/tabl_bot_bg.gif); background-position:bottom; background-repeat:repeat-x;"><img src="images/tabl_bot_bg.gif" width="4" height="4" /></td>
            <td width="10" height="10" align="right" valign="bottom"><img src="images/corn_right_bot.gif" width="13" height="17" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" class="footer_white">
Copyright © 2006-2009 MPS Technologies Ltd</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</div>
</body>
</html>