<html>
  <body class = "body1">
    <%= render :partial => '/layouts/header'%>
    <div class="div1">
      <h1>Article Search</h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_tag journals_result_article_path, :method => 'get' do %>
            <tr>
              <td>Journal Title</td>
              <td><%= text_field_tag :journal_title, params[:journal_title] %></td>
            </tr> 
            <tr>
              <td> Title </td>
              <td><%= text_field_tag :title, params[:title] %></td>
            </tr> 
            <tr>
              <td> Content Code </td>
              <td><%= text_field_tag :code, params[:code] %></td>
            </tr> 
            <tr>
              <td>  DOI </td>
              <td><%= text_field_tag :doi, params[:doi] %></td>
            </tr>
            <tr>
              <td>Volume Number </td>
              <td><%= text_field_tag :volume, params[:volume] %></td>
            </tr>
             <tr>
              <td>Issue Number </td>
              <td><%= text_field_tag :issue, params[:issue] %></td>
            </tr>
             <tr>
              <td>Article Section </td>
              <td><%= text_field_tag :article, params[:article] %></td>
            </tr>
             <tr>
              <td>Author First Name </td>
              <td><%= text_field_tag :author_first_name, params[:author_first_name] %></td>
            </tr>
             <tr>
              <td>Author Last Name  </td>
              <td><%= text_field_tag :author_last_name, params[:author_last_name] %></td>
            </tr> 
            <tr>
              <td>
                <%= submit_tag "Submit" %>
                <%= button_tag "Reset", type: :reset %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render :partial => '/layouts/footer'%>
  </body>
</html>