<html>
  <body class = "body1">
    <%= render :partial => '/layouts/header'%>
    <div class="div1">
      <table border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td.page_head> Search Journal</td>
  <tr>
  <tr>
    <td> 
  <tr>
   <%= form_tag search_publishers_path, :method => 'get' do  %>
      <table border="0" cellpadding="10" cellspacing="0">
          <tbody>
            <tr>
              <td>Publisher Name:</td>
              <td><%= collection_select(:PUY_PUBLISHER_COUNTRY_ID, 0, Publisher.all, :id, :publisher_name) %></td>
            </tr> 
            <tr>
              <td> Journal Code</td>
              <td>
                <%= text_field_tag :code, params[:code] %>
             </td>
            </tr> 
            <tr>
              <td> Journal Title</td>
              <td>
                <%= text_field_tag :title, params[:title] %>
             </td>
            </tr> 
            <tr>
              <td>  Journal Primary ISSN</td>
              <td>
                <%= text_field_tag :primary_issn, params[:primary_issn] %>
             </td>
            </tr> 
            <tr>
              <td>Journal Electronic ISSN</td>
              <td>
                <%= text_field_tag :electronic_issn, params[:electronic_issn] %>
             </td>
            </tr> 
            <tr>
              <td>
                <%= submit_tag "Submit" %>
                <%= button_tag "Reset", type: :reset %>
                <% end %>
              </td>
            </tr>
          </tbody>
    </div>
  </body>
</html>

<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>

