<!doctype html>
<html>

<head>
  <title>Content Store :: Create Publisher</title>
  <!-- Latest compiled and minified CSS -->
<%= render :partial => "layouts/header"%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/styles/flaticon.css">
<!-- Internal CSS -->
<!--Animation css-->
<link href="assets/css/animate.css" rel="stylesheet">
<!--Icon-fonts css-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<script src="https://use.fontawesome.com/9575fa9c22.js"></script>
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "helper.css" %>
<%= stylesheet_link_tag "style-old.css" %>
<%= stylesheet_link_tag "accessedit.css" %>
<%= stylesheet_link_tag "ui.jqgrid-bootstrap.css" %>
<!-- javascript files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<%= javascript_include_tag('jquery.slimscroll.min.js') %>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
<script src="https://www.gstatic.com/charts/loader.js"></script> 
<%= javascript_include_tag('pace.min.js') %>
<%= javascript_include_tag('modernizr.min.js') %>
<%= javascript_include_tag('jquery.app.js') %>
<%= javascript_include_tag('grid.locale-en.js') %>
<%= javascript_include_tag('jquery.jqGrid.min.js') %>
</head>

<body >
  <section class="content"> 
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
       <li><a><%= link_to "Publisher Setup"%></li>
       <li><%= link_to "Publisher Details"%></li>
         <div class="pull-right hidden">
          <li><a href="#">Browse by Chapter</a></li>
          <li><a href="#">Browse by Book </a></li>
         </div>
        </ol>
      <h2 class="H2-L1"> Linked Member Publisher </h2>
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr style="font-size:13px">
            <th class="tableheader">Member Publisher Code</td>
            <th class="tableheader">Member Publisher Name</td>
         </tr>
          </thead>
          <tbody>
          <% if @member_publishers.present? %>
            <% @member_publishers.each do |member_publisher| %>
              <tr>
                <td bgcolor="#FBFBFB">
                  <%= link_to member_publisher.member_publisher_code,edit_member_publisher_path(member_publisher) %>
                </td>
                <td bgcolor="#FBFBFB">
                  <%= member_publisher.member_publisher_name %>
                </td>
              </tr>
            <%end%>
          <% else %>
            <tr>
              <td bgcolor="#FBFBFB">
                <p> No Member Publishers Found </p> 
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section>
</body>