<div class="row" id="searchResultGrid">
  <div class="col-md-12">
    <div class="mt10 table-demo">Search Result
    	<span class="pull-right">
	      <div class="dropdown">
	        <ul class="nav">
	          <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
	            <ul class="dropdown-menu-right">
	              <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
	              <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
	              <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
	            </ul>
	          </li>
	        </ul>
	      </div>
      </span>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="font-size:13px">
            <th>Institution ID</th>
            <th>Institution Name</th>
            <th>Lib./Dept. Name</th>
            <th>Country</th>
						<th>Primary Contact Name</th>
            <th>Status</th>
		 				<th>New IP Requests</th>
		 				<th>Actions</th>
          </tr>
        </thead>
         <tbody>
					<% if @insti_bill.present?   %>
 						<% @insti_bill.each do |f| %>
 						 		<tr>
 						 			<% institution_account(f.institution_account_id) %>
						 			<td class="tabledata"><%= f.id %></td>
									<td class="tabledata">
										<%= @id.institution_name %>
									</td>
									<td class="tabledata"><%= @id.libary_name %></td>
									<td class="tabledata">
										<%= f.country_code %>
									</td>
									<td class="tabledata">
											<%= f.first_name + f.last_name %>
									</td>
									<td class="tabledata"><%= @id.status %></td>
									<td class="tabledata">
										<%if @chec.present? %>
												yes
										<%else%>
											 no
										<%end%>
									</td>
									<td class="tabledata">
									<!-- 
										<%= image_tag("IP.gif")%>
										<%= image_tag("User_Subscription.png")%><br>
										<%= image_tag("license.gif")%>
										<%= image_tag("Referral_URL.png")%>
									 -->
										<%= link_to image_tag("Library_User.png"), result_library_users_path(id: f.id) , title: "Library users"%>
										<%= link_to image_tag("managins_user.gif"), inst_admin_result_institution_account_index_path(:id => f.id), title: "Institution Admin User" %>
									</td>
								</tr>
							<% end %>
					<% else %>
						<tr>
							<td>
								Records not found
							</td>
						</tr>
					<% end %>
    		</tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12"> </div>
</div>