<!doctype html>        
<html>
<head>
<title>Content Store :: Institutional Account </title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
  <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>
<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
<!--Main Content Start -->
  <section class="content"> 
  <div class="wrapper container-fluid" style= "padding-top: 5px;">
  <div class="row" id="searchResultGrid">
  <div class="col-md-12">
    <div class="mt10 table-demo">Add Subscription for Institution
      <span class="pull-right">
        <div class="dropdown">
          <!-- <ul class="nav">
            <li class="drop"><i style="cursor: pointer;width: 12px;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul class="dropdown-menu-right">
                <li><a href="#"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></li>
                <li><a href="#"> <i class="fa fa-file-o" aria-hidden="true"></i> CSV</a></li>
                <li><a href="#"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
              </ul>
            </li>
          </ul> -->
        </div>
      </span>
    </div>
    <div class="clearfix"></div>
    <%= form_tag add_subscription_tag_institution_accounts_path, :method => 'post', :class => "form-horizontal form-bg" do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Subscription</label>
            <div class="col-sm-8">
              <%= select_tag 'subscription_id',options_from_collection_for_select(subscription_names, 'id', 'subscription_name'), :prompt => "Select Subscription", :class => "form-control", style: "background-color: #eee;"%>
              <%= hidden_field_tag :institute_account_id, @institute_account.id%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Institution Name</label>
            <div class="col-sm-8">
              <%= text_field_tag :institute_name, @institute_account.institution_name,disabled: true,:class => "form-control", style: "background-color: #eee;"%>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>   
        <div class="clearfix m-b-30"></div>
        <div class="pull-right">
          <%= button_tag fa_icon("save", text: "Submit"), :class => "btn btn-sm", type: :submit, :id => "submit" %>
        </div>
        <div id="search"></div>
  </div>
  </div>
  <%end%> 
  <div class="col-sm-12"> </div>
</div>
    </div>
    <%= render :partial => "layouts/footer" %>
  </section>
</body>
</html>
