<body class = "body1">
	<div class="div1">
		<table>
			<thead>
			 		<tr>
						<th width="15%" class="tableheader">Institution Id</th>	 		
						<th width="15%" class="tableheader">Institution Name</th>
						<th width="15%" class="tableheader">Lib./Dept. Name</th>
						<th width="7%" class="tableheader">Country</th>
						<th width="10%" class="tableheader">Primary Contact Name</th>
						<th width="10%" class="tableheader">Status</th>
						<th width="10%" class="tableheader">New IP Requests</th>
						<th width="25%" align="center" class="tableheader">Actions</th>
			 		</tr>
			</thead>
			<tbody>
				<% if @result.present? %>
					<% @result.each do |f| %>
 						<%if f.status == "active"%>
					 		<tr class="backgroundcolor">
					 			<td class="tabledata"><%= f.id %></td>
								<td class="tabledata">
									<%= link_to (f.institution_name), edit_institution_account_path(f.id) %>
								</td>
								<td class="tabledata"><%= f.library_name %></td>
								<td class="tabledata">
									<%= country_name(f.institution_account_billing_address.country_code)%>
								</td>
								<td class="tabledata">
										<%= link_to (f.institution_account_billing_address.first_name + f.institution_account_billing_address.last_name), edit_institution_account_path(f.id) %>
								</td>
								<td class="tabledata"><%= f.status %></td>
								<td class="tabledata">
									<%if @check.present? %>
											yes
									<%else%>
										 no
									<%end%>
								</td>
								<td class="tabledata">
<!-- 									<%= image_tag("IP.png")%>
									<%= image_tag("subscription.png")%><br>
									<%= image_tag("view_linked_licenses.gif")%>
									<%= image_tag("Referral_URL.png")%>
 -->									<%= image_tag("Library_User.png")%>
									<%= link_to image_tag("institution.png"), institution_account_inst_admin_result_path(f) %>
								</td>
							</tr>
						<% else %>
							<tr>
					 			<td class="tabledata"><%= f.id %></td>		
								<td class="tabledata">
									<%= link_to (f.institution_name), edit_institution_account_path(f.id) %>
								</td>
								<td class="tabledata"><%= f.library_name %></td>
								<td class="tabledata">
									<%= country_name(f.institution_account_billing_address.country_code)%>				
								</td>
								<td class="tabledata">
										<%= link_to (f.institution_account_billing_address.first_name +  f.institution_account_billing_address.last_name), edit_institution_account_path(f.id) %>
								</td>
								<td class="tabledata"><%= f.status %></td>
								<td class="tabledata">
									<%if @check.present? %>
											yes
									<%else%>
										 no
									<%end%>
								</td>
								<td class="tabledata">
								<!-- 
									<%= image_tag("subscription.png")%><br>
									<%= image_tag("view_linked_licenses.gif")%>
									<%= image_tag("Referral_URL.png")%>
								 	<%= image_tag("IP.png")%>-->
									<%= image_tag("Library_User.png")%>
									<%= link_to image_tag("institution.png"), institution_account_inst_admin_result_path(f) %>
								</td>
							</tr>
						<% end %>
					<%end%>
				<% else %>
					<tr>
						<td>
							Records not found
						</td>
					</tr>
				<% end %>
			</tbody> 
		</table>
	</div>
</body>