<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12">
        <h4 class="borderBottom">Publisher Setup</h4>   
      </div>
    </div>
    <div class="row mt10">
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= link_to image_tag("publisher.gif"),publishers_path%>
          </div>
            <div class="card-block">
              <h4 class="card-title">Publisher</h4>
              <p><%= link_to image_tag("search.gif"), publishers_path%>
                 <%= link_to image_tag("create.gif"),{action: 'new', controller: 'publishers'}%></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="custCard">
            <div class="cardUp dkBlurBg"></div>
            <div class="aviater"> <%= image_tag("license_home.gif") %></div>
            <div class="card-block">
              <!--Name-->
              <h4 class="card-title">Auto Generation</h4>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="custCard">
          <div class="cardUp dkBlurBg"></div>
          <div class="aviater"><%= image_tag("site_setting.gif") %></div>
          <div class="card-block">
            <!--Name-->
            <h4 class="card-title">Site Settings</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      &nbsp;
    </div>
  </body>
</html>
