<html>
<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class="div1">
  <table>
    <thead>
      <th class="page_head">Publisher Setup</th>
    </thead>
   </table>

  <div class="center">
    <table>
      <tr>
        <td class="gindexborder" colspan="2" valign="top">
          <%= link_to image_tag("publisher.gif"),publishers_path%><br>
          Publisher
          <table>
              <tr>
                <td class="gindexborder">
                  <%= link_to image_tag("search.gif"), publishers_path%>
                </td>
                <td class="gindexborder">
                  <%= link_to image_tag("create.gif"),{action: 'new', controller: 'publishers'}%>
                </td>
              </tr>
          </table>
        </td>
        <td class="gindexborder" colspan="2" valign="top">
          <%= image_tag("license_home.gif")%><br>
          Auto Generation
        </td>
        <td class="gindexborder" colspan="2" valign="top">
          <%= link_to image_tag("site_setting.gif"), site_settings_site_setting_index_path%><br>
          Site Settings
        </td>
      </tr>
    </table>
  </div>
</div>


<%= render :partial => '/layouts/footer'%>
</body>
</html>