<div class="main-wrapper">
 <%= render :partial => "#{@publisher.theme_name}"%>
  <div class="col-sm-4 col-md-3  ">  
    <%= render :partial => "subject_sidebar"%> 
  </div>
  <!--header_bar-->
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4 col-md-3  ">
        
      </div>
      <div class="col-sm-8 col-md-9 ">
        <div class="row">
          <div class="col-sm-12">
             <div id= 'pub_book'>
           <h1 class="sectionHeading text-uppercase">Contact Us</h1>
     
     <div class="form_bg col-sm-12">
        <div class="col-sm-8">
          <p>We are Happy to answer Your Questions. Just send a Message by filling the below Form with a Question You may have.</p>
          <%= form_tag send_mail_homes_path , :class => "mt-20" do %>
           <div class="form-group">
            <label for="email">Your name: 
            <sup class="mandatory">*</sup></label>
            <%= text_field_tag :name,"", :class => "form-control" %>
          </div>
          <div class="form-group">
            <label for="email">Your email: <sup class="mandatory">*</sup></label>
            <%= text_field_tag :email,"", :required => true ,:class => "form-control" %>
          </div>
          <div class="form-group">
            <label for="email">Subject:</label>
            <%= text_field_tag :subject,"", :class => "form-control" %>
          </div>
        
          <div class="form-group">
            <label for="email">Your message:</label>
            <%= text_area_tag :message,"", :class => "form-control", :style => "resize:none;", :maxlength =>"140", :rows => "7" %>
          </div>
        
          <input name="submit" value="Send Message" class="btn btn-primary " type="submit">
        <%end%>     
      </div>
           
             <div class="col-sm-4 ">
             
  <h1 class="text_uppercase contact_heading">Address</h1>
  <p><b><%= @publisher.publisher_name.presence || "" %></b></p>
  <p><%= @publisher.publisher_address.presence || "" %>

  </p><p><b>Email</b></p>
    <%= link_to @publisher.contact_email, "mailto:#{@publisher.contact_email}"%>
  <p></p>
  <iframe src="https://www.google.com/maps/embed/v1/place?q=118-35+Queens+Blvd.,+Suite+400,+Forest+Hills,+NY+11375,+USA+&amp;key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" width="100%" height="350" frameborder="0" style="border:0"></iframe>
  <!-- <img src="./templates/template1/haylmed/images/contactus-img.png" alt="" title="" /> -->

             </div>
               
            
          </div>
    
          </div>  
        </div>   
      </div>

  </div>
  </div>
  <!-- / footer_section -->
  <footer>
    <%= render :partial => "homes/publisher_footer"%>
  </footer>
</div>
