<html>
  <body class = "body1">
    <div class="row">
      <div class="col-md-12"><h4 class="borderBottom">Create Institutional User</h4>
      </div>
    </div>
    <%= form_for(@inst_admin_user, url: institution_admin_user_index_path ) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group", id="radio">
            <label for="disabledTextInput" class="col-md-12 nopadding">User Role<span class="red">*</span></label>
            <label class="radio-inline">
            <%= f.radio_button :role, 'Primary Institution Administrator' %> Primary Institution Administrator</label>
            <label class="radio-inline"><%= f.radio_button :role,'Institution Administrator'%> Institution Administrator</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" > Publisher</label>
            <%= f.select 'publisher',options_from_collection_for_select(Publisher.all, 'publisher_name', 'publisher_name'), :prompt => "select publisher" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput"  >Institution name<span class="red">*</span></label>
            <%= f.select 'institution_name',options_from_collection_for_select(InstitutionAccount.all, 'institution_name', 'institution_name', :prompt => "select institution name") %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group", id="primary2">
            <label for="disabledTextInput" >User Name </label>
            <%= f.text_field :user_name, :value => "System Generated" %>
          </div>
          <div class="form-group", id="institution2">
            <label for="disabledTextInput" >User Name  SA_ </label>
             <%= f.text_field :user_name %>
          </div>
        </div>
      </div>     
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Status</label>
            <%= f.select 'status',options_for_select(["active","inactive"]), :prompt => "select status" %>
            <label class="checkbox-inline">
              <%= check_box_tag :billing_contact%>
              same as institution billing contact  
            </label>      
          </div>
        </div>
      </div>
      <div class="row" id="billing">
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput">First Name<span class="red">*</span> 
            </label>
            <%= f.text_field :first_name, :id => "first" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Last Name<span class="red">*</span></label>
            <%= f.text_field :last_name, :id => "last" %>
          </div>
        </div>
      </div>
      <div class="row"  >
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput"  > Email Address<span class="red">*</span>
            </label>
            <%= f.text_field :email, :id => "mail" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Phone</label>
            <%= f.text_field :phone, :id => "phone" %>
         </div>
        </div>
      </div>
      <div class="row"  >
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput"  > Position</label>
            <%= f.text_field :position %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Fax</label>
            <%= f.text_field :fax %>
          </div>
        </div>
      </div>
      <div class="row"  >
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput"  > Password<span class="red">*</span></label>
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" >Confirm Password<span class="red">*</span>
            </label>
            <%= f.password_field :confirm_password %>
          </div>
        </div>
      </div>
       <div class="row"  >
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput"  > Comments </label>
            <%= f.text_area :comments %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="disabledTextInput" class="col-md-12" ><br></label>
            <label class="checkbox-inline"><%= check_box_tag(:mail) %>
            Send Email Comfirmation to Email Address above</label>
          </div>
        </div>
      </div> 
      <div class="row"  >
        <div class="col-md-6">        
          <%= f.submit "Submit" %>        
          <%= button_tag "Reset", type: :reset %>
        </div>
      </div>
    <% end %>
  </body>
</html>

<script>   
$(document).ready(function(){
  $('#primary2').hide();
  $('#institution2').hide();
   $('input[type="checkbox"]').click(function(){
      if($('#billing_contact').prop("checked") == true){
         $("#first").prop('disabled', true);
         $("#last").prop('disabled', true);
         $("#mail").prop('disabled', true);
         $("#phone").prop('disabled', true);
       }
      else{
       $("#first").prop('disabled', false);
       $("#last").prop('disabled', false);
       $("#mail").prop('disabled', false);
       $("#phone").prop('disabled', false);
      }
  });

  $(':radio').change(function (event) {
      var id = $(this).val();
      console.log(id);
      if(id.search("Primary Institution Administrator")!=-1)
      {
        $('#institution2').hide();
        $('#primary2').show();
      } else{
        $('#primary2').hide();
        $('#institution2').show();
      }
  });
});
</script>
