<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class = "div1">
<table class = "center" >
  <tr>
    <td class = "page_head"> Create Institution</td>
  </tr>
  <tr>
    <%= form_tag new_institution_admin_user_path, :method => 'get' do |f|%>
      <td align = "left">
        <table border = "0", cellpadding = "10", cellspacing = "0">
          <tbody>
            <tr>
              <td height = "25">  Publisher </td>
              <td align = "left">
                <%= collection_select(:publisher, 0, Publisher.all, :id, :pub_name) %>
              </td>
            </tr>
            <tr>
              <td height = "25">  Institution Name</td>
              <td align = "left">
                <%= collection_select(:institution_name, 0, InstitutionAccount.all, :id, :inst_name) %>
              </td>
            </tr>
            <tr>
              <td align = "left", height = "25"> User Name</td>
              <td align = "left", height = "25">
                <%= text_field_tag :code, params[:code] %>
              </td>
              <td align = "left", height => "25"> Status </td>
              <td align = "left">
                <%= text_field_tag :name, params[:name] %>
              </td>
            </tr>
            <tr>
              <td align = "left", height => "25"> Institution Name</td>
              <td align = "left">
                <%= text_field_tag :name, params[:name] %>
              </td>
              <td height = "25"> Status </td>
              <td height = "25">
                <%= collection_select(:status, 0, InstitutionAccount.all, :id, :status) %>
              </td>
            </tr>
            <!-- tbody -->
            <tr>
              <td align = "left">  
                <%= submit_tag "Submit", :name => nil %>
              </td>
              <td align = "left">
                <%= submit_tag "Reset", :name => nil %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    <% end %>
  </tr>
</table>
</div>
</body>




 

 