<!doctype html>
<html>
<head>
<title>Content Store :: Institutional Admin User </title>
<!-- Latest compiled and minified CSS -->

    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
           <li><a href="#">Home</a></li>
         <li><a>Manage User Account</a></li>
         <li><a>Institutional Admin User</a></li>
      </ol>

      <h2 class="H2-L1">Institutional Admin User</h2>
      <%= form_tag search_op_institution_admin_user_index_path, :method => 'get', :remote => true, :class => "form-horizontal form-bg" do %>  
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label"> First Name <sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= text_field_tag :first_name,"",:class => "form-control" %></td>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Last Name</label>
            <span class="col-sm-8">
            <%= text_field_tag :last_name,"",:class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Email</label>
            <span class="col-sm-8">
            <%= text_field_tag :email,"",:class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Status:</label>
            <span class="col-sm-8">
             <%= select_tag 'status',options_for_select(['active', 'inactive', 'pending']), :prompt => "select status", :class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">User Role</label>
            <span class="col-sm-8">
              <%= text_field_tag :role,"",:class => "form-control" %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">User Name:</label>
            <span class="col-sm-8">
              <%= text_field_tag :user_name,"",:class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Institution Id</label>
            <span class="col-sm-8">
              <%= text_field_tag :institution_id,"",:class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Institution Name</label>
            <span class="col-sm-8">
              <%= text_field_tag :institution_name,"",:class => "form-control" %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">

            <%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i>Create Institutional Admin User'.html_safe, new_institution_admin_user_path, :id => "button_id", :class => "btn btn-sm pull-left" %>

            <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>

            <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-sm" ,type: :reset%>
          </div>
        </div>
      <% end %>
      <div class="clearfix"></div>
      <div class="clearfix m-b-30"></div>
      <div id="search"></div>
    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>
