<html>
  <body class = "body1">
    <%= render :partial => '/layouts/header'%>
    <div class="div1">
      <h1>Create Institutional Users</h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for @inst_admin_user, url: institution_admin_user_index_path do |f| %>
            <tr>
              <td>User Role*</td>
              <td>
              <%= f.radio_button  :role, 'Primary Institution Administrator' %> Primary Institution Administrator
              <%= f.radio_button :role,'Institution Administrator' %> Institution Administrator<br>
              </td>
            </tr>
            <tr>
              <%= render :partial => 'institution_admin_user/primary', :locals => { :f => f} %>
            </tr>
            <tr>
              <td>
                <%= f.submit "save" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>

