<body class = "body1">
	<%= render :partial => '/layouts/header'%>
		<div class="div1">
	 <table>
	 <thead> 
	 	<tr>
    	<td class = "page_head"> Institutional Admin Users</td>
  	</tr>	 	 	 	 	 	 	
 		<tr>
 			<th width="15%" class="tableheader">Contact Name</th>
			<th width="15%" class="tableheader">Email Id</th>
			<th width="15%" class="tableheader">User Status</th>
			<th width="7%" class="tableheader">User Name</th>
			<th width="10%" class="tableheader">User Role</th>
			<th width="10%" class="tableheader">Institution ID</th>
			<th width="10%" class="tableheader">Institution Name</th>
			<th width="25%" align="center" class="tableheader">Action</th>
 		</tr>
	 </thead>
	 <tbody>
			<% @res.each do |f| %>
			<% byebug %>
	 	<%if f.status == "active"%>
	 	<tr class="backgroundcolor">
				<td  class="tabledata"><%= f.first_name %></td>
				<td  class="tabledata"><%= f.email %></td>
				<td  class="tabledata"><%= f.status %></td>
				<td  class="tabledata"><%= f.user_name %></td>
				<td  class="tabledata" ><%= f.role %></td>
				<td  class="tabledata" ></td>
				<td  class="tabledata"><%= f.institution_name %></td>
				<td  class="tabledata">
					<%= image_tag("institutional-user.gif",  size: "17x17")%>
				</td>
		</tr>
		<% else %>
			<tr class="backgroundcolor1">
				<td  class="tabledata"><%= f.first_name %></td>
				<td  class="tabledata"><%= f.email %></td>
				<td  class="tabledata"><%= f.status %></td>
				<td  class="tabledata"><% f.user_name %></td>
				<td  class="tabledata" ><% f.role %></td>
				<td  class="tabledata" ></td>
				<td  class="tabledata"><%= f.institution_name %></td>
				<td  class="tabledata">
					<%= image_tag("institutional-user.gif",  size: "17x17")%>
				</td>
		</tr>
		<% end %>
			<%end%>
	 </tbody> 
	</table>
		</div>
</body>
