<html>
	<body class = "body1">
		<div class="row">
			<div class="col-md-12">
				<h4 class="borderBottom">Manage Access</h4>	 
			</div>
		</div>
		<div class="row mt10">
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= link_to image_tag("my_subscrip.gif"), subscriptions_path %>
					</div>
						<div class="card-block">
              <!--Name-->
              <h4 class="card-title">Subscriptions</h4>
              <hr> 
              <!--Quotation-->
               <p><%= link_to image_tag("search.gif"), subscriptions_path %>				 <%= link_to image_tag("create.gif"), new_subscription_path %></p>
          	</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="custCard">
						<div class="cardUp dkBlurBg"></div>
						<div class="aviater"><%= image_tag("license_home.gif")%></div>
						<div class="card-block">
              <!--Name-->
              <h4 class="card-title">Licenses</h4>
              	<p><%= link_to image_tag("search.gif"), licenses_path %>
									 <%= link_to image_tag("create.gif"),{action: 'new', controller: 'licenses'}%></p>
          	</div>
					</div>
				</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= image_tag("group_license_home.gif")%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">License Groups</h4>
            <p><%= link_to image_tag("search.gif"), license_groups_path %>
							 <%= link_to image_tag("create.gif"),{action: 'new', controller: 'license_groups'}%></p>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= image_tag("campaign.gif")%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Campaigns</h4>
            <p><%= link_to image_tag("search.gif"), campaigns_path%>
								<%= link_to image_tag("create.gif"),{action: 'new', controller: 'campaigns'}%></p>
        	</div>
				</div>
			</div>
		</div>
		<!--end of row 1-->
		<div class="row mt20">
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= image_tag("access_token.gif")%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Access Tokens</h4>
            <p><%= link_to image_tag("search.gif"), access_tokens_path%>
								<%= link_to image_tag("create.gif"),{action: 'new', controller: 'access_tokens'}%>
						</p>
        	</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="custCard">
					<div class="cardUp dkBlurBg"></div>
					<div class="aviater"><%= image_tag("access_token.gif")%></div>
					<div class="card-block">
            <!--Name-->
            <h4 class="card-title">Promo Codes</h4>
           <p><%= link_to image_tag("search.gif"), promo_codes_path%>
							<%= link_to image_tag("create.gif"),{action: 'new', controller: 'promo_codes'}%></p>
        	</div>
				</div>
			</div>
		</div>
		<div class="row mt20">
			&nbsp;
		</div>
	</body>
</html>