<%= render :partial => '/layouts/header'%>

<table>
 	<thead>
 		<th class="page_head">Manage Access</th>
 	</thead>
 </table>

<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("my_subscrip.gif")%><br>
		Subscriptions
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("license_home.gif")%><br>
		Licenses
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="center">
		<%= image_tag("group_license_home.gif")%><br>
		License Groups
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("campaign.gif")%><br>
		Campaigns
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("access_token.gif")%><br>
		Access Tokens
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("access_token.gif")%><br>
		Promo Codes
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("search.gif")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
</tr>
</table>