<html>
<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class="div1">

<table>
 	<thead>
 		<th class="page_head">Manage Access</th>
 	</thead>
 </table>


<div class="center">
<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("my_subscrip.gif")%><br>
		Subscriptions
			<table>
				<tr>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"), subscriptions_path %>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("license_home.gif")%><br>
		Licenses
			<table>
				<tr>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"), licenses_path %>
					</td>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"), licenses_path %>
					</td>
					<td class="gindexborder">
						<%= link_to image_tag("create.gif"),{action: 'new', controller: 'licenses'}%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="center">
		<%= image_tag("group_license_home.gif")%><br>
		License Groups
			<table>
				<tr>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"), license_groups_path %>
					</td>
					<td class="gindexborder">
						<%= image_tag("create.gif")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("campaign.gif")%><br>
		Campaigns
			<table>
				<tr>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"), campaigns_path%>
					</td>
					<td class="gindexborder">
						<%= link_to image_tag("create.gif"),{action: 'new', controller: 'campaigns'}%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("access_token.gif")%><br>
		Access Tokens
			<table>
				<tr>
					<td class="gindexborder">
						<%= link_to image_tag("search.gif"), access_tokens_path%>
					</td>
					<td class="gindexborder">
						<%= link_to image_tag("create.gif"),{action: 'new', controller: 'access_tokens'}%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("access_token.gif")%><br>
		Promo Codes
			<table>
				<tr>
					<td class="gindexborder">
					 <%= link_to image_tag("search.gif"), promo_codes_path%>
					</td>
					<td class="gindexborder">
						<%= link_to image_tag("create.gif"),{action: 'new', controller: 'promo_codes'}%>
					</td>
				</tr>
			</table>
	</td>
</tr>
</table>
</div>
</div>
</body>
</html>