<!doctype html>
<html>
<head>
<title>Content Store :: Search Result</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
       <li><a>   Manage Access </li>
       <li> Search Result </li>
         <div class="pull-right hidden">
          <li><a href="#">Browse by Chapter</a></li>
          <li><a href="#">Browse by Book </a></li>
         </div>
        </ol>
      <h2 class="H2-L1">Search Campaigns</h2>
      <%= form_tag search_campaigns_path, :method => 'get', :remote => true, :class => "form-horizontal form-bg" do %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Publisher<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= select_tag 'publisher_id',options_from_collection_for_select(Publisher.all, 'id', 'publisher_name'), :prompt => "Select publisher",:required => true, :class => "form-control"%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Campaign Name</label>
            <div class="col-sm-8">
              <%= text_field_tag :campaign_name,"",:class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-4 control-label">From<sup class="mandatory">*</sup></label>
          <div class="col-sm-8">
            <%= text_field_tag :from,"",:required => true ,:class => "form-control"  %>
          </div>
        </div></div>
        <div class="col-md-6"><div class="form-group">
          <label for="License" class="col-sm-4 control-label">To</label>
          <div class="col-sm-8">
            <%= text_field_tag :to,"",:class => "form-control" %>
          </div>
        </div></div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Created By</label>
            <div class="col-sm-8">
              <%= text_field_tag :created_by,"",:class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Access Tokens Generated</label>
            <div class="col-sm-8">
              <%= radio_button_tag :access_token_generated, :class => "form-control" %> 
              <%= label :contactmethod_email, 'Yes' %>
              <%= radio_button_tag :access_token_generated,:class => "form-control" %>
              <%= label :contactmethod_sms, 'No' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
            <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit, :id => "submit" %>
            <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-sm" ,type: :reset%>
          </div>
        </div>
      <% end %>
     <div id="search_result"></div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>