<%= render :partial => "#{@publisher.theme_name}"%> 

<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print">
        <a href="index.html"><u>Home</u></a> &gt; Register
      </ul>
      <div class="border_wrapper padding10px">
        <div class=""><h1 class="text_uppercase border_bottom heading-main ">
          NEW USER REGISTRATION</h1>
        </div>
        <div class=" col-sm-12 grayContainer pad20 no-padd">
          <p class="col-sm-12">Thank you for choosing to register. Please provide us with the following details. Fields marked with <sup class="mandatory">*</sup> are compulsory</p>

          <%= form_for(@end_user, url: sign_up_homes_path) do |f| %>
            <%= f.hidden_field :publisher_id, value: @publisher.id %>
            <div class = "form-horizontal col-sm-7 mt20">
              <div class="form-group">
                <label class="control-label col-sm-4" for="email"><%= f.label :email %>: <sup class="mandatory">*</sup></label>
                <div class="col-sm-8">
                  <%= f.email_field :email, :required => true ,:class => "form-control", :placeholder => "Enter email" %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4" for="pwd"><%= f.label :password %>:<sup class="mandatory">*</sup></label>
                <div class="col-sm-8">          
                  <%= f.password_field :password, :required => true ,:class => "form-control", :placeholder => "Enter Password" %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4" for="pwd"><%= f.label :confirm_password, "Confirm Password" %>: <sup class="mandatory">*</sup></label>
                <div class="col-sm-8">          
                  <%= f.password_field :confirm_password, :required => true ,:class => "form-control", :placeholder => "Confirm Password" %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4" for="email"><%= f.label :first_name %>:<sup class="mandatory">*</sup></label>
                <div class="col-sm-8">
                  <%= f.text_field :first_name, :required => true ,:class => "form-control", :placeholder => "First Name" %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4" for="email"><%= f.label :last_name %>:<sup class="mandatory">*</sup></label>
                <div class="col-sm-8">
                  <%= f.text_field :last_name, :required => true ,:class => "form-control", :placeholder => "Last Name" %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4" for="email">Country:<sup class="mandatory">*</sup></label>
                <div class="col-sm-8">
                  <%= f.select 'country_code',options_from_collection_for_select(Country.all.order('country_name asc'), 'country_code', 'country_name'),{ :prompt => "Select Country"},{required: true, :class => "form-control"} %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-4" for="checkbox"></label>
              <div class="col-sm-12">
                <label style="padding-left:200px" class="checkbox"><input type="checkbox" name="sendToMyEmailId" value="on">Your registration details are required to fully use this site. Should you wish not to receive any further information or being contacted by our marketing team, please select this checkbox.
                </label>
              </div>
            </div>
            <div class="col-sm-12">
              <p class="mt20">If you want to set up an email alert click <a style="cursor:pointer" class="" data-toggle="collapse" data-target="#show">here</a>.<br><%= link_to "What are email alerts?", "http://ebooks.wtbooks.com/static/templates/template1/wtbooks/files/help/en/index.htm", target: "_blank" %>
                <div id="show" class="collapse">
                  <div class=" col-sm-12 jumbotron pad20">                 
                    <p><strong>Email Alerts</strong></p>
                    <p>Please send me alerts on the following subject(s):</p>
                    <p><strong>Subject Categories</strong></p>
                    <div class="control-group" id="ckbox">
                      <% if @subject_group.present? %>
                        <% @subject_group.each do |subject_group| %>
                          <tr class="content_value">
                            <td>
                              <input type="checkbox" name="checkbox" id="chk" />
                            </td>
                            <td>
                              <%= subject_group.subject_group_name %>
                            </td>
                          </tr>
                        <% end %>
                      <%else%>
                        No Record Found
                      <%end%>                
                    </div>
                    <br>     
                    <p>You can opt in or out of these alerts any time. For the purposes of data protection legistation, submitting this page will indicate you have opted-in, and provided direct consent to receive the e-alerts you have selected. To find out more about our commitment to confidentiality and data protection, please see our <%= link_to "privacy policy", "http://ebooks.wtbooks.com/BookStore/displayDataHome.do?popUp=true&key=PRIVACY_POLICY", target: "_blank" %>.</p>
                  </div>
                </div>
              </p>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="email"></label>
              <div class="col-sm-8">
                <%= recaptcha_tags %>
              </div>
            </div>
            <div class="clearfix"></div>
            <p class="mt10">
              <%= f.submit "Submit", class: "btn btn-inverse" %>
              <%= button_tag fa_icon("cancel", text: "Cancel"), :class => "btn btn-default" ,type: :reset%>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>