<%= render :partial => "#{@publisher.theme_name}"%> 

<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print"> 
        <a href="index.html"><u>Home</u></a> &gt; Login
      </ul>
      <div class="border_wrapper padding10px">
        <div class="">
          <h1 class="text_uppercase border_bottom heading-main ">Existing User Login</h1>
        </div>
        <p>Please login here or register below.</p>
        <div class="clearfix"></div>
        <div class=" col-sm-12 grayContainer pad20">
          <%= form_for(:session, url: login_homes_path, :html => {:class => 'form-horizontal col-sm-8'}) do |f| %>
            <div class="form-group">
              <label class="control-label col-sm-3" for="email"><%= f.label :email_address %>: <sup class="mandatory">*</sup></label>
              <div class="col-sm-9">
                <%= f.email_field :email, class: 'form-control', required: "true", placeholder: "Enter Email" %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pwd"><%= f.label :password %>: <sup class="mandatory">*</sup></label>
              <div class="col-sm-9">
                <%= f.password_field :password, class: 'form-control', required: "true", placeholder: "Enter Password" %>          
              </div>
            </div>
            <div class="form-group">        
              <div class="col-sm-offset-3 col-sm-9">
                <%= f.submit "Login", class: "btn btn-inverse" %>
                <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btn btn-default" ,type: :reset%>  
                <a data-backdrop="static" data-keyboard="false" data-toggle="" href="forgotPasswordPageHome.do">&nbsp;&nbsp;Forgot your Password?</a>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 no-padd mt10">
          <h1 class="text_uppercase border_bottom heading-main ">NEW USER REGISTRATION</h1>
          <p>If you are a new user and have not yet registered, 
            <strong>please&nbsp;<%= link_to "register now", registration_homes_path, :class => "ulink" %>
            </strong>.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>