<%= render :partial => "#{@publisher.theme_name}"%> 
<div class="container-fluid">
  <div class="row">
    <%= render :partial => "wtbooks_subject_sidebar"%>
    <div id='pub_book'>  
    <div class="col-sm-8 col-md-9">
      <ul class="breadcrumb breadcrumb2 print">
        <% if @has_subscription.present? %>
         <%= link_to "Home", homes_path%> &gt; Book Reader
        <%else%>
          <%= link_to "Home", homes_path%> &gt; Book Info
        <%end%>
      </ul>
      <div class="border_wrapper padding10px">
        <div class="mt-20" >
          <div class="row">
            <div class="col-md-12">
              <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="<%= 'active' if (params[:tab] == 'tab1'|| !params[:tab]) %>"><a href="#tab1" data-toggle="tab">Book Description</a></li>
                    <%if @has_subscription.present? %>
                      <li class="<%= 'active' if params[:tab] == 'tab9' %>"> <a href="#tab9" data-toggle="tab">Book Reader</a></li>
                    <%end%>
                </ul>

                <div class="tab-content">
                  <div class="<%= if (params[:tab] == 'tab1' || !params[:tab])then 'tab-pane active ' else 'tab-pane' end%>" id="tab1">
                      <div class="tab-pane active mt-20" id="bookInfo">
                    <h2 class="text_uppercase border_bottom padding_bottom12px nomargin ">
                      <%= @book_information.book_title.presence || "" %>
                    </h2>
                    <div class="xtraPadding mt-20">
                      <div class="col-md-3 col-sm-3">
                        <%=  image_tag("http://ebooks.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{ @book_information.isbn}-T-FC.jpg", class: "ownBookImg") %>   
                      </div>
                      <div class="col-md-9 col-sm-9 "> 
                        <!-- <p>To read sections of the book, please use the navigation menu at the top left.</p> -->
                        <div class="clearFloat"></div>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>ISBN&nbsp;:&nbsp;</strong></span><span class="book_description col-xs-12 col-md-8"><%= @book_information.isbn.presence || "" %></span></p>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>Publisher&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-8"><% if @book_information.member_publisher.present? %> <%= @book_information.member_publisher.member_publisher_name.presence || "" %> <%else%>
                          <%= @publisher.publisher_name.presence || "" %><%end%></span></p>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>Language&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-8"><%= @book_information.language.presence || "" %></span></p>
                        <% unless @book_information.subject_groups.blank? %>
                          <p><span class="book_atr col-xs-12 col-md-4"><strong>Category&nbsp;:&nbsp;</strong></span> <span class="book_description col-xs-12 col-md-8"><% if @book_information.member_publisher.present? %><%= @book_information.subject_groups.first.subject_group_name.presence || "" %> <%else%>
                              <% if @book_subject_group.subject_group_name.present? %>
                              <%= @book_subject_group.subject.subject_name.presence || "" %> > <%= @book_subject_group.subject_group_name.presence || "" %>
                              <% end %> 
                            <% end %>
                          </span></p>
                        <% end %>
                        <% unless @book_information.publication_date.blank? %>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>Publication Year&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-8"><%= @book_information.publication_date.to_date.year.presence || "" %></span></p>
                        <% end %>
                        <% unless @book_information.number_of_pages.blank? %>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>No. of pages&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-8"><%= @book_information.number_of_pages.presence || "" %></span></p>
                        <% end %>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>Price&nbsp;:</strong></span><span class="book_description col-xs-12 col-md-8">USD&nbsp;<%=number_with_precision(@book_information.book_price, :precision => 2) %></span></p>
                        <% if @book_information.books_content_pricing.present? %>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>Format&nbsp;:</strong></span><span class="col-xs-12 book_description col-md-8">&nbsp; <%=@book_information.books_content_pricing.format.presence || "" %></span></p>
                        <% end %>
                        <p><span class="col-xs-12 book_atr col-md-4"><strong>Author/Editor&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-8">
                           <% @book_information.books_contributors.each do |book_contributor| %>
                            <%= book_contributor.first_name.presence || "" %>&nbsp<%= book_contributor.last_name.presence || "" %><br>
                          <%end%>
                          </span>
                        </p>
                        <% unless @book_information.book_blurb.blank? %>
                        <p><span class="book_atr col-xs-12 col-md-4"><strong>Description&nbsp;:&nbsp;</strong></span> <span class="col-xs-12 book_description col-md-8"><%= @book_information.book_blurb.presence || "" %></span></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                      <%if params[:tab] == 'tab1'  %>
                      <%end%>
                    </div>
                    <div class="<%=if params[:tab] == 'tab9' then 'tab-pane active'  else 'tab-pane' end%>" id="tab9">
                        <%= render 'book_reader' %>
                    </div>
                </div>
              </div>
             </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%= render :partial => "homes/wtbooks_footer"%>