<!DOCTYPE html>
<html>
<head>
	<title>site_settings</title>
</head>
<body class="body1">
	<%= render :partial => '/layouts/header'%>
	<div class="div1">

		<table>
		 	<thead>
		 		<th class="page_head">Site Settings</th>
		 	</thead>
		</table>

		<%= form_tag site_settings_site_setting_index_path, :method => 'get' do |f| %>
			<table border="0" cellpadding="10" cellspacing="0">
			  <tbody>
			    <tr>
			      <td height="25">Select Publisher</td>
			      <td align="left">
			        <%= select_tag 'PUB_PUBLISHER_ID',options_from_collection_for_select(@pub, 'id', 'PUB_NAME')%>
			      </td>
			      <td>
			      	<%= submit_tag "next"%>
			      </td>
			    </tr>
			  </tbody>
			</table>
		<%end%>
	</div>
	<%= render :partial => '/layouts/footer'%>
</body>
</html>