<section class="content">
    <!--Header-->
      <%= render :partial => "#{@publisher.theme_name}"%> 
    <!--HeaderEnd-->

    <div class="container-fluid">

      <div class="row">

        <div class='container'>
       
          <div id= 'pub_book'>
            
            <!-- Category -->

            <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <div class="border_wrapper padding10px mt5">
          <div id="bodydivs">
            <div class="col-sm-4 nopadding">
              <h3 class="heading1">Search Results</h3>
            </div>
            <div class="text-right col-sm-8 nopadding">
              <%= form_tag  refine_search_homes_path, :method => 'get',:id=>"Author Name/Book Title",:class=>"form-inline pull-right",:remote => true do %>
                <div class="form-group">
                  <%= text_field_tag :search,"", :class => "form-control input-sm", :placeholder => "Refine Search" %>
                  <%= hidden_field_tag :subject_group_id, @subject_group.id%>
                </div>
                <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-primary btn-sm responsive_margin_top20px border_radius3px", type: :submit %>
               <%end%>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12  nopadding  bg-gray mt20">
              <div class="pull-right">
                <div class="pagination pagination-sm nomargin">
                  <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
                </div>
              </div>
            </div>
            <% if @books.present? %>  
              <% @books.each do |f| %>
              <div class="margin_top20px im_width">
                <div class="col-md-2  col-sm-2 col-xs-12 ">
                  <div class="effects search-result">
                    <a href="/#" class="cover2"><%= link_to image_tag("http://www.#{@publisher.domain_name}.com/static/templates/template1/#{@publisher.publisher_code}/thumbnails/#{f.isbn}-T-FC.jpg",class: "img-responsive"), books_description_homes_path(:book_id => f.id), class: "cover2" %></a>
                  </div>
                </div>
                <div class="col-md-10">
                  <h3 title=""><a href="#"><%= link_to truncate(f.book_title.presence || "", length: 14), books_description_homes_path(:book_id => f.id) %></a></h3>
                  <h3 title="Austin Balfour"> By
                    : <span class="dark_yellow"><%= link_to truncate(f.books_contributor.first_name.presence || "" +" "+f.books_contributor.last_name.presence || "", length: 14), books_description_homes_path(:book_id => f.id) %></span></h3>
                  <p>
                    <strong>Description :</strong>   
                      <%= truncate(f.book_blurb.presence || "", length: 30) %>
                      <%= link_to 'more', '', :class => "read-more-#{f.id}" %>
                      <script>
                        $('.read-more-<%= f.id %>').on('click', function(e) {
                          e.preventDefault()
                          $(this).parent().html('<strong> Description:</strong> <%= f.book_blurb %>')
                        })
                      </script>
                   </p>
                  <h3><a href="#">Book Info</a></h3>
                </div>
              </div>
              <% end %>
            <% else %> 
              <div class="container">
               <div class="col-md-12">
                 <h3> Record Not Found </h3>
                </div>
              </div>
            <%end%>
            <div class="border_bottom"></div>
            <div class="clearfix"></div>
            <div class="col-md-12  nopadding  bg-gray mt20">
              <div class="pull-right">
                <div class="pagination pagination-sm nomargin">
                  <%= will_paginate @books,renderer: BootstrapPagination::Rails%>
                </div>
              </div>
            </div>
            <div class=" clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            <!-- Category end -->

          </div>
              
        </div>

      </div>
    </div>

    <footer>
      <%= render :partial => "homes/publisher_footer"%>
    </footer>
  
 
</section>      