<section class="content">
    <!--Header-->
      <%= render :partial => "#{@publisher.theme_name}"%> 
    <!--HeaderEnd-->

    <div class="container-fluid">

      <div class="row">

        <div class='container'>
       
          <div id= 'pub_book'>
            
            <!-- Contact -->

            <div class="border_wrapper padding10px mt5">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="heading1 border_bottom">Contact Us</h1>
        <div class="col-sm-12 form_bg no-pad mt20">
          <div class="col-sm-8">
            <p>Please Fill Below Query Form, We'll right back soon with a response.</p>
            <p><em>Fields marked with <sup class="mandatory">*</sup>are compulsory</em></p>
            <br>
            <form action="search.do" method="get" id="advanceSearchForm" class="form-horizontal ">
              <%= form_tag(send_mail_homes_path) do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <fieldset>
                  <div class="form-group  ">
                    <label class="col-md-3 control-label" for=""> Your name: <sup class="mandatory">*</sup></label>
                    <div class="col-md-6">
                      <%= text_field_tag :name,"", :class => "form-control" %>
                    </div>
                  </div>
                  <div class="form-group  mt-20">
                    <label class="col-md-3 control-label" for=""> Your email: <sup class="mandatory">*</sup></label>
                    <div class="col-md-6">
                      <%= text_field_tag :email,"", :required => true ,:class => "form-control" %>
                    </div>
                  </div>
                  <div class="form-group  mt-20">
                    <label class="col-md-3 control-label" for=""> Subject:</label>
                    <div class="col-md-6">
                      <%= text_field_tag :subject,"", :class => "form-control" %>
                    </div>
                  </div>
                  <div class="form-group  mt-20">
                    <label class="col-md-3 control-label" for=""> Your message: <sup class="mandatory">*</sup> </label>
                    <div class="col-md-6">
                      <%= text_area_tag :message,"", :class => "form-control", :maxlength => "140", :rows => "7" %>
                    </div>
                  </div>
                  <div class="form-group  mt-20">
                    <label class="col-md-3"> &nbsp;</label>
                    <div class="col-md-6">
                      <%= button_tag fa_icon("send Message", text: "Send Message"), :class => "btn btn-primary", type: :submit %>
                    </div>
                  </div>
                </fieldset>
              <% end %>
            </form>
          </div>
          <div class="col-sm-4">
            <div class="contact">      
              <h4 class="text_uppercase heading">ADDRESS</h4>
              <p><!-- @publisher.address -->
              Email-<%= link_to @publisher.contact_email, "mailto:#{@publisher.contact_email}"%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            <!-- Contact end -->

          </div>
              
        </div>

      </div>
    </div>

    <footer>
      <%= render :partial => "homes/publisher_footer"%>
    </footer>
  
 
</section>      