<html>
  <body class = "body1">
    <div class="div1">
      <h1>Search Admin Users</h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_tag admin_user_search_path, :method => 'get' do  %>
            <tr>
              <td>Select Publisher*</td>
              <td><%= text_field_tag :publisher, params[:publisher] %></td>
            </tr> 
            <tr>
              <td>Email</td>
              <td>
                <%= text_field_tag :email, params[:email] %>
             </td>
            </tr> 
            <tr>
              <td>First Name / Last Name</td>
              <td>
                <%= text_field_tag :first_name, params[:first_name] %>
             </td>
            </tr> 
            <tr>
              <td>Country</td>
              <td>
                <%= text_field_tag :country, params[:country] %>
             </td>
            </tr> 
            <tr>
              <td>User Type</td>
              <td><%= radio_button_tag :user_type, 'mps' %>MPS
                  <%= radio_button_tag :user_type, 'publisher' %>Publisher
                  <%= radio_button_tag :user_type, 'member_publisher' %>Member Publisher</td>
            </tr> 
            <tr>
              <td></td>
              <td><%= submit_tag "Search" %>
                  <%= button_tag "Reset", type: :reset %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
