<!doctype html>
<html>
<head>
<title>Content Store :: Search Admin Users</title>
<!-- Latest compiled and minified CSS -->
<%= render :partial => "layouts/header"%>
</head>

<body>
  <!-- Aside Start-->

  <!-- Aside Ends--> 
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
       <li><a><%= link_to "Publisher Setup",publisher_setup_index_path%></li>
       <li><%= link_to "Search Result",publishers_path%></li>
         <div class="pull-right hidden">
          <li><a href="#">Browse by Chapter</a></li>
          <li><a href="#">Browse by Book </a></li>
         </div>
        </ol>
      
      <h2 class="H2-L1">Search Admin Users</h2>
      <%= form_tag search_end_user_index_path, :method => 'get', :remote => true do  %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher</label>
            <div class="col-sm-8">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Email:</label>
            <span class="col-sm-8">
            <%= text_field_tag :email, params[:email] %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">First Name / Last Name</label>
            <span class="col-sm-8">
            <%= text_field_tag :first_name, params[:first_name] %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Country:</label>
            <span class="col-sm-8">
            <%= text_field_tag :country, params[:country] %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">User Type</label>
            <span class="col-sm-8">
              <%= radio_button_tag :user_type, 'mps' %>MPS
              <%= radio_button_tag :user_type, 'publisher' %>Publisher
              <%= radio_button_tag :user_type, 'member_publisher' %>Member Publisher</td>
            </span> 
          </div>
        </div>
        <div class="clearfix"></div>
      
      <div class="clearfix m-b-30"></div>
     <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
      <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
      <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
      <!--<%= submit_tag "Search", :class => "btn btn-sm" %>
      <%= button_tag "Reset", type: :reset, :class => "btnBlack btn-sm" %>-->
        </div>
      <%end%>
      <div class="clearfix m-b-30"></div>
      
      <div id="search_result"></div>
    </div>
      <!-- Page Content Ends --> 
      <!-- ================== --> 
    
      <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
      <!-- Footer Ends --> 
  </section>
</body>
</html>
<!--for popup page all popup comes from this page-->

<!-- Main Content Ends --> 
<!-- Latest compiled and minified JavaScript --> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="assets/scripts/jquery.slimscroll.min.js"></script> 
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
<script src="https://www.gstatic.com/charts/loader.js"></script> 
<script src="assets/scripts/js/pace.min.js"></script> 
<script src="assets/scripts/modernizr.min.js"></script> 
<script src="assets/scripts/jquery.app.js"></script> 
<script src="jqgrid/js/i18n/grid.locale-en.js"></script> 
<script src="jqgrid/js/jquery.jqGrid.min.js"></script> 