<html>
  <body class = "body1">
    <%= render :partial => '/layouts/header'%>
    <div class="div1">

      <h1>Search Admin Users</h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for :admin_users do |f| %>
            <tr>
              <td>Select Publisher*</td>
              <td><%= f.text_field :publisher %></td>
             
            </tr> 
            <tr> 
              <td>Email</td>
              <td><%= f.text_field :email %></td>
            </tr> 
            <tr> 
              <td>First Name / Last Name </td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><%= f.text_field :country %></td>
            </tr> 
            <tr> 
             <td>User Type</td>
              <td><%= f.select(:user_type, options_for_select([['Please Select',0],['MPS',1],['Publisher',2],['Member Publisher',3]]))  %></td>
            </tr>
            <tr>
            	<td></td>
            	<td><%= f.submit "Search" %>
            		<%= f.button "Reset", type: :reset %></td>
       		</tr>


          <% end %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>
<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>