<!doctype html>
<html>
<head>
<title>Content Store :: Search Subject Group</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
   <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
</head>

<body>
  <!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
  <!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
       <li><a> Publisher Setup</a></li>
       <li><a>Search Subject Group</a></li>
      </ol>
      
      <h2 class="H2-L1">Search Subject Group</h2>
      <%= form_tag search_subject_groups_path, :method => 'get', :remote => true do %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher</label>
            <div class="col-sm-8">
             <%= text_field_tag :publisher, params[:publisher] %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Subject Group Name</label>
            <span class="col-sm-8">
            <%= text_field_tag :subject_group_name, params[:subject_group_name] %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Subject Group Code</label>
            <span class="col-sm-8">
            <%= text_field_tag :subject_group_code, params[:subject_group_code] %>
            </span> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Select Language</label>
            <span class="col-sm-8">
            <%= select_tag(:select_language, options_for_select([['Select',0],[' Dansk',1],['Polish',2],['Latvian',3],['English',4]]))  %>
            </span> 
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
            <%= button_tag fa_icon("search", text: "Search"), :class => "btn btn-sm", type: :submit %>
            <%= button_tag fa_icon("refresh", text: "Reset"), :class => "btnBlack btn-sm" ,type: :reset%>
          </div>
          <div class="clearfix m-b-30"></div>
          <div id="search_result"></div>
        </div>
      <%end%>
    </div>
    <!-- Page Content Ends --> 
    <!-- ================== --> 
  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>