<html>
  <body class = "body1">
    <div class="div1">
      <h1> Create Primary Subject Group  </h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for @subject_group, validate: true do |f| %>
            <tr>
              <td>Publisher:</td>
              <td><%= f.text_field :publisher, validate: { presence: true } %></td>
            </tr> 
            <tr> 
              <td>Subject Group Level </td>
              <td><%= f.text_field :subject_group_level %></td>
            </tr> 
            <tr> 
              <td>Subject Group Code *  </td>
              <td><%= f.text_field :subject_group_code %></td>
            </tr>
            <tr>
              <td>Subject Group Name* </td>
              <td><%= f.text_field :subject_group_name %></td>
            </tr> 
            <tr> 
              <td>Guest User View Limit </td>
              <td><%= f.text_field :guest_user_view_limit %></td>
            </tr>
            <tr>
              <td>Auth User View Limit  </td>
              <td><%= f.text_field :authentication_user_view_limit %></td>
            </tr> 
            <tr> 
              <td>Discount Percentage </td>
              <td><%= f.text_field :discount_percentage %></td>
            </tr>
            <tr>
              <td>Viewability Percentage  </td>
              <td><%= f.text_field :viewability_percentage %></td>
            </tr>
            <tr> 
              <td>Select Language * </td>
              <td><%= f.select(:select_language, options_for_select([['Select',0],[' Dansk',1],['Polish',2],['Latvian',3],['English',4]]))  %>
              </td>
            </tr>
            <tr>
              <td>Description </td>
              <td><%= f.text_area :description %></td>
            </tr> 
            <td><%= f.submit "Save" %></td>
            <td><%= f.button "Reset", type: :reset %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
