<html>
	<body class = "body1">
	  <%= render :partial => '/layouts/header'%>
		<div class="div1">

      <h1> Create Primary Subject Group	 </h1>
      <table border="0" cellpadding="10" cellspacing="0">
        <tbody>
          <%= form_for :journal do |f| %>
            <tr>
              <td>Publisher:</td>
              <td><%= collection_select(:PUY_PUBLISHER_COUNTRY_ID, 0, Publisher.all, :id, :PUB_NAME) %></td>
            </tr> 
            <tr> 
              <td>Subject Group Level	</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr> 
            <tr> 
              <td>Subject Group Code *	</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Subject Group Name*	</td>
              <td><%= f.text_field :JOC_JOUR_PISSN %></td>
            </tr> 
            <tr> 
              <td>Guest User View Limit	</td>
              <td><%= f.text_field :JOC_JOUR_EISSN %></td>
            </tr>
            <tr>
              <td>Auth User View Limit	</td>
              <td><%= f.text_field :JOC_OWNER %></td>
            </tr> 
            <tr> 
              <td>Discount Percentage	</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr>
            <tr>
              <td>Viewability Percentage	</td>
              <td><%= f.text_field :JOC_CODE %></td>
            </tr> 
            <tr> 
              <td>Select Language *	</td>
              <td><%= select_tag(:JOC_CODE, options_for_select([['Select',0],[' Dansk',1],['Polish',2],['Latvian',3],['English',4]]))  %></td>
            </tr>
            <tr>
              <td>Description	</td>
              <td><%= f.text_area :JOC_CODE %></td>
            </tr> 
          
            <td><%= f.submit "Save" %></td>
            <td><%= f.button "Reset", type: :reset %></td>


          <% end %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>
<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>