<html>
<title>Content Store :: Create Subject Group</title>
<!-- Latest compiled and minified CSS -->
    <!-- Header -->
    <%= render :partial => "layouts/top_header"%>
    <!-- Header Ends --> 
 </head>

<body>
<!-- Aside Start-->
    <%= render :partial => "layouts/sidebar"%>
    <!-- Aside Ends-->
<!--Main Content Start -->
  <section class="content"> 
    <!-- Page Content Start --> 
    <!-- ================== -->
    <div class="wrapper container-fluid">
      <ol class="breadcrumb">
           <li><a href="#">Home</a></li>
         <li><a>Manage User Account </a></li>
         <li><a>Create Subject Group</a></li>
      </ol>

      <h2 class="H2-L1">Create Subject Group</h2>
      <%= form_for @subject_group, validate: true do |f| %>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Publisher<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.select 'publisher_id',options_from_collection_for_select(publisher_names, 'id', 'publisher_name'),{ :prompt => "Select Publisher"},{:class => "form-control" , style: "background-color: #eee;" } %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Subject Group Level<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :subject_group_level,:required => true, :class => "form-control", :placeholder => "Subject Group Level" %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Subject Group Code<sup class="mandatory">*</sup> </label>
            <div class="col-sm-8">
              <%= f.text_field :subject_group_code,:required => true, :class => "form-control", :placeholder => "Subject Group Code" %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Subject Group Name</label>
            <span class="col-sm-8">
            <%= f.text_field :subject_group_name, :class => "form-control", :placeholder => "Subject Group Name" %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Guest User View Limit</label>
            <span class="col-sm-8">
            <%= f.text_field :guest_user_view_limit, :class => "form-control", :placeholder => "Guest User View Limit" %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Auth User View Limit</label>
            <span class="col-sm-8">
            <%= f.text_field :authentication_user_view_limit, :class => "form-control", :placeholder => "Auth User View Limit" %>
            </span> 
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="bookISBN" class="col-sm-4 control-label">Discount Percentage</label>
            <span class="col-sm-8">
            <%= f.text_field :discount_percentage, :class => "form-control", :placeholder => "Discount Percentage" %>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Viewability Percentage<sup class="mandatory">*</sup> </label>
            <span class="col-sm-8">
            <%= f.text_field :viewability_percentage,:required => true, :class => "form-control", :placeholder => "Duration", :placeholder => "Viewability Percentage" %>
            </span> 
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Select Language<sup class="mandatory">*</sup> </label>
            <span class="col-sm-8">
            <%= f.select 'language',options_for_select(['Dansk', 'Polish', 'Latvian','English']), {:prompt => "Select Language"}, {:class => "form-control" , style: "background-color: #eee;" } %>
            </span> 
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="taskName" class="col-sm-4 control-label">Description<sup class="mandatory">*</sup> </label>
            <span class="col-sm-8">
              <%= f.text_area :subject_group_description, :class => "form-control", :placeholder => "Description" %>
            </span> 
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix m-b-30"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 colx-12 text-right">
            <%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i>Search Subject Group'.html_safe, subject_groups_path, :id => "button_id", :class => "btn btn-sm pull-left" %>
            <%= f.submit "Submit", :class => "btn btn-sm" %>
            <%= f.button "Reset", :class => "btn btn-sm", type: :reset %>
          </div>
        </div>
      <% end %>
    </div>  
    <!-- Footer Start -->
    <%= render :partial => "layouts/footer" %>
    <!-- Footer Ends --> 
  </section>
</body>
</html>