<html>
  <body class = "body1">
    <div class="div1">
      <table border="0" cellpadding="10" cellspacing="0">
        <tr>
          <h1>Search Subject Group</h1>
        </tr>
        <%= form_tag search_result_subject_groups_path, :method => 'get' do %>
          <tbody>
            <tr>
              <td> Publisher </td>
              <td><%= text_field_tag :publisher, params[:publisher] %></td>
            </tr> 
            <tr>
              <td> Subject Group Name </td>
              <td><%= text_field_tag :subject_group_name, params[:subject_group_name] %></td>
            </tr> 
            <tr>
              <td> Subject Group Code </td>
              <td><%= text_field_tag :subject_group_code, params[:subject_group_code] %></td>
            </tr> 
            <tr>
              <td> Select Language </td>
              <td><%= select_tag(:select_language, options_for_select([['Select',0],[' Dansk',1],['Polish',2],['Latvian',3],['English',4]]))  %></td>
            </tr>
            <tr><td></td>
              <td>
                <%= submit_tag "Search" %>
                <%= button_tag "Reset", type: :reset %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </body>
</html>
