<html>
  <body class = "body1">
    <%= render :partial => '/layouts/header'%>
    <div class="div1">
      <table border="0" cellpadding="10" cellspacing="0">
        <tr>
          <h1>Search Subject Group</h1>
        </tr>
        <%= form_tag search_result_subject_groups_path, :method => 'get' do %>
          <tbody>
            <tr>
              <td> Publisher </td>
              <td><%= collection_select(nil, :PUB_PUBLISHER_ID, Publisher.all, :id, :PUB_NAME) %></td>
            </tr> 
            <tr>
              <td> Subject Group Name </td>
              <td><%= text_field_tag :SUG_GROUP_NAME %></td>
            </tr> 
            <tr>
              <td> Subject Group Code </td>
              <td><%= text_field_tag :SUG_GROUP_CODE %></td>
            </tr> 
            <tr>
              <td> Select Language </td>
              <td><%= select_tag(:LAN_LANGUAGE_ID, options_for_select([['Select',0],[' Dansk',1],['Polish',2],['Latvian',3],['English',4]]))  %></td>
            </tr>
            <tr><td></td>
              <td>
                <%= submit_tag "Submit" %>
                <%= button_tag "Reset", type: :reset %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </body>
</html>

<tr>
  <td align="center" class="footer_white">
  Copyright © 2006-2009 MPS Technologies Ltd</td>
</tr>