<html>
<body class = "body1">
<%= render :partial => '/layouts/header'%>
<div class="div1">
<table>
 	<thead>
 		<th class="page_head">Reports</th>
 	</thead>
 </table>

<div class="center">
<table>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		All Title Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Access Token Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="center">
		<%= image_tag("BS_metadata.gif")%><br>
		Ecommerce Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Adobe Download Report
			
	</td>
</tr>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Print On Demand
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("BS_metadata.gif", :size => "30")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("BS_metadata.gif", :size => "30")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("BS_metadata.gif", :size => "30")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Retailer Report
			<table>
				<tr>
					<td class="gindexborder">
						<%= image_tag("BS_metadata.gif", :size => "30")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("BS_metadata.gif", :size => "30")%>
					</td>
					<td class="gindexborder">
						<%= image_tag("BS_metadata.gif", :size => "30")%>
					</td>
				</tr>
			</table>
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Institutional Ecommerce Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Member Publisher Report
			
	</td>
</tr>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		eBook Usage Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		User Marketing Alert Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Stock Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Ecommerce Order Report
			
	</td>
</tr>
<tr>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Borrow Subscription Report
			
	</td>
	<td class="gindexborder" colspan="2" valign="top">
		<%= image_tag("BS_metadata.gif")%><br>
		Matter Code Report
			
	</td>
</tr>
</table>
</div>
</div>
</body>
</html>