<!-- <input type="button" onclick="window.location = '/platform_reports/display1'" >
 -->

 
 <table>
 <tr>
<td><%= image_tag("logo.gif")%></td>
<td class="tab_sel"><%= link_to "Publisher Setup",publisher_setup_index_path%></td>
<td class="tab_sel"><%= link_to "Manage User Account",manage_user_account_index_path%></td>
<td class="tab_sel"><%= link_to "Content Conversation",content_conversation_index_path%></td>
<td class="tab_sel"><%= link_to "Manage Access",manage_access_index_path%></td>
<td class="tab_sel"><%= link_to "PrintHouse Setup",printhouse_setup_index_path%></td>
<td class="tab_sel"><%= link_to "Reports",reports_index_path%></td>

</tr>
</table>