<aside class="left-panel">
   <!-- brand -->
   <div class="logo">
      <a href="index.html" class="logo-expanded">
      <%= image_tag("brand-logo.png" , :class => "logo-lg")%>
      <%= image_tag("brand-logo-sm.png" , :class => "logo-sm")%>
      </a>
   </div>
   <!-- / brand -->
   <!-- Navbar Start -->
   <nav class="navigation">
      <ul class="list-unstyled leftNav">
        <li>
          <a href="#"><i class="material-icons">av_timer</i> <span class="nav-label">Dashboard</span><span class="badge bg-success">5</span></a>
        </li>
        <li>
          <a href="#" class="topMenu"><i class="ion-ios-book"></i> <span class="nav-label sub-drop">Publisher Setup</span><span class="fa fa-angle-right pull-right"></span></a>
          <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Publisher</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Publisher", new_publisher_path%></li>
                     <li><%= link_to "Search Publisher", publishers_path%></li>
                  </ul>
              </li>
		          <li>
                  <a href="#"> Site Setting</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="topMenu"><i class="ion-ios-book"></i> <span class="nav-label sub-drop">Manage User Account</span><span class="fa fa-angle-right pull-right"></span></a>
          <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Retailer</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Retailer", retailers_path %></li>
                     <!-- <li><%= link_to "Search Retailer", publishers_path%></li> -->
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>End User</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create End User", new_end_user_path%></li>
                    <li><%= link_to "Search End User", end_user_index_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Admin User</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Admin User", new_admin_user_path%></li>
                    <li><%= link_to "Search Admin User", admin_user_index_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Institutional Account</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Account", new_institution_account_path%></li>
                     <li><%= link_to "Search Institutional Account", institution_account_index_path%></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Institutional Admin User</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Institutional Admin User", new_institution_admin_user_path%></li>
                     <li><%= link_to "Search Institutional Admin User", institution_admin_user_index_path%></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="topMenu" href="javascript:;"><i class="ion-document-text"></i> <span class="nav-label sub-drop">Content Conversion</span><span class="fa fa-angle-right pull-right"></span></a>
            <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Books</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create New Book", new_book_path%></li>
                    <li><%= link_to "Search Book", search_books_path%></li>
                    <li><%= link_to "Book Metadata Sheet", metadata_sheet_books_path%></li>
                    <li><%= link_to "ONIX Input", onix_input_books_path%></li>
                    <li><%= link_to "ONIX Supplement Sheet", onix_supp_sheet_books_path%></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Journals</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create New Journal", new_journal_path %></li>
                    <li><%= link_to "Search Journal", search_journals_path%></li>
                    <li><%= link_to "Article Metadata Sheet", metadata_sheet_article_index_path%></li>
                    <li><%= link_to "Create Articles", new_article_path %></li>
                    <li><%= link_to "Search Articles", search_article_index_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Subject Group</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Subject Group", new_subject_group_path %></li>
                    <li><%= link_to "Search Subject Group", search_subject_groups_path%></li>
                    <li><%= link_to "Upload Subject Group Metadata Sheet", metadata_sheet_subject_groups_path %></li>
                  </ul>
              </li>
              <li><%= link_to "Uploaded Errors", update_status_content_conversation_index_path %></li>
              <li><%= link_to "Update Status", update_status_content_conversation_index_path %></li>
              <li><%= link_to "Content History", content_history_content_conversation_index_path %></li>
              <li><%= link_to "QA Check", qa_check_content_conversation_index_path %></li>
              <li><%= link_to "Index Content", index_content_content_conversation_index_path %></li>
            </ul>
          </li>
          <li>
            <a class="topMenu" href="javascript:;"><i class="flaticon-people"></i> <span class="nav-label sub-drop">Manage Access</span><span class="fa fa-angle-right pull-right"></span></a>
            <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Subscriptions</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Subscription",new_subscription_path %></li>
                     <li><%= link_to "Search Subscription",subscriptions_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Licenses</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Licenses",new_license_path %></li>
                     <li>
                       <%= link_to "Search Licenses",licenses_path %>
                     </li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>License Groups</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create License Groups ",new_license_group_path %></li>
                     <li><%= link_to "Search License Groups",license_groups_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Campaigns</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Campaigns",new_campaign_path %></li>
                     <li><%= link_to "Search Campaigns",campaigns_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Access Token</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><a href="#">Create Access Token </a></li>
                     <li><a href="#">Search Access Token</a></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Promo Code</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Promo Code",new_promo_code_path %></li>
                     <li><%= link_to "Search Promo Code",promo_codes_path %></li>
                  </ul>
              </li>
            </ul>
		      </li>          
      </ul>
    <%= link_to "sign out", destroy_user_session_path, :method => "delete"%>
   </nav>
</aside>
	  