<aside class="left-panel">
   <!-- brand -->
   <div class="logo">
      <a href="index.html" class="logo-expanded">
      <%= image_tag("brand-logo.png" , :class => "logo-lg")%>
      <%= image_tag("brand-logo-sm.png" , :class => "logo-sm")%>
      </a>
   </div>
   <!-- / brand -->
   <!-- Navbar Start -->
   <nav class="navigation">
      <ul class="list-unstyled leftNav">
        <li>
          <%= link_to '<i class="material-icons">av_timer</i>Dashboard'.html_safe, dashboard_content_conversations_path, :id => "button_id", :class => "nav-label" %>
        </li>
        <li>
          <a href="#" class="topMenu"><i class="ion-ios-book"></i> <span class="nav-label sub-drop">Publisher Setup</span><span class="fa fa-angle-right pull-right"></span></a>
          <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Publisher</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Publisher", new_publisher_path%></li>
                     <li><%= link_to "All Publisher", publishers_path%></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Site Setting</a>
                    <ul class="nav-multi__list nav-multi" style="display:none">
                       <li><%= link_to "Upload Theme", new_theme_path%></li>
                       <li><%= link_to "Select Theme for Publisher", change_theme_themes_path%></li>
                      <li><%= link_to "Books Display", site_settings_path %></li>
                    </ul>
              </ul>
            
          </li>
          <li>
            <a href="#" class="topMenu"><i class="ion-ios-book"></i> <span class="nav-label sub-drop">Manage User Account</span><span class="fa fa-angle-right pull-right"></span></a>
          <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Retailer</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Retailer", retailers_path %></li>
                      <li><%= link_to "Search Retailer", search_retailers_path%></li> 
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>End User</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create End User", new_end_user_path %></li>
                    <li><%= link_to "Search End User", end_users_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Admin User</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Admin User", new_admin_user_path%></li>
                    <li><%= link_to "Search Admin User", admin_users_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Institutional Account</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Account", new_institution_account_path %></li>
                     <li><%= link_to "Search Institutional Account", institution_accounts_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Institutional Admin User</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                     <li><%= link_to "Create New Institutional Admin User", new_institution_admin_user_path%></li>
                     <li><%= link_to "Search Institutional Admin User", institution_admin_users_path%></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="topMenu" href="javascript:;"><i class="ion-document-text"></i> <span class="nav-label sub-drop">Content Conversion</span><span class="fa fa-angle-right pull-right"></span></a>
            <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Books</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create New Book", new_book_path%></li>
                    <!-- <li>
                      <a href="#"> Search Book</a>
                    </li>
                    <li>
                      <a href="#"> Book Metadata Sheet</a>
                    </li>
                    <li>
                      <a href="#">ONIX Input</a>
                    </li>
                    <li>
                      <a href="#">ONIX Supplement Sheet</a>
                    </li> -->
                   <!--  <li><%= link_to "Search Book", search_books_path%></li>
                    <li><%= link_to "Book Metadata Sheet", metadata_sheet_books_path%></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Journals</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li>
                      <a href="#">Create New Journal</a>
                    </li>
                    <li>
                      <a href="#">Search Journal</a>
                    </li>
                    <li>
                      <a href="#">Article Metadata Sheet</a>
                    </li>
                    <li>
                      <a href="#">Create Articles</a>
                    </li>
                    <li>
                      <a href="#">Search Articles</a>
                    </li>
                    <!-- <li><%= link_to "Create New Journal", new_journal_path %></li>
                    <li><%= link_to "Search Journal", journals_path%></li>
                    <li><%= link_to "Article Metadata Sheet", metadata_sheet_articles_path%></li>
                    <li><%= link_to "Create Articles", new_article_path %></li>
                    <li><%= link_to "Search Articles", search_articles_path %></li> -->
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Subject Group</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <!-- <li>
                      <a href="#">Create Subject Group</a>
                    </li>
                    <li>
                      <a href="#">Search Subject Group</a>
                    </li>
                    <li>
                      <a href="#">Upload Subject Group Metadata Sheet</a>
                    </li> -->
                    <li><%= link_to "Create Subject Group", new_subject_group_path %></li>
                    <li><%= link_to "Search Subject Group", subject_groups_path%></li>
                    <!-- <li><%= link_to "Upload Subject Group Metadata Sheet", metadata_sheet_subject_groups_path %></li> -->
                  </ul>
              </li>
<!--               <li>
                <a href="#">Uploaded Errors</a>
              </li>
              <li>
                <a href="#">Update Status</a>
              </li>
              <li>
                <a href="#">Content History</a>
              </li>
              <li>
                <a href="#">QA Check</a>
              </li>
              <li>
                <a href="#">Index Content</a>
              </li> -->
              <!-- <li><%= link_to "Uploaded Errors", update_status_content_conversations_path %></li>
              <li><%= link_to "Update Status", update_status_content_conversations_path %></li>
              <li><%= link_to "Content History", content_history_content_conversations_path %></li>
              <li><%= link_to "QA Check", qa_check_content_conversations_path %></li>
              <li><%= link_to "Index Content", index_content_content_conversations_path %></li> -->
            </ul>
          </li>
          <li>
            <a class="topMenu" href="javascript:;"><i class="flaticon-people"></i> <span class="nav-label sub-drop">Manage Access</span><span class="fa fa-angle-right pull-right"></span></a>
            <ul class="nav-multi__list nav-multi"  style="display:none">
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Subscriptions</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Subscription",new_subscription_path %></li>
                     <!-- <li><%= link_to "Search Subscription",subscriptions_path %></li> -->
                  </ul>
              </li>
              <!-- <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Licenses</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Licenses",new_license_path %></li>
                     <li>
                       <%= link_to "Search Licenses",licenses_path %>
                     </li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>License Groups</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create License Groups ",new_license_group_path %></li>
                     <li><%= link_to "Search License Groups",license_groups_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Campaigns</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Campaigns",new_campaign_path %></li>
                     <li><%= link_to "Search Campaigns",campaigns_path %></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Access Token</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><a href="#">Create Access Token </a></li>
                     <li><a href="#">Search Access Token</a></li>
                  </ul>
              </li>
              <li>
                <a class="submenu"><span class="fa fa-angle-right"></span>Promo Code</a>
                  <ul class="nav-multi__list nav-multi" style="display:none">
                    <li><%= link_to "Create Promo Code",new_promo_code_path %></li>
                     <li><%= link_to "Search Promo Code",promo_codes_path %></li>
                  </ul>
              </li> -->
            </ul>
		      </li>          
      </ul>
      <ul class="list-unstyled leftNav">
        <li>
          <%= link_to '<i class="material-icons">power_settings_new</i>Sign Out'.html_safe, destroy_user_session_path, :method => "delete", :id => "button_id", :class => "nav-label" %>
        </li>
      </ul>
   </nav>
</aside>
	  
