<!DOCTYPE html>
<html>
  <head>
    <title>ContentStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  >
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
  <script src="https://use.fontawesome.com/9575fa9c22.js"></script>
  <!-- cdn for wow -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
  <!-- wow ends -->

  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "helper.css" %>
  <%= stylesheet_link_tag "style-old.css" %>
  <%= stylesheet_link_tag "accessedit.css" %>
  <%= stylesheet_link_tag "ui.jqgrid-bootstrap.css" %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "flaticon.css" %>
  <!-- Internal CSS -->
  <!--Animation css-->
  <%= stylesheet_link_tag "animate.css" %>
  <!--Icon-fonts css-->
  <!-- javascript files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
   <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> 
  <script src="https://www.gstatic.com/charts/loader.js"></script> 
  <%= javascript_include_tag('pace.min.js') %>
  <%= javascript_include_tag('modernizr.min.js') %>
  <%= javascript_include_tag('jquery.app.js') %>
  <%= javascript_include_tag('grid.locale-en.js') %>
  <%= javascript_include_tag('jquery.jqGrid.min.js') %>
  <%= javascript_include_tag('jquery.slimscroll.min.js') %>
  <!-- End -->
 
 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  ></script>
  <script>
  $( function() {
    $( "#from" ).datepicker({
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true
    });
    $( "#to" ).datepicker({
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true
    });
     $( "#from1" ).datepicker({
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true
    });
    $( "#to1" ).datepicker({
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true
    });
  } );
  </script>
</head>
  <body>
    <%= yield %>
  </body>
</html>